{% extends "www/base.html" %}

{% block title %}All Galleries{% endblock %}

{% block extrahead %}
    <script type="text/javascript" src="{{ media_url }}/www/js/jquery.galleria.min.js"></script>
        <script type="text/javascript" src="{{ media_url }}/js/gallery/index-gallery.js"></script>
{% endblock %}

{% block content %}
    <div id="galerija">
    	<div class="galerija-title">
        full size | exif data
        </div>
        <div class="galerija-nav">
{% for g in ordered %}
    <a style="cursor: pointer; text-decoration: underline; color:blue;" id="gallery{{ g.id }}" class="{{ g.classes }}" onclick="menuToggle({{ g.id }}); return false;">{{ g|safe }}<br></a>
{% endfor %}
        </div>
        <div class="galerija-levo">
            	<img src="{{ media_url }}/www/images/puscica-levo.gif" alt="levo" />
            </div>
         <div class="galerija-content">
        		<!--<img src="{{ media_url }}/www/images/galerija-slika.gif" alt="galerija" />-->
         </div>
         <div class="galerija-desno">
            	<img src="{{ media_url }}/www/images/puscica-desno.gif" alt="desno" />
            </div>
         <div class="galerija-content2">
            <ul id="galerija-thumbnails"></ul>
         </div>
    </div>
    
{% endblock %}
