{% extends "www/base.html" %}
{% load i18n %}

{% block title %}{% trans "All Galleries" %}{% endblock %}

{% block extrahead %}
    <script type="text/javascript" src="{{ media_url }}/www/js/jquery.galleria.min.js"></script>
	<script type="text/javascript">
        function gallery_init() {
            $('.gallery_demo').galleria({
                history   : true, // deactivates the history object for bookmarking, back-button etc.
                clickNext : false, // helper for making the image clickable. Let's not have that in this example.
                insert    : ".galerija-content", // the containing selector for our main image. 
                                        // If not found or undefined (like here), galleria will create a container 
                                        // before the ul with the class .galleria_container (see CSS)
                //onImage   : function() { $('.nav').css('display','block'); } // shows the nav when the image is showing
                onImage   : function(image,caption,thumb) { // let's add some image effects for demonstration purposes
                
                    // fade in the image & caption
                    if(! ($.browser.mozilla && navigator.appVersion.indexOf("Win")!=-1) ) { // FF/Win fades large images terribly slow
                        image.css('display','none').fadeIn(1000);
                    }
                    caption.css('display','none').fadeIn(1000);
                    
                    // fetch the thumbnail container
                    var _li = thumb.parent('div');
                    
                    // fade out inactive thumbnail
                    _li.siblings().children('img.selected').fadeTo(500,0.3);
                    
                    // fade in active thumbnail
                    thumb.fadeTo('fast',1).addClass('selected');
                    
                    // add a title for the clickable image
                    image.attr('title','Next image >>');
                },
                onThumb : function(thumb) { // thumbnail effects goes here
                    
                    // fetch the thumbnail container
                    var _li = thumb.parent('div');
                    
                    // if thumbnail is active, fade all the way.
                    var _fadeTo = _li.is('.active') ? '1' : '0.3';
                    
                    // fade in the thumbnail when finnished loading
                    thumb.css({display:'none',opacity:_fadeTo}).fadeIn(1500);
                    
                    // hover effects
                    thumb.hover(
                        function() { thumb.fadeTo('fast',1); },
                        function() { _li.not('.active').children('img').fadeTo('fast',0.3); } // don't fade out if the parent is active
                    )

                    thumb.click(
                        function() { 
                            url = thumb.attr("src");
                            /*hackery i'm not particually proud of
                            example input:
                            /img/wireframes/cache/cp-wire-kiberpipin-blog02_normal.png
                            example output:
                            /img/wireframes/cp-wire-kiberpipin-blog02.png */
                            new_url = url.replace(/(.*)\/cache(.*)_[^.]*(\..*)/, '$1$2$3');
                            $("#full_size").attr("href", new_url);
                            //alert("#" + thumb.attr("src"));
                            //alert($("#" + thumb.attr("src") + " " + "#exif").text());
                            //alert("#" + thumb.attr("class"));
                            //alert($("#"+thumb.attr("src")));
                            //alert($('#' + thumb.attr("class").slice(' ')[0]).html());
                            //$("#"+thumb.attr("src")).hide();
                            }
                    );
                }
            });
        }
        function recurse(me) {
            var classes = $("#gallery"+me).attr("class").split(' ');
            var num = "";
            for (i=0; i < classes.length; i++) {
                if (classes[i] > "parent") {
                    num = classes[i].slice(6); 
                    if (num != 0) {
                        $("#gallery"+num).show();
                        return num;
                    }
                }
            }

            return -1;
        }
        function menuToggle(me) {
            $(".nontop").hide();
            //show callers children..
            $(".parent"+me).show();
            //..and the caller itself...
            $("#gallery"+me).show();
            //...and its parents
            num = me;
            while (num != -1) {
                num = recurse(num);
            }
            $.getJSON("/ajax/gallery/"+me, {
                cache: false
            }, function(data){ 
                    //the gallery_init() bellow creates a new one
                    $(".galleria_wrapper").remove();
                    //console.log(data);
                    
                    for(var i=0;i<data.length;i++){
                        list_elem = $("<div class=\"galerija-button\"><img class=\"thumb\" width=\"100\" height=\"100\" src='"+data[i]["normal_url"]+"' /></div>");
                        
                        $(".galerija-content2").prepend(list_elem);
                    }

                    gallery_init();
                    //now makes sense to display the full size link
                    $("#full_size").show();
            });
        }
        $(document).ready(function(){
            //make copy/pastable urls work
            bits = location.hash.split('/');
            if (bits[2]) {
                $.getJSON("/ajax/gallery/"+bits[2], {
                    cache: false
                }, function(data){ 
                        //the gallery_init() bellow creates a new one
                        $(".galleria_wrapper").remove();
                        //console.log(data);
                        
                        for(var i=0;i<data.length;i++){
                            list_elem = $("<div class=\"galerija-button\"><img width=\"100\" height=\"100\"  src='"+data[i]["normal_url"]+"' /></div>");
                           
                            $(".galerija-content2").append(list_elem);
                        }

                        gallery_init();
                        //now makes sense to display the full size link
                        $("#full_size").show();
                });
            } else {
                //display default image if none has been requested
                $(".galerija-content").html('<img src="http://www.screensite.org/courses/Jbutler/T340/TreasonOfImagesShadow.jpg">');
            }
            $(".nontop").hide(); //show only the top galleries a first
            $('.galerija-content').addClass('gallery_demo'); // adds new class name to maintain degradability
            gallery_init();
        });
    </script>
{% endblock %}

{% block content %}
    <div id="galerija">
    	<div class="galerija-title">
        {% trans "full size" %} | {% trans "exif data" %}
        </div>
        <div class="galerija-nav">
{% for g in ordered %}
    <a style="cursor: pointer; text-decoration: underline; color:blue;" id="gallery{{ g.id }}" class="{{ g.classes }}" onclick="menuToggle({{ g.id }}); return false;">{{ g|safe }}<br></a>
{% endfor %}
        </div>
        <div class="galerija-levo">
            	<img src="{{ media_url }}/www/images/puscica-levo.gif" alt="levo" />
            </div>
         <div class="galerija-content">
        		<img src="{{ media_url }}/www/images/galerija-slika.gif" alt="galerija" />
         </div>
         <div class="galerija-desno">
            	<img src="{{ media_url }}/www/images/puscica-desno.gif" alt="desno" />
            </div>
         <div class="galerija-content2">
            <div class="galerija-button">
                <img src="{{ media_url }}/www/images/galerija-button.gif" alt="button" />
            </div>
            <div class="galerija-lnav">
                <img src="{{ media_url }}/www/images/galerija-nav.gif" alt="nav" />
            </div>
         </div>
    </div>
    
{% endblock %}
