{% extends 'wiki/base.html' %}

{% load wiki %}

{% block content %}
	<h1><a href="{{ article.get_absolute_url }}" rel="bookmark">{{ article.title }}</a></h1>

	{% if not article.id %}
		<p>This article does not exist, <a href="edit/">create it now</a>?</p>
	{% endif %}
    {% autoescape off %}
	    {{ article.content|escape|wikiwordfy|wikify|linebreaks }}
    {% endautoescape %}
{% endblock %}


{% block footer %}
	{% if article.id %}
		<a href="edit/">Edit this article</a>
        |
        <a href="history/">Editing history</a>
	{% else %}
		<a href="edit/">Create this article</a>
	{% endif %}
    |
{% endblock %}
