{% extends "org/base.html" %}

{% block extrahead %}
<script>
function SetInitialFocus(){document.LoginForm.username.focus();}
</script>
{% endblock %}
{% block extrabody %}
<body onLoad="SetInitialFocus()">
{% endblock %}
{% block content %}
{% if is_authenticated %}
<p>V sistem ste ze prijavljeni kot: <tt>{{username}}</tt>. 
   Če se želite prijaviti kot kdo drug uporabnik, 
   <a href="{{ logouturl }}" title="Odjavite se in potem ponovno prijavite">se najprej odjavite</a>.</p>
{% else %}
    <div class="loginbox">
    <table border="0">
    <tbody>
    <tr>
    <form method="POST" action="" name="LoginForm">
    <td>Uporabniško ime: </td>
    <td><input name="username" size="15" taborder="1"></td>
    </tr>
    <tr>
    <td>Geslo: </font></td>
    <td><input name="password" size="15" type="password" taborder="2"></td>
    </tr>
    </tbody>
    </table>
    <input name="prijava" value="Prijava" type="submit"></form></td>
    <input type="hidden" id="next" name="next" value="{{next}}" />
        </table>
        <div id="help">
    </form>
        </div>
{% endif %}
{% endblock %}
