<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="sl" >
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{% block title %}Galerija Kapelica{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{{ media_url }}/kapelica.css" />
    <link rel="stylesheet" type="text/css" href="{{ media_url }}/kapelica-menu.css" />

    {% block extrahead %}{% endblock %}
</head>
<body >
    <div id="header">
        <!-- put some header here -->
	<div id="top">

<ul class="menu1">
	<li>95</li>
	<li>96</li>
	<li>97</li>
	<li>98</li>
	<li>99</li>
	<li>00</li>
	<li>01</li>
	<li>02</li>
	<li>03</li>
	<li>04</li>
	<li>05</li>
	<li>06</li>
</ul>
</div>

<div class="menu2">
<ul>
	  <li><a href="/kapelica/">
	  		<img align="left" border="0" alt="#" src="{{ media_url }}">
	  	</a>
	  </li>
	<li class="products"><a href="#">ABOUT GALLERY
	<!--[if IE 7]><!--></a><!--<![endif]-->
	<table><tr><td>
	<ul>
	<li class="subprod1"><a href="/kapelica/pages/mission/">Mission</a></li>
	<li class="subprod2"><a href="/kapelica/pages/status/">Status</a></li>
	<li class="subprod3"><a href="#">Artistic statement
	<!--[if IE 7]><!--></a><!--<![endif]-->
		<table><tr><td>
		<ul>
		<li><a href="/kapelica/exhibitions/">Exhibitions</a></li>
		<li><a href="/kapelica/performances/">Performances</a></li>
		<li><a href="/kapelica/soundevents/">Sound events</a></li>
		<li><a href="/kapelica/theory/">Theory</a></li>
		</ul>
		</td></tr></table>
	<!--[if lte IE 6]></a><![endif]-->
	</li>
	</ul>
	</td></tr></table>
	<!--[if lte IE 6]></a><![endif]-->
	</li>
<hr>
<li><a href="#">EXHIBITIONS</a></li>
<li><a href="#">PERFOMANCES</a></li>
<li><a href="#">SOUND EVENTS</a></li>
<li><a href="#">THEORY</a></li>
<hr>
<li><a href="#">VIDEO ARCHIVE</a></li>
<li><a href="#">AUDIO ARCHIVE</a></li>
<li><a href="/kapelica/search/">SEARCH ARTIST BY ABCDEFGHIJKLMNOPQRSTUVWYZ</a></li>
<li><a href="/kapelica/current/">CURRENT EVENT</a></li>
<hr>
<li><a href="/kapelica/pages/contact/">CONTACT</a></li>
<li><a href="/kapelica/pages/powered/">POWERED BY</a></li>
<li><a href="/kapelica/pages/links/">LINKS</a></li>
<li><a href="#">WEBSITE ARCHIVE 1995 - 1999</a></li>

</ul>
</div>

<ul>
      {% block links %}
      {% endblock %}
</ul>

<ul>
      {% block events %}
      {% endblock %}
</ul>


{% block content %}{% endblock %}

	</div>
    </div>
</body>
</html>
