<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="sl" >
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{% block title %}Galerija Kapelica{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{{ media_url }}/kapelica.css" />
    <link rel="stylesheet" type="text/css" href="{{ media_url }}/kapelica-menu.css" />

    <script type="text/javascript" src="/intranet/admin/jsi18n/"></script>
    <script type="text/javascript" src="{{ admin_media_prefix }}js/core.js"></script>
    <script type="text/javascript" src="{{ admin_media_prefix }}js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="{{ admin_media_prefix }}js/calendar.js"></script>
    <script type="text/javascript" src="{{ admin_media_prefix }}js/admin/DateTimeShortcuts.js"></script>

    {% block extrahead %}{% endblock %}
</head>
<body >

<div class="nav">
<ul id="links">
      {% block links %}
      {% endblock %}
</ul>

<ul id="events">
      {% block events %}
      {% endblock %}
</ul>
</div>

<div class="content">
	{% block content %}{% endblock %}
</div>

</body>
</html>
