import os
here = lambda x: os.path.abspath(os.path.join(os.path.dirname(__file__), x))

DATABASES = {
    'default': {
        'NAME': here('intranet.db'),
        'ENGINE': 'django.db.backends.sqlite3',
    },
}


BASE_URL = 'http://localhost:8000'

MEDIA_URL = '/smedia/'
ADMIN_MEDIA_PREFIX = '/amedia/'

DEBUG = True
TEMPLATE_DEBUG = DEBUG
SEND_BROKEN_LINK_EMAILS = False
EMAIL_BACKEND = 'django.core.mail.backends.console.EmailBackend'
