{% extends "org/base_bootstrap_fluid_span9.html" %}
{% block title %}Mercenaries{% endblock %}
{% load math %}


{% block navigation %}
<div class="well">
    <div class="module">
        <a href="{% ifequal month "1" %}../../{{ year|sub:"1" }}/12/{% else %}../../{{ year }}/{{ month|sub:"1" }}/{% endifequal %}">&lt;&lt;</a>
        {{ hmonth }} {{ year }}
        <a href="{% ifequal month "12" %}../../{{ year|add:"1" }}/1/{% else %}../../{{ year }}/{{ month|add:"1" }}/{% endifequal %}">&gt;&gt;</a></h2><br />
    </div>
</div>
{% endblock %} 

{% block content-main %}
    <div class="module">
        <form action="{{ request.url }}" method="POST">
            <p>Nazadnje izračunano: {{ last_calculated|date:"d M Y, H:i" }}</p>
            <input class="btn btn-primary" type="submit" name="recalculate" value="Izračunaj napotnice ponovno" />
        </form>
        {% if recalculation_msg %}
        <p><font color="red">{{ recalculation_msg }}</font></p>
        {% endif %}
        <p>Vsi skupaj prek napotnic: {{ all }} &nbsp;<p>
        <p>
            <a class="btn" href="napotnice/">Stud. Napotnice</a>
            <a class="btn" href="redni/">Redni</a>
        </p>
        </div>
{% endblock %}
