<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/base.css{% endblock %}" />
    <link rel="stylesheet" type="text/css" href="{{ media_url }}/admin_head.css" />

{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% admin_media_prefix %}css/rtl.css{% endblock %}" />{% endif %}
{% block extrastyle %}{% endblock %}
{% block extrahead %}{% endblock %}
    <script type="text/javascript" src="{{ media_url }}js/jquery-1.2.6.js" ></script>
  <script>
  $(document).ready(function(){

     $("#togglePipci").click(function () {
      $("#Dogajanje").hide();
      $("#Znanje").hide();
      $("#Sredstva").hide();
      $("#Razno").hide();
      $("#Pipci").toggle();
    });

     $("#toggleDogajanje").click(function () {
      $("#Pipci").hide();
      $("#Znanje").hide();
      $("#Sredstva").hide();
      $("#Razno").hide();
      $("#Dogajanje").toggle();
    });

     $("#toggleZnanje").click(function () {
      $("#Pipci").hide();
      $("#Dogajanje").hide();
      $("#Sredstva").hide();
      $("#Razno").hide();
      $("#Znanje").toggle();
    });

     $("#toggleSredstva").click(function () {
      $("#Pipci").hide();
      $("#Dogajanje").hide();
      $("#Znanje").hide();
      $("#Razno").hide();
      $("#Sredstva").toggle();
    });

     $("#toggleRazno").click(function () {
      $("#Pipci").hide();
      $("#Dogajanje").hide();
      $("#Znanje").hide();
      $("#Sredstva").hide();
      $("#Razno").toggle();
    });

  });
  </script>
</head>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">

<!-- Container -->
<div id="container">

    {% if not is_popup %}
    <!-- Header -->
    <div id="header">
    <div id="top">
    <ul id="login_info">
      <li>{% trans "Hello" %} {{ user.username }}!</li>
      <li><a href="/intranet/accounts/logout/">{% trans "Log out" %}</a></li>
    </ul>
    <ul id="mainmenu">
      <li><a href="/intranet/">
              <img align="left" border="0" alt="Kiberpipa" src="{{ media_url }}/kiberpipa-white.png">
              <br />{% trans "control panel" %}
          </a>
      </li>
    <a href="javascript:;" id="togglePipci">{% trans "Kiberpipa folks" %}</a>
    <a href="javascript:;" id="toggleDogajanje">{% trans "Happening" %}</a>
    <a href="javascript:;" id="toggleZnanje">{% trans "Knowledge" %}</a>
    <a href="javascript:;" id="toggleSredstva">{% trans "Assets" %}</a>
    <a href="javascript:;" id="toggleRazno">{% trans "Misc" %}</a>

      <div id="Pipci" style="display: none;">
      <li><a href="/intranet/dezurni/">{% trans "On duty" %}</a></li>
      <li><a href="/intranet/tehniki/">{% trans "Technicians" %}</a></li>
      <li><a href="/intranet/imenik/">{% trans "Adress book" %}</a></li>
      </div>

      <div id="Dogajanje" style="display: none;">
      <li><a href="/intranet/diarys/">{%trans "Diarys" %}</a></li>
      <li><a href="/intranet/events/">{% trans "Events" %}</a></li>
      <li><a href="/intranet/bugs/">{% trans "Bugs" %}</a></li>
      </div>

      <div id="Znanje" style="display: none;">
      <li><a href="/intranet/wiki/">{% trans "Wiki" %}</a></li>
      <li><a href="/intranet/sodelovanja/">{% trans "Cooperations" %}</a></li>
      <li><a href="/intranet/clipping/">{% trans "Clipping" %}</a></li>
      <li><a href="/intranet/kb/">{% trans "Knowledge" %}</a></li>
      </div>

      <div id="Sredstva" style="display: none;">
      <li><a href="/intranet/lends/">{% trans "Lends" %}</a></li>
      <li><a href="/intranet/shopping/">{% trans "Shopping" %}</a></li>
      <li><a href="/intranet/mercenaries/">{% trans "Mercenaries" %}</a></li>
      </div>

      <div id="Razno" style="display: none;">
      <li><a href="/intranet/admin/">{trans "Administration" %}</a></li>
      </div>
      <!-- <li><a href="/intranet/stats">Statistika</a></li> -->
    </ul>

    </div>
    </div>
    <!-- END Header -->
    {% block breadcrumbs %}<div class="breadcrumbs"><a href="/">{% trans 'Home' %}</a>{% if title %} &rsaquo; {{ title|escape }}{% endif %}</div>{% endblock %}
    {% endif %}

        {% if messages %}
        <ul class="messagelist">{% for message in messages %}<li>{{ message|escape }}</li>{% endfor %}</ul>
        {% endif %}

    <!-- Content -->
    <div id="content" class="{% block coltype %}colM{% endblock %}">
        {% block pretitle %}{% endblock %}
        {% block content_title %}{% if title %}<h1>{{ title|escape }}</h1>{% endif %}{% endblock %}
        {% block content %}{{ content }}{% endblock %}
        {% block sidebar %}{% endblock %}
        <br class="clear" />
    </div>
    <!-- END Content -->

    {% block footer %}<div id="footer"></div>{% endblock %}
</div>
<!-- END Container -->

</body>
</html>
