{% extends "org/base_bootstrap_fluid.html" %}
{% block title %}Imenik{% endblock %}


{% block navigation %}
<div class="well">
  <ul class="nav nav-list">
    <li class="nav-header">Spremeni LDAP geslo</li>
    <li>{% include 'ldap/password_change_node.html' with form=auth_form %}</li>
  </ul>
</div>

<div class="well">
  <ul class="nav nav-list" id="changepw">
    <li class="nav-header">Uredi profil</li>
    <li>
      <form method="POST" action="{{ request.path }}" enctype="multipart/form-data">
      {{ profile_form.as_p }}
      <input class="btn btn-primary" type="submit" value="Submit" />
      </form>
    </li>
  </ul>
</div>
{% endblock %}


{% block content-main %}
  {% for profile in object_list %}
    {% if profile.user.is_active %}
      <div class="module">
      <h2><a name="{{ profile.user.username }}">{{ profile.user.first_name }} "{{ profile.user.username }}" {{ profile.user.last_name }}</a></h2>
        <div class="user" id="profil">
            <ul>
                {% if profile %}
                <li>E-pošta: <a href="mailto:{{ profile.user.email }}">{{ profile.user.email }}</a></li>
                {% if profile.phone %}<li>Telefon: {{ profile.phone }}</li>{% endif %}
                {% if profile.skype %}<li>Skype: {{ profile.skype }}</li>{% endif %}
                {% if profile.jabber %}<li>Jabber/Gtalk: {{ profile.jabber }}</li>{% endif %}
                {% if profile.msn %}<li>MSN: {{ profile.msn }}</li>{% endif %}
                {% if profile.yahoo %}<li>Yahoo: {{ profile.yahoo }}</li>{% endif %}
                {% if profile.blog %}<li>Blog: {{ profile.blog }}</li>{% endif %}
                {% if profile.www %}<li>WWW: {{ profile.www }}</li>{% endif %}
                {% if profile.facebook %}<li>Facebook: {{ profile.facebook }}</li>{% endif %}
                {% if profile.twitter %}<li>Twitter: {{ profile.twitter }}</li>{% endif %}
                {% if profile.linkedin %}<li>LinkedIn: {{ profile.linkedin }}</li>{% endif %}
                {% if profile.flickr %}<li>Flickr: {{ profile.flickr }}</li>{% endif %}
                {% endif %}
                {% for project in profile.project.all %}
                <li>Projekt: {{ project }}</li>
                {% endfor %}
            </ul>
        </div>
</div>
{% endif %}
{% endfor %}
{% endblock %}
