<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="sl" >
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="-1" />

    <title>{% block title %}Intranet | Kiberpipa{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{{ media_url }}/base.css" />
    <link rel="stylesheet" type="text/css" href="{{ media_url }}/nifty.css" />
    <link rel="stylesheet" type="text/css" href="{{ media_url }}/dezuranje.css" />
    <link rel="stylesheet" type="text/css" href="{{ media_url }}/css/jquery.suggest.css" />
	
    <script type="text/javascript" src="{{ media_url }}nifty.js"></script>
    <script type="text/javascript" src="{{ media_url }}sorttable.js"></script>

    <script type="text/javascript" src="/jsi18n/"></script>
    <script type="text/javascript" src="{{ admin_media_prefix }}js/core.js"></script>
    <script type="text/javascript" src="{{ admin_media_prefix }}js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="{{ admin_media_prefix }}js/calendar.js"></script>
    <script type="text/javascript" src="{{ admin_media_prefix }}js/admin/DateTimeShortcuts.js"></script>
  
    <script type="text/javascript" src="{{ media_url }}js/jquery-1.2.6.js" ></script>
    <script type="text/javascript" src="{{ media_url }}js/effects.js" ></script>

  <script>
  $(document).ready(function(){

     $("#togglePipci").click(function () {
      $("#Dogajanje").hide();
      $("#Znanje").hide();
      $("#Sredstva").hide();
      $("#Razno").hide();
      $("#Pipci").toggle();
    });

     $("#toggleDogajanje").click(function () {
      $("#Pipci").hide();
      $("#Znanje").hide();
      $("#Sredstva").hide();
      $("#Razno").hide();
      $("#Dogajanje").toggle();
    });

     $("#toggleZnanje").click(function () {
      $("#Pipci").hide();
      $("#Dogajanje").hide();
      $("#Sredstva").hide();
      $("#Razno").hide();
      $("#Znanje").toggle();
    });

     $("#toggleSredstva").click(function () {
      $("#Pipci").hide();
      $("#Dogajanje").hide();
      $("#Znanje").hide();
      $("#Razno").hide();
      $("#Sredstva").toggle();
    });

     $("#toggleRazno").click(function () {
      $("#Pipci").hide();
      $("#Dogajanje").hide();
      $("#Znanje").hide();
      $("#Sredstva").hide();
      $("#Razno").toggle();
    });

  });
  </script>

    {% block extrahead %}{% endblock %}
</head>
{% block extrabody %}<body>{% endblock %}
    <div id="header">
        <!-- put some header here -->
    <div id="top">
    <ul id="login_info">
      <li>Pozdravljen {{ user.username }}!</li>
      <li><a href="/intranet/accounts/logout/">Odjava</a></li>
      <br />
      {% comment %}
      <form action="/intranet/search/" method="post">
                        <input type="text" name="term" size="22">
                        <input type="submit" value="Najdi">
                    </form>
      {% endcomment %}
    </ul>
    <ul id="mainmenu">
      <li><a href="/intranet/">
              <img id="logo" alt="Kiberpipa" src="{{ media_url }}/kiberpipa-white.png" />
              <br />nadzorna plo&#353;&#269;a
          </a>
      </li>
    {% comment %}<a href="javascript:;" id="togglePipci">Pipci</a>
    <a href="javascript:;" id="toggleDogajanje">Dogajanje</a>
    <a href="javascript:;" id="toggleZnanje">Znanje</a>
    <a href="javascript:;" id="toggleSredstva">Sredstva</a>
    <a href="javascript:;" id="toggleRazno">Razno</a>

      <div id="Pipci" style="display: none;">
      <li><a href="/intranet/dezurni/">De&#382;urni</a></li>
      <li><a href="/intranet/tehniki/">Tehniki</a></li>
      <li><a href="/intranet/imenik/">Imenik</a></li>
      </div>

      <div id="Dogajanje" style="display: none;">
      <li><a href="/intranet/diarys/">Dnevniki</a></li>
      <li><a href="/intranet/events/">Dogodki</a></li>
      <li><a href="/intranet/bugs/">Hro&#353;&#269;i</a></li>
      </div>

      <div id="Znanje" style="display: none;">
      <li><a href="/intranet/wiki/">wiki</a></li>
      <li><a href="/intranet/sodelovanja/">Sodelovanja</a></li>
      <li><a href="/intranet/clipping/">Clipping</a></li>
      <li><a href="/intranet/kb/">Znanje</a></li>
      </div>

      <div id="Sredstva" style="display: none;">
      <li><a href="/intranet/lends/">Reverzi</a></li>
      <li><a href="/intranet/shopping/">Nakupi</a></li>
      <li><a href="/intranet/mercenaries/">Mercenaries</a></li>
      </div>

      <div id="Razno" style="display: none;">
      <li><a href="/intranet/admin">Administracija</a></li>
      {% endcomment %}
      <li><a href="/intranet/dezurni/">De&#382;urni</a></li>
      <li><a href="/intranet/tehniki/">Tehniki</a></li>
      <li><a href="/intranet/imenik/">Imenik</a></li>
      <li><a href="/intranet/diarys/">Dnevniki</a></li>
      <li><a href="/intranet/events/">Dogodki</a></li>
      <li><a href="/intranet/bugs/">Hro&#353;&#269;i</a></li>
      <li><a href="/intranet/wiki/">wiki</a></li>
      <li><a href="/intranet/sodelovanja/">Sodelovanja</a></li>
      <li><a href="/intranet/clipping/">Clipping</a></li>
      <li><a href="/intranet/kb/">Znanje</a></li>
      <li><a href="/intranet/lends/">Reverzi</a></li>
      <li><a href="/intranet/shopping/">Nakupi</a></li>
      <li><a href="/intranet/mercenaries/">Mercenaries</a></li>
      <li><a href="/intranet/admin">Administracija</a></li>
      </div>
    </ul>
    </div>
    </div>

{% block content %}{% endblock %}
<p>
<!-- STATS: Total: %(totTime).2f Python: %(pyTime).2f DB: %(dbTime).2f Queries: %(queries)d -->
</p>
</body>
</html>
