<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="sl" >
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="-1" />

    <title>{% block title %}Intranet | Kiberpipa{% endblock %}</title>
    <link rel="shortcut icon" href="{{ settings.STATIC_URL }}www/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="{{ settings.STATIC_URL }}org/css/base.css" />
    <link rel="stylesheet" type="text/css" href="{{ settings.STATIC_URL }}org/css/nifty.css" />
    <link rel="stylesheet" type="text/css" href="{{ settings.STATIC_URL }}org/css/dezuranje.css" />
    <link rel="stylesheet" type="text/css" href="{{ settings.STATIC_URL }}org/css/jquery.suggest.css" />
    <link rel="stylesheet" type="text/css" href="{{ settings.STATIC_URL }}org/css/overcast/jquery-ui-1.8.14.custom.css" />
    <link rel="stylesheet" type="text/css" href="{{ settings.STATIC_URL }}org/css/jquery-ui-timepicker-addon.css" />
    <link rel="stylesheet" type="text/css" href="{{ settings.STATIC_URL }}chosen/chosen.css" />

    <script type="text/javascript" src="/jsi18n/"></script>
    <script type="text/javascript" src="{{ settings.STATIC_URL }}org/js/jquery-1.6.2.min.js" ></script>
    <script type="text/javascript" src="{{ settings.STATIC_URL }}org/js/jquery-ui-1.8.14.custom.min.js" ></script>
    <script type="text/javascript" src="{{ settings.STATIC_URL }}org/js/jquery-ui-timepicker-addon.js" ></script>
    <script type="text/javascript" src="{{ settings.STATIC_URL }}org/js/nifty.js"></script>
    <script type="text/javascript" src="{{ settings.STATIC_URL }}org/js/sorttable.js"></script>
    <script type="text/javascript" src="{{ settings.STATIC_URL }}org/js/effects.js"></script>
    <script type="text/javascript" src="{{ settings.STATIC_URL }}chosen/chosen.jquery.min.js"></script>
    <script>

    $(document).ready(function(){
 
       $("#togglePipci").click(function () {
        $("#Dogajanje").hide();
        $("#Znanje").hide();
        $("#Sredstva").hide();
        $("#Razno").hide();
        $("#Pipci").toggle();
      });
 
       $("#toggleDogajanje").click(function () {
        $("#Pipci").hide();
        $("#Znanje").hide();
        $("#Sredstva").hide();
        $("#Razno").hide();
        $("#Dogajanje").toggle();
      });
 
       $("#toggleZnanje").click(function () {
        $("#Pipci").hide();
        $("#Dogajanje").hide();
        $("#Sredstva").hide();
        $("#Razno").hide();
        $("#Znanje").toggle();
      });
 
       $("#toggleSredstva").click(function () {
        $("#Pipci").hide();
        $("#Dogajanje").hide();
        $("#Znanje").hide();
        $("#Razno").hide();
        $("#Sredstva").toggle();
      });
 
       $("#toggleRazno").click(function () {
        $("#Pipci").hide();
        $("#Dogajanje").hide();
        $("#Znanje").hide();
        $("#Sredstva").hide();
        $("#Razno").toggle();
      });
 
    });
    </script>
	{% block extrahead %}{% endblock %}
</head>
{% block extrabody %}<body>{% endblock %}

<div id="header">
    <div id="login_info">
        <a href="/intranet/">
            <img id="logo" alt="Kiberpipa" src="{{ settings.STATIC_URL }}org/images/kiberpipa-white.png" />
        </a>
        {% if user.is_authenticated %}
        <p>
            Pozdravljen {{ user.username }}! <a href="/intranet/accounts/logout/">Odjava</a>
        </p>
        {% endif %}
    </div>
    <ul id="mainmenu">
        <li><a href="/intranet/dezurni/">Dežurni</a></li>
        <li><a href="/intranet/diarys/">Dnevniki</a></li>
        <li><a href="/intranet/events/">Dogodki</a></li>
        <li><a href="/intranet/addressbook/">Imenik</a></li>
        <li><a href="/intranet/wiki/">Wiki</a></li>
        <li><a href="/intranet/tehniki/">Tehniki</a></li>
        <li><a href="/intranet/sodelovanja/">Sodelovanja</a></li>
        <li><a href="/intranet/lends/">Reverzi</a></li>
        <li><a href="/intranet/shopping/">Nakupi</a></li>
        <li><a href="/intranet/mercenaries/">Mercenaries</a></li>
        <li><a href="{% url statistics_by_year %}">Statistika</a></li>
        <li><a href="/intranet/admin">Administracija</a></li>
    </ul>
    <div id="bugs">
        <a href="https://dev.kiberpipa.org/projects/kiberpipa-intranet/issues/new">
          <img src="{{ settings.STATIC_URL }}org/images/hrosc.png" width="48" height="40" alt="hrošč" title="Sporoči napako" />
        </a>
    </div>
</div>

{% block content %}{% endblock %}

    <script type="text/javascript"> $(".chzn-select").chosen(); </script>
</body>
</html>
