<style type="text/css">
	th { text-align: left; }
</style>

<p>Skupno {{ total_hours }} ur dela, od tega {{ billable_hours }} plačanih ur za {{ sum }}&nbsp;&euro;.</p>

<table class="sortable table table-bordered table-striped" id="unique_id" style="width: 100%">
	<tr>
		<th>Oseba</th>
		<th><acronym title="Skupno stevilo delovnih ur">ur</acronym></th>
		<th><acronym title="Stevilo placanih delovnih ur">&euro; ur</acronym></th>
		<th><acronym title="Zasluzek">denarja</acronym></th>
	</tr>

	{% if not objects %}
	<tr><td colspan="4">-</td></tr>
	{% endif %}

{% for o in objects %}
	<tr>
		<td>{{ o.name}}</td>
		<td>{{ o.time }}</td>
		<td>{{ o.paytime }}</td>
		<td>{{ o.money }}</td>
	</tr>
{% endfor %}
</table>


