<form method="post" action="/intranet/box/bugs/add/">
  <p>
    <label for="id_name">Hrošč:</label>
    {{ form.name }}
    {% if form.name.errors %}
      *** {{ form.name.errors|join:", " }}
    {% endif %}
  </p>
  <p>
    <label for="id_assign">Komu:</label><br>
    {{ form.assign }}
    {% if form.assign.errors %}
      *** {{ form.assign.errors|join:", " }}
    {% endif %}
  </p>
  <p>
		<label for="id_due_by"> Deadline:</label><br>
    <input type="text" id="id_length" class="vDateField" name="length" size="10" maxlength="10" value="{{ form.data.due_by|date:"Y-m-d" }}" /><br>
    <input type="text" id="id_length" class="vTimeField" name="length" size="8" maxlength="8" value="{{ form.data.due_by|date:"H:i:s" }}"/>
		{% if parent %}
				<input type="hidden" name="parent" value="{{ parent }}">
		{% endif %}
		{% if edit %}
				<input type="hidden" name="edit" value="1">
		{% endif %}
  </p>
	<p>
    <label for="id_note">Opis:</label>
    {{ form.note }}
    {% if form.note.errors %}
      *** {{ form.note.errors|join:", " }}
    {% endif %}
  </p>
  <p><input type="submit" value="Pošlji" /></p>
</form>

