{% extends "org/base_bootstrap_fluid.html" %}

{% block title %}
Arhiv Dnevnikov - {{ month|date:"F"|capfirst }} {{ month|date:"Y" }}
{% endblock %}

{% load markup %}
{% load box %}

{% block navigation %}
	<div class="well" style="padding: 8px 0">
		<ul class="nav nav-list">
			<li class="nav-header">Statistike</li>
			<li>Ta mesec je bilo vnešenih {{ object_list|length }} dnevnikov.</li>

			<li class="nav-header">plache.pl za ta mesec</li>
    		{% box_plache object_list user %}
    	</ul>
	</div>
	{% endblock %}

{% block content-main %}
        {% for object in object_list %}
            {% print_diary object %}
        {% endfor %}
{% endblock %}
