{% extends "org/base_3col.html" %}
{% load box %}
{% block extrahead %}
<script src="{{ media_url }}/jquery-1.2.6.min.js"></script> 
<link rel="stylesheet" href="{{ media_url }}/css/flora.datepicker.css" type="text/css" media="screen" title="Flora (Default)">
<script src="{{ media_url }}/js/ui.datepicker.js"></script>
<script>
  $(document).ready(function(){
    $('#id_date').datepicker({firstDay: 1});
    });
</script>
{% endblock %}
{% block title %}Dnevnik{% endblock %}

{% load markup %}

{% block toplinks %}
    <div class="breadcrumbs">
    <ul id="breadcrumbs">
        <li>Arhiv: </li>
        <li><a href="/intranet/diarys/arhiv/{{ object.date|date:"Y" }}/{{ object.date|date:"M"|lower }}">{{ object.date|date:"M" }}</a></li>
        <li><a href="/intranet/diarys/arhiv/{{ object.date|date:"Y" }}">{{ object.date|date:"Y" }}</a></li>
    </ul>
    </div>
{% endblock %}

{% block heading %}
    <h1>Dnevnik</h1>
{% endblock %}

{% block content-related-left %}
		{% include "org/content/diary_form.html" %}
{% endblock %}

{% block content-main %}
    {% print_diary object%}
{% endblock %}

{% block content-related-right %}
{% endblock %}
