{% extends "org/base_bootstrap_fluid.html" %}
{% load box %}

{% block title %}
	Dnevnik #{{ object.id }}
{% endblock %}

{% block navigation  %}
	<div class="well">
		<ul class="nav nav-list">
			<li><a href="../../diarys">&larr; Nazaj na dnevnike</a></li>
			<li><a href="/intranet/diarys/arhiv/{{ object.date|date:"Y" }}/{{ object.date|date:"M"|lower }}">{{ object.date|date:"M" }}</a></li>
			<li><a href="/intranet/diarys/arhiv/{{ object.date|date:"Y" }}">{{ object.date|date:"Y" }}</a></li>
		</ul>
	</div>

	<div class="well">
		<ul class="nav nav-list">
			<li class="nav-header">Uredi dnevnik</li>

			<li>
				{% include "org/content/diary_form.html" %}
			</li>
		</ul>
	</div>
{% endblock %}

{% block content-main %}
    {% print_diary object %}
{% endblock %}
