{% extends "org/base_bootstrap_fluid.html" %}
{% load box %}

{% block extrahead %} 
{% endblock %}

{% block title %}
Arhiv Dnevnikov - leto {{ year }}
{% endblock %}

{% block navigation %}
	<div class="well">
		<ul class="nav nav-list">
			<li class="nav-header">Filtriraj po mesecih</li>
			{% for obj in date_list %}
				<li><a href="{{ obj|date:"m" }}/">{{ obj.date|date:"b" }}</a></li>
			{% endfor %}
    	</ul>
	    <br/>

		<ul class="nav nav-list">
			<li class="nav-header">plache.pl za to leto</li>
    		{% box_plache object_list user %}
    	</ul>
	</div>
{% endblock %}

{% block content-related-left %}
  <div class="module" id="recent-actions-module">
      <h2>Dodaj dnevnik</h2>
  </div>
{% endblock %}

{% block content-main %}
        {% for object in object_list %}
            {% print_diary object%}
        {% endfor %}
{% endblock %}
