{% extends "org/base_bootstrap_fluid.html" %}
{% block title %}Dnevniki{% endblock %}

{% load box %}

{% block extrahead %}
  <script>
  $(document).ready(function(){
    $('#id_date').datepicker({firstDay: 1, dateFormat: "yy-mm-dd"});
  });
  </script>
  <link rel="alternate" type="application/rss+xml" title="Diarys RSS Feed" href="/intranet/feeds/diarys/" />
{% endblock %}

{% block navigation %}
	<div class="well">
		<ul class="nav nav-list">
			<li class="nav-header">Filtiraj po letih</li>
			{% for obj in date_list %}
				<li><a href="arhiv/{{ obj.year }}/">{{ obj.year }}</a></li>
			{% endfor %}
    		</ul>
		<br/>

		<ul class="nav nav-list">
			<li class="nav-header">Po projektu</li>
			<li>		
				<form action="" method="post">
		    		{{ filter.as_p }}
					<p>
						<label>&nbsp;</label>
						<button class="btn" type="submit">Find diaries</button>
					</p>
				</form>
			</li>
		</ul>
	</div>
	
	<div class="well">
		<ul class="nav nav-list">
			<li class="nav-header">Dodaj dnevnik</li>

			<li>
				{% include "org/content/diary_form.html" %}
			</li>
		</ul>
	</div>
{% endblock %}

{% block content-main %}
	{% for object in latest %}
    	{% print_diary object%}
	{% endfor %}
{% endblock %}
