{% load markup %}

{% block navigation  %}
	<div class="well" style="padding: 8px 0;">
		<ul class="nav nav-list">
			<li><a href="../../diarys">&larr; Nazaj na dnevnike</a></li>
	        <li><a href="/intranet/diarys/arhiv/{{ object.date|date:"Y" }}/{{ object.date|date:"M"|lower }}">{{ object.date|date:"M" }}</a></li>
    	    <li><a href="/intranet/diarys/arhiv/{{ object.date|date:"Y" }}">{{ object.date|date:"Y" }}</a></li>
		</ul>
	</div>

	<div class="well" style="padding: 8px 0;">
		<ul class="nav nav-list">
			<li class="nav-header">Uredi dnevnik</li>

			<li>
				{% include "org/content/diary_form.html" %}
			</li>
		</ul>
	</div>
{% endblock %}

{% block content-main %}
    {% print_diary object%}
{% endblock %}

