{% extends "org/base.html" %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{{ settings.STATIC_URL }}org/markitup/skins/markitup/style.css" />
<link rel="stylesheet" type="text/css" href="{{ settings.STATIC_URL }}org/markitup/sets/html/style.css" />
<script type="text/javascript" src="{{ settings.STATIC_URL }}org/markitup/jquery.markitup.js"></script>
<script type="text/javascript" src="{{ settings.STATIC_URL }}org/markitup/sets/html/set.js"></script>
<script type="text/javascript" src="{{ settings.STATIC_URL }}org/js/jquery.highlightFade.js" ></script>
<script type="text/javascript" src="{{ settings.STATIC_URL }}org/js/jquery.suggest.js" ></script>
<script type="text/javascript" src="{{ settings.STATIC_URL }}org/js/jquery.ajaxUpload.js" ></script>
<script type="text/javascript" src="{{ settings.STATIC_URL }}org/js/jquery.imgareaselect-0.6.1.min.js" ></script>
<script type="text/javascript">
maxL=64;
var bName = navigator.appName;
function taLimit(taObj) {
    if (taObj.value.length==maxL) return false;
    return true;
}

function taCount(taObj,Cnt) {
    objCnt=createObject(Cnt);
    objVal=taObj.value;
    if (objVal.length>maxL) objVal=objVal.substring(0,maxL);
    if (objCnt) {
        if(bName == "Netscape"){
            objCnt.textContent=maxL-objVal.length;}
        else{objCnt.innerText=maxL-objVal.length;}
    }
    return true;
}
function createObject(objId) {
    if (document.getElementById) return document.getElementById(objId);
    else if (document.layers) return eval("document." + objId);
    else if (document.all) return eval("document.all." + objId);
    else return eval("document." + objId);
}

function imgResized(img, sel) {
    var result = new Array(sel.x1, sel.x2, sel.y1, sel.y2)
    $("#id_resize").attr("value", result.join(','));
}
$(document).ready(function() {
    // datetime logic
    if ($('#id_start_date').datepicker('getDate') == null) {
        $('#id_start_date').datepicker('setDate', '0');
    }

    $("#id_image").change(function(){
        $.ajaxFileUpload
        (
            {
                url:'/intranet/tmp_upload/',
                secureuri:false,
                fileElementId:'id_image',
                dataType: 'json',
                success: function (data, status)
                {
                    $("#ajax_img").html('<img id="rect" src="' + data['link'] + '">');
                    $("#id_filename").attr("value", data['filename']);
                    $('img#rect').imgAreaSelect({ selectionColor: 'blue', aspectRatio: "250:130", onSelectEnd: imgResized});
                },
                error: function (data, status, e)
                {
                    alert(e);
                }
            }
        )

    });
    $("#id_event_image").change(function (){
        // alert($("#id_event_image").val());
        var image_text = $("#id_event_image")[0].options[$("#id_event_image")[0].selectedIndex].text;

        image_text = image_text.replace(/^Image:\s+/, '');
        $("#ajax_img").html('<img src="' + image_text + '" style="border: 1px solid gray;" />');
    });

    $("#id_project").change(function(){
        var now = new Date();
        var time = now.getYear() + 1900 + '/' + (now.getMonth() + 1) + '/' + now.getDate() + ' 19:00';
        switch ($("#id_project").children()[this.selectedIndex].value) {
            case '6': //su
                $("#id_start_date").attr("value", time);
                $("#id_category").attr("value", 3); //izobrazevanje
                $("#id_place").attr("value", 2); //glavni prostor
                $("#id_responsible").attr("value", "fry"); //43, fry
                $("#id_require_technician").attr("checked", true);
                $("#id_require_video").attr("checked", true);
                $('#id_event_image option[value=131]').attr('selected', 'selected');
                break;
            case '14': //vip
                $("#id_start_date").attr("value", time);
                $("#id_category").attr("value", 3); //izobrazevanje
                $("#id_place").attr("value", 2); //glavni prostor
                $("#id_responsible").attr("value", "teardrop"); //45, klemen
                $("#id_require_technician").attr("checked", true);
                $("#id_require_video").attr("checked", true);
                $('#id_event_image option[value=8]').attr('selected', 'selected');
                break;
            case '1': //pot
                $("#id_start_date").attr("value", time);
                $("#id_category").attr("value", 3); //izobrazevanje
                $("#id_place").attr("value", 2); //glavni prostor
                $("#id_responsible").attr("value", "lowkey"); //42 lowkey
                $("#id_require_technician").attr("checked", true);
                $("#id_require_video").attr("checked", true);
                $('#id_event_image option[value=35]').attr('selected', 'selected');
                break;
        }
        // update image
        $('#id_event_image').change();
    });
    $(".input_author").suggest("/intranet/autocomplete/person/");
    $("#id_responsible").suggest("/intranet/autocomplete/active_user/");
    $('#id_announce').markItUp(mySettings);


});

    function add_author_click() {
        a = $('#author_field');
        if (add_author(a.val(), $('#type_id option:selected').text()))
            a.val("");
    }

    function add_author(author, type) {
        if (author.length==0)
            return;

        formatted = author + " - " + type;
        opt_exists = false;
        $('#authorsid > option').each(function() {
            if ($(this).text() == formatted) {
                opt_exists = true;
                return false;
            }
        });

        if (!opt_exists) {
            opt = $('<option></option>');
            opt.attr({'selected': 'true'}).text(formatted);
            $('#authorsid').append(opt).trigger("liszt:updated");
            return true;
        }
        return false;
    }
</script>
<style type="text/css">      
  h3 {background:#f5f5f5 none repeat scroll 0 0;}
</style>
{% endblock %}

{% block title %}Dogodki{% endblock %}

{% load markup %}
{% load box %}

{% block content %}
<div id="content" class="colMS">
    {% comment %}
    # TODO: django-schedule
    <h2>Ponavljanje</h2>
    <div id="content-related" class="sidebar">
        <div  class="module" id="recent-actions-module">
            {% box_reccurings form %}
        </div>
    </div>
    {% endcomment %}

    <div id="content-full" class="flex">
        <form method="POST" action="" enctype="multipart/form-data"> 

        <div class="module">
            <h2>Dodaj dogodek v koledar</h2>
            {% if form.errors %}
                <h3>Prosim popravi naslednje napake:</h3>
            {% endif %}
            <p>
                {{ form.title.errors }}
                {{ form.title.label_tag }}
                {{ form.title }}
            </p>
            <p>
                {{ form.project.errors }}
                {{ form.project.label_tag }}
                {{ form.project }}
            </p>

            <p>
                <label for="authorsid">Authors:</label>
                <select data-placeholder="Authors" id="authorsid" name="authors" class="chzn-select" style="width:50%" multiple>
                    {% for sodelovanje in sodelovanja %}
                        <option selected="selected">{{ sodelovanje.person }} - {{ sodelovanje.tip }}</option>
                    {% endfor %}
                </select>

                <br />

                <label for="author_field">Add new author:</label>
                <input type="text" id="author_field"/>
                <select class="chzn-select" style="width: 20%" id="type_id">
                    {% for t in tipi %}
                        <option value="{{ t.id }}">{{ t }}</option>
                    {% endfor %}
                </select>
                <a href="#" onclick="add_author_click()">Add author</a>
            </p>
        <p>
            {{ form.category.errors }}
            {{ form.category.label_tag }}
            {{ form.category }}
        </p>
        <p>
            {{ form.place.errors }}
            {{ form.place.label_tag }}
            {{ form.place }}
        </p>
        <p>
            {{ form.responsible.errors }}
            {{ form.responsible.label_tag }}
            {{ form.responsible }}
        </p>
        <p>
            {{ form.language.errors }}
            {{ form.language.label_tag }}
            {{ form.language }}
        </p>
        <hr>
        <p>
            {{ form.start_date.errors }}
            {{ form.start_date.label_tag }}
            {{ form.start_date|safe }}
        </p>
        <p>
            {{ form.end_date.errors }}
            {{ form.end_date.label_tag }}
            {{ form.end_date|safe }}
        </p>
        <hr>
        <p>
            {{ form.public.errors }}
            {{ form.public.label_tag }}
            {{ form.public }}
        </p>
        <p>
            {{ form.require_technician.errors }}
            {{ form.require_technician.label_tag }}
            {{ form.require_technician }}
        </p>
        <p>
            {{ form.require_video.errors }}
            {{ form.require_video.label_tag }}
            {{ form.require_video }}
        </p>
        <p>
            {{ form.require_photo.errors }}
            {{ form.require_photo.label_tag }}
            {{ form.require_photo }}
        </p>
        <hr>
        <p>
            {{ form.slides.errors }}
            {{ form.slides.label_tag }}
            {{ form.slides }} {{ form.slides_file }}
        </p>
        <p>
            {{ form.flickr_set_id.errors }}
            {{ form.flickr_set_id.label_tag }}
            {{ form.flickr_set_id }}
        </p>
        <p>
            {{ form.visitors.errors }}
            {{ form.visitors.label_tag }}
            {{ form.visitors }}
        </p>
        <hr>
        <p>
            {{ form.event_image.errors }}
            {{ form.event_image.label_tag }}
            {{ form.event_image }} <a href="/intranet/image_crop_tool/" target="_blank">Dodaj novo sliko</a>
        </p>
        <p>
            <div id="ajax_img">
              {% if image.url %}<img src="{{ image.url }}" style="border: 1px solid gray;"/>{% endif %}
            </div> 
        </p>
        <hr>
        <p>
            {{ form.announce.errors }}
            {{ form.announce.label_tag }}
        </p>
        <br />
        {{ form.announce }}
        <hr>
        <p>
            {{ form.note.errors }}
            {{ form.note.label_tag }}
            {{ form.note }}
        </p>
    </div>
    <h3><input type="submit" value="Vpiši" /></h3>
	</form>
</div>
{% endblock %}
