{% extends "org/base_bootstrap_fluid_span9.html" %}
{% load box i18n %}
{% load url from future %}
{% block title %}Dogodki{% endblock %}


{% block navigation %}
<div class="well">
  <ul class="nav nav-list">
    <li class="nav-header">Filtiraj po letih</li>
    {% for obj in date_list %}
      <li><a href="{% url 'event_arhive_year' obj.year %}">{{ obj.year }}</a></li>
    {% endfor %}
  </ul>
</div>

<div class="well">
	<div class="module">
		<a class="btn btn-large btn-primary" href="{% url 'event_create' %}"><i class="icon-plus-sign"></i> Nov dogodek</a>
	</div>
</div>
{% endblock %}

{% block content-main %}
  <div class="module">
  {% for title, query in events %}
    {% if query %}
      <table class="table">
        <caption><h2>{{ title }}</h2></caption>
        <thead>
          <tr>
            <th>Ime</th>
            <th>Projekt</th>
            <th><i class="icon-film"></i> Video</th>
            <th><i class="icon-picture"></i> Slike</th>
            <th><i class="icon-user"></i> Tehnik</th>
            <th><i class="icon-calendar"></i> Datum</th>
          </tr>
        </thead>
        <tbody>
        {% for event in query %}  
          {% print_event event %}
        {% endfor %}
        </tbody>
      </table>
      <br/>
    {% else %}
      <h2>{{ title }}</h2>
      <p>Ni dogodkov.</p>
    {% endif %}
  {% endfor %}
  </div>
{% endblock %}
