{% extends "org/base_bootstrap_fluid.html" %}
{% load box i18n %}

{% block extrahead %}
	<!-- TODO: not sure what of this we still need, do check! -->
	<script type="text/javascript" src="{{ settings.STATIC_URL }}org/js/jquery.highlightFade.js" ></script>
	<script type="text/javascript" src="{{ settings.STATIC_URL }}org/js/jquery.ajaxUpload.js" ></script>
	<script type="text/javascript" src="{{ settings.STATIC_URL }}org/js/jquery.imgareaselect-0.6.1.min.js" ></script>
	<script type="text/javascript">

// get next Tuesday (d = 2), Wednesday (d = 3) etc.
Date.prototype.getNextWeekDay = function (d) {
	if (d) {
		var next = new Date(this);

		// get current day of week, and make sure it's not some bloody american Sunday
		var c = this.getDay() == 0 ? 7: this.getDay();
		
		// then, see if we're already past the target day this week,
		// and adjust accordingly
		if (c >= d)
			next.setDate( this.getDate() - c + 7 + d);
		else
			next.setDate( this.getDate() - c + d);
	}
    
	return next;
}

$(document).ready(function() {
    function imgResized(img, sel) {
	var result = new Array(sel.x1, sel.x2, sel.y1, sel.y2)
	$("#id_resize").attr("value", result.join(','));
    }

    $('.chzn-select').chosen();

    $("#id_image").change(function(){
        $.ajaxFileUpload
        (
            {
                url:'/intranet/tmp_upload/',
                secureuri:false,
                fileElementId:'id_image',
                dataType: 'json',
                success: function (data, status)
                {
                    $("#ajax_img").html('<img id="rect" src="' + data['link'] + '">');
                    $("#id_filename").attr("value", data['filename']);
                    $('img#rect').imgAreaSelect({ selectionColor: 'blue', aspectRatio: "250:130", onSelectEnd: imgResized});
                },
                error: function (data, status, e)
                {
                    alert(e);
                }
            }
        )

    });
    $("#id_event_image").change(function (){
        var image_text = $("#id_event_image option:selected").text().replace(/Image:\s+/, '');
        if (image_text.indexOf('-') != 0) {
            $("#ajax_img").html('<img src="' + image_text + '" style="border: 1px solid gray;" />');
        } else {
            $("#ajax_img").empty();
        }
    });

    $("#id_project").chosen().change(function() {
        var now = new Date();
        var time = now.getYear() + 1900 + '/' + (now.getMonth() + 1) + '/' + now.getDate() + ' 19:00';
        switch ($("#id_project option:selected").val()) {
            case '6': //su
                var next = now.getNextWeekDay(3); // get next wednesday
                var start = next.getYear() + 1900 + '/' + (next.getMonth() + 1) + '/' + next.getDate() + ' 19:00';
                var end = next.getYear() + 1900 + '/' + (next.getMonth() + 1) + '/' + next.getDate() + ' 20:00';

                $("#id_start_date").attr("value", start);
                $("#id_end_date").attr("value", end);
                $("#id_category").attr("value", 3).trigger("liszt:updated"); //izobrazevanje
                $("#id_place").attr("value", 2).trigger("liszt:updated"); //glavni prostor
                $("#id_responsible").attr("value", "fry").trigger("liszt:updated"); //43, fry
                $("#id_require_technician").attr("checked", true);
                $("#id_require_video").attr("checked", true);
                $('#id_event_image option[value=131]').attr('selected', 'selected');
                break;
            case '14': //vip
                var next = now.getNextWeekDay(4); // get next thursday
                var start = next.getYear() + 1900 + '/' + (next.getMonth() + 1) + '/' + next.getDate() + ' 19:00';
                var end = next.getYear() + 1900 + '/' + (next.getMonth() + 1) + '/' + next.getDate() + ' 20:00';

                $("#id_start_date").attr("value", start);
                $("#id_end_date").attr("value", end);
                $("#id_category").attr("value", 3).trigger("liszt:updated"); //izobrazevanje
                $("#id_place").attr("value", 2).trigger("liszt:updated"); //glavni prostor
                $("#id_responsible").attr("value", "teardrop").trigger("liszt:updated"); //45, klemen
                $("#id_require_technician").attr("checked", true);
                $("#id_require_video").attr("checked", true);
                $('#id_event_image option[value=167]').attr('selected', 'selected');
                break;
            case '1': //pot
                var next = now.getNextWeekDay(2); // get next tuesday
                
                var start = next.getYear() + 1900 + '/' + (next.getMonth() + 1) + '/' + next.getDate() + ' 19:00';
                var end = next.getYear() + 1900 + '/' + (next.getMonth() + 1) + '/' + next.getDate() + ' 20:00';

                $("#id_start_date").attr("value", start);
                $("#id_end_date").attr("value", end);
                $("#id_category").attr("value", 3).trigger("liszt:updated"); //izobrazevanje
                $("#id_place").attr("value", 2).trigger("liszt:updated"); //glavni prostor
                $("#id_responsible").attr("value", "lowkey").trigger("liszt:updated"); //42 lowkey
                $("#id_require_technician").attr("checked", true);
                $("#id_require_video").attr("checked", true);
                $('#id_event_image option[value=25]').attr('selected', 'selected');
                break;
        }
        // update image
        $('#id_event_image').change();
     });
	$('#add_author').click(function(e) {
		e.preventDefault();
		a = $('#author_field');

		function add_author(author, type) {
		    author = $.trim(author);

		    if (author.length === 0)
			return;

		    formatted = author + " - " + type;
		    opt_exists = false;
		    $('#authorsid > option').each(function() {
			if ($(this).text() === formatted) {
			    opt_exists = true;
			    return false;
			}
		    });

		    if (!opt_exists) {
			opt = $('<option></option>');
			opt.attr({'selected': 'true'}).text(formatted);
			$('#authorsid').append(opt).trigger("liszt:updated");
			return true;
		    }
		    return false;
		}

		if (add_author(a.val(), $('#type_id option:selected').text())) {
			a.val("");
		}
    	});

	// show image on show
        $('#id_event_image').change();
});
</script>
{% endblock %}

{% block title %}
  {% if object.id %}
  Urejanje dogodka #{{ object.id }}
  {% else %}
  Dodajanje dogodka
  {% endif %}
{% endblock %}

{% block navigation %} 
			<div class="well"> 
				<div class="module">
					<p><img src="{{ settings.STATIC_URL}}org/images/rageface/determined-challenge-accepted.png" style="width: 80%; margin-bottom: 1em;"/></p>

					<p>Pri vnašanju podatkov o dogodku poskušaj biti čimbolj natančen/-a, ker se na to zanašajo tako obiskovalci kot tudi tehniki, ki bodo po dogodku obdelovali videoposnetek.  Če se ti podatki kasneje spremenijo (nov opis, drug ali dodatni predavatelj), se prosim potrudi in to tukaj zabeleži.</p>
	
					<p>Če je mogoče, v najavo vključi povezavo do facebook eventa (RSVP).</p>

					<p>Hvala!</p>
				</div>
			</div>
{% endblock %}

{% block content-main %}

<div class="module">
<form class="form-horizontal" method="POST" action="" enctype="multipart/form-data"> 
	<fieldset>
		{% if form.errors %}
        	<legend>{% trans "Please fix following errors" %}:</legend>
		{% endif %}
		
	    	<div class="control-group {% if form.title.errors %}error{% endif %}">
				<label class="control-label" for="id_{{ form.title.html_name }}">{{ form.title.label }}</label>
				<div class="controls">
					{{ form.title }}
					<span class="help-inline">{{ form.title.errors }}</span>
				</div>
			</div>

	    	<div class="control-group {% if form.project.errors %}error{% endif %}">
				<label class="control-label" for="{{ form.project.html_name }}">{{ form.project.label }}</label>
				<div class="controls">
					{{ form.project }}
					<span class="help-inline">{{ form.project.errors }}</span>

					<p class="help-block">
                        			Bližnjice: 
						<button class="btn btn-mini" onclick="$('#id_project').val(1).trigger('liszt:updated').chosen().trigger('change'); return false" >POT</button>
						<button class="btn btn-mini" onclick="$('#id_project').val(6).trigger('liszt:updated').chosen().trigger('change'); return false" >SU</button>
						<button class="btn btn-mini" onclick="$('#id_project').val(14).trigger('liszt:updated').chosen().trigger('change'); return false" >VIP</button>
					</p>
				</div>
			</div>

	    	<div class="control-group">
			<label class="control-label" for="authorsid">{% trans "Authors" %}</label>
				<div class="controls">
					<select data-placeholder="{% trans 'Authors' %}" id="authorsid" name="authors" class="chzn-select" style="width:50%" multiple>
	    	        		{% for sodelovanje in sodelovanja %}
						<option selected="selected">{{ sodelovanje.person }} - {{ sodelovanje.tip }}</option>
			        	{% endfor %}
	    	        		{% for sodelovanje in authors %}
						<option selected="selected">{{ sodelovanje }}</option>
			        	{% endfor %}
					{% for sodelovanje in prev_sodelovanja %}
						<option>{{ sodelovanje.person__name }} - {{ sodelovanje.tip__name }}</option>
			        	{% endfor %}
					</select><br/>

					<p class="help-block">
						<input type="text" id="author_field" placeholder="Ime in priimek"/>
						<select class="chzn-select" style="width: 30%" id="type_id">
						{% for t in tipi %}
			        			<option value="{{ t.id }}">{{ t }}</option>
						{% endfor %}
				        	</select>
						<button class="btn" id="add_author"><i class="icon-plus"></i></button>
					</p>
				</div>
			</div>
	    	<div class="control-group {% if form.announce.errors %}error{% endif %}">
				<label class="control-label" for="{{ form.announce.html_name }}">{{ form.announce.label }}</label>
				<div class="controls">
					{{ form.announce }}
					<p class="help-block">{{ form.announce.errors }}</p>
				</div>
		</div>
	    	<div class="control-group {% if form.event_image.errors %}error{% endif %}">
				<label class="control-label" for="{{ form.event_image.html_name }}">{{ form.event_image.label }}</label>
				<div class="controls">
				  {{ form.event_image }}
				  <a class="btn" href="/intranet/image_crop_tool/" target="_blank"><i class="icon-plus"></i></a>
					<span class="help-inline">{{ form.event_image.errors }}</span>

			    <div id="ajax_img">
						{% if image.url %}<img src="{{ image.url }}" style="border: 1px solid gray;"/>{% endif %}
	    	        </div> 
				</div>
			</div>
			<hr />


	    	<div class="control-group {% if form.category.errors %}error{% endif %}">
				<label class="control-label" for="{{ form.category.html_name }}">{{ form.category.label }}</label>
				<div class="controls">
					{{ form.category }}

					<span class="help-inline">{{ form.category.errors }}</span>
				</div>
			</div>

	    	<div class="control-group {% if form.place.errors %}error{% endif %}">
				<label class="control-label" for="{{ form.place.html_name }}">{{ form.place.label }}</label>
				<div class="controls">
					{{ form.place }}

					<span class="help-inline">{{ form.place.errors }}</span>
				</div>
			</div>

			<div class="control-group {% if form.responsible.errors %}error{% endif %}">
				<label class="control-label" for="{{ form.responsible.html_name }}">{{ form.responsible.label }}</label>
				<div class="controls">
					{{ form.responsible }}

					<span class="help-inline">{{ form.responsible.errors }}</span>
				</div>
			</div>
	    	<div class="control-group {% if form.language.errors %}error{% endif %}">
				<label class="control-label" for="{{ form.language.html_name }}">{{ form.language.label }}</label>
				<div class="controls">
					{{ form.language }}

					<span class="help-inline">{{ form.language.errors }}</span>
				</div>
		</div>
	    	<div class="control-group {% if form.start_date.errors %}error{% endif %}">
			<label class="control-label" for="{{ form.start_date.html_name }}">{{ form.start_date.label }}</label>
			<div class="controls">
				{{ form.start_date|safe }}
				<span class="help-inline">{{ form.start_date.errors }}</span>
			</div>
		</div>

	   	<div class="control-group {% if form.end_date.errors %}error{% endif %}">
			<label class="control-label" for="{{ form.end_date.html_name }}">{{ form.end_date.label }}</label>
			<div class="controls">
				{{ form.end_date|safe }}
				<span class="help-inline">{{ form.end_date.errors }}</span>
			</div>
		</div>

		<hr>
		<div class="control-group {% if form.public.errors %}error{% endif %}">
			<div class="controls">
				<label class="checkbox">
					{{ form.public }}
					{{ form.public.label }}
				</label>
				<span class="help-inline">{{ form.public.errors }}</span>
			</div>
		</div>
		<div class="control-group {% if form.require_technician.errors %}error{% endif %}">
			<div class="controls">
				<label class="checkbox">
					{{ form.require_technician }}
					{{ form.require_technician.label }}
				</label>
				<span class="help-inline">{{ form.require_technician.errors }}</span>
			</div>
		</div>
		<div class="control-group {% if form.require_officers_on_duty.errors %}error{% endif %}">
			<div class="controls">
				<label class="checkbox">
					{{ form.require_officers_on_duty }}
					{{ form.require_officers_on_duty.label }}
				</label>
				<span class="help-inline">{{ form.require_officers_on_duty.errors }}</span>
			</div>
		</div>
		<div class="control-group {% if form.require_video.errors %}error{% endif %}">
			<div class="controls">
				<label class="checkbox">
					{{ form.require_video }}
					{{ form.require_video.label }}
				</label>
				<span class="help-inline">{{ form.require_video.errors }}</span>
			</div>
		</div>
		<div class="control-group {% if form.require_photo.errors %}error{% endif %}">
			<div class="controls">
				<label class="checkbox">
					{{ form.require_photo }}
					{{ form.require_photo.label }}
				</label>
				<span class="help-inline">{{ form.require_photo.errors }}</span>
			</div>
		</div>
		
		<hr>
		<div class="control-group {% if form.slides.errors %}error{% endif %}">
			<label class="control-label">{{ form.slides.label }}</label>
			<div class="controls">
				<label class="checkbox">
					{{ form.slides }} {{ form.slides_file }}
				</label>
				<span class="help-inline">{{ form.slides.errors }}</span>
			</div>
		</div>
	    	<div class="control-group {% if form.flickr_set_id.errors %}error{% endif %}">
				<label class="control-label" for="{{ form.flickr_set_id.html_name }}">{{ form.flickr_set_id.label }}</label>
				<div class="controls">
					{{ form.flickr_set_id }}
					<span class="help-inline">{{ form.flickr_set_id.errors }}</span>
				</div>
			</div>
	    	<div class="control-group {% if form.visitors.errors %}error{% endif %}">
				<label class="control-label" for="{{ form.visitors.html_name }}">{{ form.visitors.label }}</label>
				<div class="controls">
					{{ form.visitors }}
		        				
					<span class="help-inline">{{ form.visitors.errors }}</span>
				</div>
			</div>

	    	<div class="control-group {% if form.note.errors %}error{% endif %}">
			<label class="control-label" for="{{ form.note.html_name }}">{{ form.note.label }}</label>
			<div class="controls">
				{{ form.note }}
				<span class="help-inline">{{ form.note.errors }}</span>
			</div>
		</div>

		<div class="form-actions">
			<button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
		</div>
	</fieldset>
</form>
</div>
{% endblock %}
