<html>
  <head>
  </head>
  <body>
    <img width="214" height="63" src="{{ settings.STATIC_URL }}www/images/logo.png"></img>
    <br />
    <br />
    <span><strong>Prijava na elektronske novice:</strong> http://www.kiberpipa.org/</span><br />
    <span><strong>Lokacija:</strong> http://www.kiberpipa.org/sl/kjesmo/</span><br />
    <span><strong>Kontakt:</strong> info@kiberpipa.org</span><br />
    <h1>Tedenski napovednik</h1>

    {% for event in events %}
    <h2>{{ event.start_date|date:"l (j N)" }} ob {{ event.start_date|date:"G:i" }}: {{ event.title }}</h2>

      <div style="font-size: 0.9em">
      {{ event.announce|safe|linebreaks }}
      </div>
    {% endfor %}
  </body>
</html>
