{% load i18n box %}
<table class="table">
    <thead>
      <tr>
        <th><i class="icon-calendar"></i>&nbsp;{% trans 'Date' %}</th>
        <th><i class="icon-barcode"></i>&nbsp;{% trans 'Title' %}</th>
        <th><i class="icon-file"></i>&nbsp;{% trans 'Project' %}</th>
        <th><i class="icon-film"></i><i class="icon-picture"></i>&nbsp;{% trans "Media" %}</th>
        <th width="80"><i title="{% trans 'Officer on duty' %}" class="icon-user"></i><i title="{% trans 'Technician' %}" class="icon-facetime-video"></i>&nbsp;Pomagači</th>
      </tr>
    </thead>
    <tbody>
        {% for title, query in events %}
            {% if query %}
            <tr class="heading"><td colspan="6"><strong>{{ title }}</strong></td></tr>
                {% for event in query %}  
                  {% print_event event %}
                {% endfor %}
            {% else %}
            {% endif %}
        {% endfor %}
        {% for event in objects %}
            {% print_event event %}
        {% endfor %}
    </tbody>
</table>
