{% extends "org/base_bootstrap_fluid.html" %}
{% load box i18n %}
{% load url from future %}
{% block title %}Dogodki za leto {{ year }}{% endblock %}


{% block navigation %}
<div class="well">
  <ul class="nav nav-list">
    <li class="nav-header">Filtiraj po mesecih</li>
    {% for obj in date_list %}
      <li><a href="{% url 'event_arhive_month' obj.year obj.month %}">{{ obj|date:"F" }}</a></li>
    {% endfor %}
  </ul>
  <a class="btn btn-large btn-primary" href="{% url 'event_create' %}"><i class="icon-plus-sign"></i> Nov dogodek</a>
</div>
{% endblock %}

{% block content-main %}
  <div class="module">
    {% if object_list %}
      <table class="table">
        <thead>
          <tr>
            <th>Ime</th>
            <th>Projekt</th>
            <th><i class="icon-film"></i> Video</th>
            <th><i class="icon-picture"></i> Slike</th>
            <th><i class="icon-user"></i> Tehnik</th>
            <th><i class="icon-calendar"></i> Začetek</th>
            <th><i class="icon-calendar"></i> Konec</th>
          </tr>
        </thead>
        <tbody>
        {% for event in object_list %}  
          {% print_event event %}
        {% endfor %}
        </tbody>
      </table>
      <br/>
    {% else %}
      <p>Ni dogodkov.</p>
    {% endif %}
  </div>
{% endblock %}
