{% extends "org/base_2col.html" %}
{% load box i18n %}

{% block extrahead %}
   <link rel="alternate" type="application/rss+xml" title="Events RSS Feed" href="/intranet/feeds/events/" />
{% endblock %}

{% block title %}Dogodki{% endblock %}

{% block toplinks %}
    <div class="breadcrumbs">
    <ul id="breadcrumbs">
        <li>Leta:</li>
        {% for d in date_list %}
            <li><a href="arhiv/{{ d.year }}/">{{ d.year }}</a></li>
        {% endfor %}
    </ul>
    </div>
{% endblock %}

{% block heading %}
    <h1>Aktualni dogodki
        <a href="/intranet/feeds/events/">
            <img src="{{ settings.STATIC_URL }}org/images/rss.png" alt="event rss" />
        </a>
    </h1>
{% endblock %}

{% block content-related-left %}
  <div class="module" id="recent-actions-module">
    <h2>Urejanje</h2>
        <ul class="actionlist">
            <li><a href="create/">Dodajanje</a></li>
            <li>Snemanje: <img src="{{ settings.STATIC_URL }}org/images/film.png" alt="video" /></li>
            <li>Fotografije: <img src="{{ settings.STATIC_URL }}org/images/photo.png" alt="tech" /></li>
            <li>Tehnik: <img src="{{ settings.STATIC_URL }}org/images/tools.png" alt="tech" /></li>
        </ul>
  </div>
{% endblock %}

{% block content-main %}
  {% if event_last %}
    <div class="module">
        <h2>Prejšnji teden</h2>
        {% for log in event_last %}  
            {% print_event log %}
        {% endfor %}
    </div>
    <br/>
  {% endif %}

  {% if event_this %}
    <div class="module">
        <h2>Tekoči teden</h2>
        {% for log in event_this %}
            {% print_event log %}
        {% endfor %}
    </div>
    <br/>
  {% endif %}

  {% if event_next %}
    <div class="module">
        <h2>Naslednji teden</h2>
        {% for log in event_next %}  
            {% print_event log %}
        {% endfor %}
    </div>
    <br/>
  {% endif %}

  {% if event_next2 %}
    <div class="module">
        <h2>Čez 2 tedna</h2>
        {% for log in event_next2 %}
            {% print_event log %}
        {% endfor %}
    </div>
  {% endif %}
{% endblock %}
