{% extends "org/base_bootstrap_fluid_span9.html" %}
{% load box i18n %}
{% load url from future %}
{% block title %}Dogodki{% endblock %}


{% block navigation %}
<div class="well">
  <ul class="nav nav-list">
    <li class="nav-header">Filtiraj po letih</li>
    {% for obj in date_list %}
      <li><a href="{% url 'event_arhive_year' obj.year %}">{{ obj.year }}</a></li>
    {% endfor %}
  </ul>
</div>

<div class="well">
	<div class="module">
		<a class="btn btn-large btn-primary" href="{% url 'event_create' %}"><i class="icon-plus-sign"></i> Nov dogodek</a>
	</div>
</div>
{% endblock %}

{% block content-main %}
<div class="module"> 
  {% include 'org/event_table.html' with events=events only %}
</div>
{% endblock %}
