{% extends "org/base_3col.html" %}
{% block extrahead %}{% endblock %}
{% block title %}Dogodki{% endblock %}
{% load markup %}

{% block toplinks %}
    <div class="breadcrumbs">
    <ul id="breadcrumbs">
        <li>Arhiv: </li>
        <li><a href="/intranet/events/arhiv/{{ object.start_date|date:"Y" }}/{{ object.start_date|date:"m" }}">{{ object.start_date|date:"M" }}</a></li>
        <li><a href="/intranet/events/arhiv/{{ object.start_date|date:"Y" }}">{{ object.start_date|date:"Y" }}</a></li>
    </ul>
    </div>
{% endblock %}

{% block heading %}
    <h1>Dogodek</h1>
{% endblock %}

{% block content-related-left %}
  <div class="module" id="recent-actions-module">
    <h2>Urejanje</h2>
        <ul class="actionlist">
        {% comment %}
            <li>
                <h3>Dodaj .zip slikc</h3>
                <form action="photos/" method="POST" enctype="multipart/form-data">
                    {{ file_form }}
                    <input type="submit" value="uploadaj slikce">
                </form>
            </li>
        {% endcomment %}
            <li><a href="edit/">Uredi podatke</a></li>
            <li><a href="../create/">Dodaj novega</a></li>
            <li>Preštej obisk (hit ENTER):
                <form  method="POST" action="count/">
                     <input type="text" name="visitors" size="3" value="{{ object.visitors|default:"" }}" maxlength="3" />
                </form>
            </li>
            <li><a href="info.txt/">info.txt</a></li>
            <li>Dodaj emaile (po enga v vrsitco):
                <form method="POST" action="emails/">
                    {{ emails_form }}
                    <input type="submit" value="Poslji emaile">
                </form>
            </li>
        </ul>
  </div>

{% endblock %}

{% block content-main %}
    <div class="module">
        <h2>{{ object.title }}</h2>
        <h4>{{ object.project }}</h4>
            <p><a href="{{ object.get_public_url }}">{{ object.title }}</a></p>
            <p>{{ object.start_date|date:"D d.m.Y H:i" }}  ({{ object.length }})</p>
            {% if object.slides %}
            <h4> Slajdi</h4>
            {{ object.slides }}
            {% endif %}
            {% if object.image %}
                <h4> uploaded image</h4>
                <img src="{{ media_url }}{{ object.image }}"></img>
            {% endif %}
            <h4>M3C kategorija</h4>
            <p>
                {{ object.category }}
            </p>
            <h4>Projekt</h4>
            <p>
                {{ object.project }}
            </p>
            {% if object.emails.all %}
                <h4>Subscribani (za spammanje ko je video objavljen):</h4>
                <p>
                    {{ object.emails.all|join:", " }}
                </p>
            {% endif %}
            {% if sodelovanja %}
            <h4>Sodelovanja:</h4>
            <p>
            {% for sodelovanje in sodelovanja %}
                {{ sodelovanje.tip }}: {{ sodelovanje.person }}
            {% endfor %}
            </p>
            {% endif %}
            <h4>Jezik</h4>
            <p>
                {{ object.language }}
            </p>
          <h4>Zahteve:</h4>
          <p>
                {% if object.require_technician %}
                    tehnik
                {% endif %}
                {% if object.require_video %}
                    ,video
                {% endif %}
                {% if object.place%}
                  {% for o in object.place.all %}
                    , {{ o }}
                  {% endfor %}
                {% endif %}
          </p>
          	{% if object.visitors %}
          <h4>Število obiskovalcev:</h4>
          <p>{{ object.visitors }}</p>
          	{% endif %}
          <h4>Vsebina:</h4>
          <p>
            {{ object.announce|safe }}</p>
	
	  <h4>Kratka vsebina:</h4>
          <p>
            {{ object.short_announce|linebreaks }}</p>          

      <h4>Opomba:</h4>
          <p>
            {{ object.note|linebreaks }}</p>   
    </div>

{% endblock %}

{% block content-related-right %}

{% endblock %}
