{% extends "org/base_2col.html" %}
{% block extrahead %}  {% endblock %}
{% block title %}Dogodki{% endblock %}
{% load box %}
{% block toplinks %}
	<div class="breadcrumbs">
	<ul id="breadcrumbs">
		<li>Meseci: </li>
		{% for obj in date_list %}
			<li><a href="{{ obj|date:"b"}}/">{{ obj|date:"F" }}</a></li>
		{% endfor %}
	</ul>
	</div>
{% endblock %}

{% block heading %}
        <h1>Arhiv dogodkov - leto {{ year }} ({{ object_list|length }} dogodkov)</h1></h1>
{% endblock %}

{% block content-related-left %}
  <div class="module" id="recent-actions-module">

  </div>
{% endblock %}

{% block content-main %}
	<div class="module">
	<h2>Seznam</h2>
	<ul>
        {% for log in object_list %}
			<li>
				{% print_event log %}
			</li>
	    {% endfor %}
	</ul>
	</div>
{% endblock %}

{% block content-related-right %}
  <div class="module" id="recent-actions-module">
    <h2>Filtri</h2>
  	 <ul class="actionlist">
		<br>
	</ul>
</div>
{% endblock %}
