  <p>
    <label for="id_name">Kaj:</label>
    {{ form.name }}
    {% if form.name.errors %}
      *** {{ form.name.errors|join:", " }}
    {% endif %}
  </p>
  <p>
    <label for="id_author">Predlagal:</label>
    {{ form.author }}
    {% if form.author.errors %}
      *** {{ form.author.errors|join:", " }}
    {% endif %}
  </p>
  <p>
    <label for="id_explanation">Zakaj:</label>
    {{ form.explanation }}
    {% if form.explanation.errors %}
      *** {{ form.explanation.errors|join:", " }}
    {% endif %}
  </p>
  <p>
    <label for="id_cost">Cena:</label>
    {{ form.cost }}
    {% if form.cost.errors %}
      *** {{ form.cost.errors|join:", " }}
    {% endif %}
  </p>
  <p>
    <label for="id_bought">Že kupljeno?</label>
    {{ form.bought }}
    {% if form.bought.errors %}
      *** {{ form.bought.errors|join:", " }}
    {% endif %}
  </p>
  <p>
    <label for="id_responsible">Rešuje:</label>
    {{ form.responsible }}
    {% if form.responsible.errors %}
      *** {{ form.responsible.errors|join:", " }}
    {% endif %}
  </p>
  <p>
    <label for="id_supporters">Predlog podpirajo:</label>
    {{ form.supporters }}
    {% if form.supporters.errors %}
      *** {{ form.supporters.errors|join:", " }}
    {% endif %}
  </p>
  <p>
    <label for="id_project">Za projekte:</label>
    {{ form.project }}
    {% if form.project.errors %}
      *** {{ form.project.errors|join:", " }}
    {% endif %}
  </p>
  <p>
    <label for="id_task">Za opravila:</label>
    {{ form.task }}
    {% if form.task.errors %}
      *** {{ form.task.errors|join:", " }}
    {% endif %}
  </p>
