{% extends "org/base_bootstrap.html" %}
{% load honeypot i18n %}
{% block extrahead %}
<script type="text/javascript" src="{{ settings.STATIC_URL }}org/js/jquery.highlightFade.js" ></script>
<script type="text/javascript" src="{{ settings.STATIC_URL }}org/js/jquery.suggest.js" ></script>
<script type="text/javascript" src="{{ settings.STATIC_URL }}org/js/jquery.ajaxUpload.js" ></script>
<script type="text/javascript" src="{{ settings.STATIC_URL }}org/js/jquery.imgareaselect-0.6.1.min.js" ></script>
<script type="text/javascript">
var imgResized = function imgResized(img, sel) {
    var result = new Array(sel.x1, sel.x2, sel.y1, sel.y2);
    $("#id_resize").attr("value", result.join(','));
    
    $.ajax({
        type: 'POST',
        url: "/intranet/image_crop_tool/resize/",
        dataType: "json",
        data: $("#resizeform").serialize(),
        success: function (data, status) {
            if (data.status === "ok") {
                var tim = new Date();
                $("#final_image").html('<img id="final_img" src="' + data["resized_url"] + '?t=' + tim.getTime() + '" />');
                $("#id_resized_filename").attr("value", data['resized_filename']);
                $('#id_imageok').removeAttr('disabled');
            } else {
                alert(data.status);
                location.reload(true);
            }
        }
    });
    
}

$(document).ready(function () {
    $("#id_image").change(function () {
        $.ajaxFileUpload({
            url: '/intranet/tmp_upload/',
            secureuri: true,
            fileElementId: 'id_image',
            dataType: 'json',
            success: function (data, status) {
                if (data.status === "ok") {
                    $("#ajax_img").html('<img id="rect" src="' + data['link'] + '">');
                    $('#id_filename').attr("value", data['filename']);
                    $('img#rect').imgAreaSelect({selectionColor: null, aspectRatio: "250:130", onSelectEnd: imgResized});
                } else {
                    alert(data.status);
                    location.reload(true);
                }
            },
            error: function (data, status, e) {
                alert(e);
            }
         });

    });
    $("#id_imageok").click(function () {
        if ($('#id_title').val() === "") {
            alert("Manjka opis slike");
            return null; 
        }
        this.disabled=true;
        $.ajax({
            type: 'POST',
            url:"/intranet/image_crop_tool/save/",
            dataType: "json",
            data:$("#imageok_form").serialize(),
            success: function (data, status) {
                if (data.status === "ok") {
                        $("#id_imageok").attr('disabled', '');
                        $("#message").html("Saved.");
                } else {
                    alert(data.status);
                    location.reload(true);
                }
            }
        });
    });
});
</script>
{% endblock %}
{% block title %}Slike{% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span3">
    <div id="content-related" class="sidebar">
        <div id="recent-actions-module" class="module">
            <h2>Nalaganje slike</h2>
            <form id="upload_image" method="POST" action="" enctype="multipart/form-data">
                <input name="image" type="file" id="id_image" />
            </form>
            <div id="final_image">&nbsp;</div>
            <form id="imageok_form" method="POST" action="">
                <label for="id_title">Opis slike (obvezno!)</label><input type="text" id="id_title" name="title" />
                <input type="hidden" id="id_resized_filename" name="resized_filename" />
            </form>
            <input class="btn btn-primary" type="submit" id="id_imageok" name="imageok" disabled="disabled" value="Dobro bo" />
            <div id="message">&nbsp;</div>
        </div>
    </div>
    </div>
    <div class="span9">
    <div class="module">
        <h2>Formatiranje slike</h2>

        <div id="ajax_img">&nbsp;</div>
        <form id="resizeform" action="" method="POST">
            {{ form.as_p }}
        </form>
    </div>
    </div>
</div>
{% endblock %}
