{% extends "org/base_3col.html" %}

{% block extrahead %}
<script src="{{ media_url }}/jquery-1.2.6.min.js"></script> 
<link rel="stylesheet" href="{{ media_url }}/css/flora.datepicker.css" type="text/css" media="screen" title="Flora (Default)">
<script src="{{ media_url }}/js/ui.datepicker.js"></script>
<script>
  $(document).ready(function(){
    $('#id_date').datepicker({firstDay: 1});
    $('#id_due_by').datepicker({firstDay: 1});
    $('#id_due_date').datepicker({firstDay: 1});
    });
</script>
<!--
<script src="{{ media_url }}/MochiKit/MochiKit.js" type="text/javascript"></script>
<script src="{{ media_url }}/MochiKit/Position.js" type="text/javascript"></script>
<script src="{{ media_url }}/MochiKit/Visual.js" type="text/javascript"></script>
-->
{% endblock %}

{% block title %}Osnovni pregled{% endblock %}

{% load box %}

{% block heading %}
        <h1>Nadzorna plošča</h1>
{% endblock %}

{% block content-related-left %}
  <div class="module">
    <h2 class="expand"><img src="{{ media_url }}/img/expand.gif" alt="expand diary" />Dodaj dnevnik</h2>
		<div id="diary_box" class="hideme">{% include "org/content/diary_form.html" %}</div>
  </div>

  <div class="module">
    <h2 class="expand"><img src="{{ media_url }}/img/expand.gif" alt="expand lends" />Posodi opremo</h2>
    <div id="lend_box" class="hideme">
    {% include "org/content/lend_form.html" %}
    </div>
  </div>
  
  <div class="module">
    <h2>Kracarka</h2>
    <div id="scratchpad">{% box_scratchpad user.id %}</div>
  </div>

{% endblock %}

{% block content-main %}
  <div class="module" id="messages-module">
    <h2>
      <img src="{{ media_url }}/img/information.png" alt="notification icon" /> 
      <a href="/intranet/admin/org/stickynote">Obvestila</a>
    </h2>
    {% box_list StickyNote "due_date__gte=today" "template=org/list_sticky.html" %}
  </div>

  <div class="module">
    <h2>
        <a href="/intranet/feeds/todos/{{ user }}">
            <img src="{{ media_url }}/img/rss.gif" alt="rss responsibilities" />
        </a>
        Moje odgovornosti
    </h2>

    <h4>Sem posodil:</h4>
    {% box_list Lend "from_who__exact=user.id, returned__exact=False" "template=org/list_lend.html" %}
    <h4>Moji dogodki:</h4>
    {% box_list Event "responsible__exact=user.id, start_date__gte=start_date" "template=org/list_my_event.html" %}
    {% box_list Event "technician__exact=user.id, start_date__gte=start_date" "template=org/list_my_event.html" %}
    <h4>Moje želje po nakupih</h4>
        {% box_list Shopping "author__exact=user.id, bought__exact=False" "template=org/list_shopping.html" %}
  </div>
{% endblock %}

{% block content-related-right %}
  <div class="module">
    <h2>
        <a href="/intranet/feeds/events/">
            <img src="{{ media_url }}/img/rss.gif" alt="rss events" />
        </a>
        Aktualni <a href="/intranet/events/">dogodki</a>
    </h2>

     <ul class="actionlist">

      {% box_list Event "start_date__gte=start_date,start_date__lte=end_date" "template=org/list_event.html,order_by=start_date" %}

      </ul>

  </div>
{% endblock %}
