{% extends "org/base_bootstrap_fluid.html" %}
{% load box i18n %}
{% load url from future %}

{% block navigation %}
<div class="well" style="overflow: hidden;">
	<div class="module">
		<img alt="random rageface" title="Welcome to tha njuw intranetz!" src="{{ settings.STATIC_URL }}org/images/rageface/{{ rageface }}" width="200" height="200" style="margin-bottom: 1em;"/>

		<p>Dobrodošel v polikanem Intranetu. Please do some work!</p>

		<p>Na desni imaš seznam opravil, ki čakajo na tvojo pozornost. Nič
		hudega, če je prazen &mdash; naš <a
		href="http://wiki.kiberpipa.org">wiki</a> vedno rabi novih in svežih
		vsebin.  V skrajni sili se nariši na IRC kanal #kiberpipa na strežniku
		irc.sioff.net in potarnaj, da ti je dolgčas.  Work will be found!  </p>
	</div>
	
	<div class="module">
		<h2>{% trans "Scratchpad" %}</h2>

		<p>Kracarka skupna oglasna deska. Kar nakracaš tu, bo vidno vsakemu
		uporabniku intraneta.</p>

		{% box_scratchpad user.id %}
	</div>
</div>
{% endblock %}

{% block alert %}
	{% box_list StickyNote "due_date__gte=today" "template=org/list_sticky.html" %}
{% endblock %}

{% block title %}
	{% trans "Basic overview" %}
{% endblock %}

{% block content-main %}

  <div class="module">
    <h2>
        {% trans "My responsibilities" %}
        <a href="/intranet/feeds/todos/{{ user }}">
            <img src="{{ settings.STATIC_URL }}org/images/rss.png" alt="rss responsibilities" />
        </a>
    </h2>

    <h4>{% trans "My events:" %}</h4>
    {% box_list Event "responsible__exact=user.id, start_date__gte=start_date" "template=org/list_my_event.html" %}
    {% box_list Event "technician__exact=user.id, start_date__gte=start_date" "template=org/list_my_event.html" %}
    <h4>{% trans "I lent:" %}</h4>
    {% box_list Lend "from_who__exact=user.id, returned__exact=False" "template=org/list_lend.html" %}
    <h4>{% trans "My wishlist shopping:" %}</h4>
    {% box_list Shopping "author__exact=user.id, bought__exact=False" "template=org/list_shopping.html" %}

  </div>

	<div class="module">
		<h2>Dogodki za polikat</h2>	
  {% if unfinished_events.0 or unfinished_events.1 or unfinished_events.2 %}
    <div class="content-box">
      <h2 {% trans "Unfinished events" % </h2>

      {% if unfinished_events.0 %}
	<h4>{% trans "Public events with no visitors:" %}</h4>
	<ul>
	  {% for event in unfinished_events.0 %}
	    <li> <a href="{% url 'event_edit' event.id %}">{{ event }}</a> </li>
	  {% endfor %}
	</ul>
      {% endif %}

      {% if unfinished_events.1 %}
      <h4>{% trans "Events marked as recorded but no video attached:" %}</h4>
      <ul>
	  {% for event in unfinished_events.1 %}
	      <li> <a href="{% url 'event_edit' event.id %}">{{ event }}</a> </li>
	  {% endfor %}
      </ul>
      {% endif %}

      {% if unfinished_events.2 %}
      <h4>{% trans "Events with required pictures has no flickr id:" %}</h4>
      <ul>
	  {% for event in unfinished_events.2 %}
	      <li> <a href="{% url 'event_edit' event.id %}">{{ event }}</a> </li>
	  {% endfor %}
      </ul>
      {% endif %}
    </div>
  {% endif %}
	</div>

  <div class="module">
    <h2>
        <a href="/intranet/feeds/events/">
            <img src="{{ settings.STATIC_URL }}org/images/rss.png" alt="rss events" />
        </a>
        {% trans "Current" %} <a href="/intranet/events/">{% trans "events" %}</a>
    </h2>

    <ul class="actionlist">
      {% box_list Event "start_date__gte=start_date,start_date__lte=end_date" "template=org/list_event.html,order_by=start_date" %}
    </ul>
  </div>

{% endblock %}
