{% extends "org/base_2col.html" %}

{% block title %}Baza znanja{% endblock %}

{% block heading %}
        <h1>Zbirka znanja: {{ article.title }}</h1>
{% endblock %}

{% block content-main %}
<div class="module">
    <h2>Članek: {{ article.title }}</h2>
    <br>
    {{ article.content|safe }}
</div>
<div class="module">
    <h2>Metapodatki</h2>
  <ul>
    <li>Zadnji urejal: {{ article.editor }}</li>
    <li>Prispevek spada v kategorijo: {{ article.category }}</li>
    {% if article.project.all %}
    <li>Prispevek je povezan z naslednjimi projekti:
      {% for p in article.project.all %}
      <ul>
        <li>{{ p }}</li>
      </ul>
      {% endfor %}
    </li>
    {% endif %}
    <li>
    {% if article.task.all %}
    <li>Prispevek je povezan z naslednjimi nalogami:
      {% for t in article.task.all %}
        <ul>
          <li>{{ t }}</li>
        </ul>
      {% endfor %}
    </li>
    {% endif %}
  </ul>

</div>
{% endblock %}
