{% extends "org/base_3col.html" %}
{% block title %}Reverzi opreme{% endblock %}

{% block extrahead %}
          <script>
  $(document).ready(function(){
    $('#id_due_date').datepicker({firstDay: 1});
    });
    </script>
  <link rel="stylesheet" href="{{ media_url }}/css/flora.datepicker.css" type="text/css" media="screen" title="Flora (Default)">
<script src="{{ media_url }}/js/ui.datepicker.js"></script>
{% endblock %}
{% load box %}
{% block heading %}
        <h1>Reverzi</h1>
{% endblock %}

{% block content-related-left %}
  <div class="module" id="recent-actions-module">
      <h2>Vpisi reverz</h2>
        {% comment %}{% box_add Lend %}{% endcomment %}
        <form method="post" action=".">
        {{ form.as_p }}
        <input type="submit" value="Posodi">
        </form>
  </div>
{% endblock %}

{% block content-main %}
    <div class="module">
    {% for log in latest %}
    {% if not log.returned %}
    		<h2><a class="h2" href="{{ log.id }}">{{ log.what }}</a>
                  do {{ log.due_date|date:"d.m.Y" }}</h2>
        <h5>{{ log.from_who }} -> {{ log.to_who }} {% if log.contact_info %} ({{log.contact_info}}) {% endif %}</h5>
    {% endif %}
    {% endfor %}
    </div>
{% endblock %}

{% block content-related-right %}
  <div class="module" id="recent-actions-module">
    <h2>Filter po izposojevalcih</h2>
    <ul>
       {% for luser in responsible %}
        <li><a href="{{ luser }}">{{ luser }}</a></li>
        {% endfor %}
        </ul>
</div>
  <div class="module" id="recent-actions-module">
    <h2>Izposojena oprema</h2>
       <ul class="actionlist">
        {% box_list Lend "returned=False" "template=org/list_lend.html" %}
    </ul>
</div>
{% endblock %}
