{% extends "org/base_3col.html" %}
{% load box %}
{% block extrahead %}
<script>
  $(document).ready(function(){
    $('#id_due_date').datepicker({firstDay: 1});
    });
</script>
{% endblock %}
{% block title %}Reverz{% endblock %}

{% block heading %}
    <h1>Reverz</h1>
{% endblock %}

{% block content-related-left %}
{% endblock %}

{% block content-main %}
<div class="module" id="recent-actions-module">
      <h2>Uredi reverz</h2>
      {% include "org/content/lend_form.html" %}
</div>
{% endblock %} 

{% block content-related-right %}
{% endblock %}
