{% extends "org/base_bootstrap_fluid_span9.html" %}
{% block title %}Reverzi opreme{% endblock %}
{% load url from future %}


{% block navigation %}
<div class="well">
	<ul class="nav nav-list">
		<li><a href="{% url 'lend_index' %}">&larr; Nazaj na reverze</a></li>
	</ul>
	{% if not object.returned %}
	<div class="module">
		<a class="btn btn-primary" href="{% url 'lend_back' lend.id %}">Vrni</a>
	</div>
    	{% endif %}
</div>
<div class="well">
	<ul class="nav nav-list">
		<li class="nav-header">Uredi reverz</li>

		<li>
			{% include "org/lend_form.html" %}
		</li>
	</ul>
</div>
{% endblock %}


{% block content-main %}
    {% include "org/lend_table.html" with objects=lends %}
{% endblock %}
