{% load box i18n %}

{% if object_list %}
<table class="table table-striped">
    <thead>
        <tr>
            <th><i class="icon-calendar"></i> {% trans "Date" %}</th>
            <th><i class="icon-barcode"></i> {% trans "Title" %} / {% trans "Location" %}</th>
            <th><i class="icon-film"></i> {% trans "Project" %}</th>
            <th><i class="icon-picture"></i> {% trans "Media" %}</th>
            <th><i class="icon-user"></i> {% trans "Staff" %}</th>
    	</tr>
    </thead>
    <tbody>
{% for task in object_list %}
{% print_event task %}
{% endfor %}
    </tbody>
</table>
{% endif %}
