{% if object_list %}
<div class="module" style="border: 0; padding: 0 0 1px 0">
{% for task in object_list %}
	<div class="alert alert-error">
		<a class="close" data-dismiss="alert">×</a>
		<h4 class="alert-heading">Pomembno obvestilo</h4>{{ task.note|linebreaks }}
	
		Objavil <a href="../addressbook/#{{ task.author.username }}"><b>{{ task.author.first_name }} {{ task.author.last_name }}</b></a>
		<span class="username"><a class="nohover" href="../addressbook/#{{ task.author.username }}">@{{ task.author.username }}</a></span>
		<span class="filed"><a href="{{ task.get_absolute_url }}">{{ task.post_date|date:"l d.m.Y"|capfirst }}</a>. Traja do {{ task.end_date }}.
	</div>
{% endfor %}
</div>
{% endif %}
