{% load box %}

{% if object_list %}
<table class="table table-striped">
	<caption>Moji dogodki</caption>
    <thead>
    	<tr>
        	<th>Ime</th>
            <th>Projekt</th>
            <th><i class="icon-film"></i> Video</th>
            <th><i class="icon-picture"></i> Slike</th>
            <th><i class="icon-user"></i> Tehnik</th>
            <th><i class="icon-calendar"></i> Datum</th>
		</tr>
	</thead>
	<tbody>
{% for task in object_list %}
{% print_event task %}
{% endfor %}
	</tbody>
</table>
{% endif %}
