{% extends "org/base.html" %}
{% block extrahead %}
<script type="text/javascript" src="{{ media_url }}markitup/jquery.markitup.js"></script>
<link rel="stylesheet" type="text/css" href="{{ media_url }}markitup/skins/markitup/style.css" />
<link rel="stylesheet" type="text/css" href="{{ media_url }}markitup/sets/html/style.css" />
<script type="text/javascript" src="{{ media_url }}markitup/sets/html/set.js"></script>
<script type="text/javascript" src="{{ media_url }}js/jquery.highlightFade.js" ></script>
<script src="{{ media_url }}/js/ui.datepicker.js"></script>
<!-- jquery date picker -->
  <link rel="stylesheet" href="{{ media_url }}/css/flora.datepicker.css" type="text/css" media="screen" title="Flora (Default)">
<!-- calendar -->
    <link rel="stylesheet" type="text/css" href="{{ media_url }}js/cal/calendar-win2k-cold-2.css" />
    <script type="text/javascript" src="{{ media_url }}js/cal/calendar.js"></script>
    <script type="text/javascript" src="{{ media_url }}js/cal/lang/calendar-en.js"></script>
    <script type="text/javascript" src="{{ media_url }}js/cal/calendar-setup.js"></script>
    <script type="text/javascript" src="{{ media_url }}js/jquery.suggest.js" ></script>
    <script type="text/javascript" src="{{ media_url }}js/jquery.ajaxUpload.js" ></script>
    <script type="text/javascript" src="{{ media_url }}js/jquery.imgareaselect-0.6.1.min.js" ></script>

<script type="text/javascript">

function addFormField() {
    var id = document.getElementById("id").value;
    $("#divTxt").append("<p id=\"row" + id + "\"><label for=\"id_author\">Avtor(ji?): </label><input type=\"text\" class=\"input_author\" name=\"author\" id=\"id_author\" /><label for=\"id_tip\"></label><select name=\"tip\" id=\"id_tip\">{% for t in tipi %}<option value=\"{{ t.id }}\">{{ t }}</option>{% endfor %}</select><a href='#' onClick='removeFormField(\"#row" + id + "\"); return false;'>Remove</a></p>");


    $('#row' + id).highlightFade({
        speed:1000
    });

    id = (id - 1) + 2;
    document.getElementById("id").value = id;

    $(".input_author").suggest("/intranet/autocomplete/");
}

function removeFormField(id) {
    $(id).remove();
}

maxL=64;
var bName = navigator.appName;
function taLimit(taObj) {
    if (taObj.value.length==maxL) return false;
    return true;
}

function taCount(taObj,Cnt) {
    objCnt=createObject(Cnt);
    objVal=taObj.value;
    if (objVal.length>maxL) objVal=objVal.substring(0,maxL);
    if (objCnt) {
        if(bName == "Netscape"){
            objCnt.textContent=maxL-objVal.length;}
        else{objCnt.innerText=maxL-objVal.length;}
    }
    return true;
}
function createObject(objId) {
    if (document.getElementById) return document.getElementById(objId);
    else if (document.layers) return eval("document." + objId);
    else if (document.all) return eval("document.all." + objId);
    else return eval("document." + objId);
}

function imgResized(img, sel) {
    var result = new Array(sel.x1, sel.x2, sel.y1, sel.y2)
    $("#id_resize").attr("value", result.join(','));
}
$(document).ready(function() {
    $("#id_image").change(function(){
        $.ajaxFileUpload
        (
            {
                url:'/intranet/tmp_upload/',
                secureuri:false,
                fileElementId:'id_image',
                dataType: 'json',
                success: function (data, status)
                {
                    $("#ajax_img").html('<img id="rect" src="' + data['link'] + '">');
                    $("#id_filename").attr("value", data['filename']);
                    $('img#rect').imgAreaSelect({ selectionColor: 'blue', aspectRatio: "250:130", onSelectEnd: imgResized});
                },
                error: function (data, status, e)
                {
                    alert(e);
                }
            }
        )

    })
    $("#id_project").change(function(){
        var now = new Date();
        var time = now.getYear() + 1900 + '-' + (now.getMonth() + 1) + '-' + now.getDate() + ' 19:00';
        switch ($("#id_project").children()[this.selectedIndex].value) {
            case '6': //su
                $("#id_start_date").attr("value", time);
                $("#id_category").attr("value", 3); //izobrazevanje
                $("#id_place").attr("value", 2); //glavni prostor
                $("#id_responsible").attr("value", 43); //fry
                $("#id_require_technician").attr("checked", true);
                $("#id_require_video").attr("checked", true);
                break;
            case '14': //vip
                $("#id_start_date").attr("value", time);
                $("#id_category").attr("value", 3); //izobrazevanje
                $("#id_place").attr("value", 2); //glavni prostor
                $("#id_responsible").attr("value", 45); //klemen
                $("#id_require_technician").attr("checked", true);
                $("#id_require_video").attr("checked", true);
                break;
            case '1': //pot
                $("#id_start_date").attr("value", time);
                $("#id_category").attr("value", 3); //izobrazevanje
                $("#id_place").attr("value", 2); //glavni prostor
                $("#id_responsible").attr("value", 42); //lowkey
                $("#id_require_technician").attr("checked", true);
                $("#id_require_video").attr("checked", true);
                break;
        }
    });
    $(".input_author").suggest("/intranet/autocomplete/");
    $('#id_announce').markItUp(mySettings);
});
  
  </script>


      <style type="text/css">      
      h3 {background:#f5f5f5 none repeat scroll 0 0;}
      </style>


{% endblock %}
{% block title %}Dogodki{% endblock %}
{% load markup %}

{% load box %}

{% block content %}
<div id="content" class="colMS">
    <h2>Ponavljanje</h2>
    <form method="POST" action="" enctype="multipart/form-data"> 
    <div id="content-related" class="sidebar">
    <div  class="module" id="recent-actions-module">
		{% box_reccurings form %}
	<h3> <input type="submit" value="Vpiši" /></h3>
    </div>
    </div>

    <div id="content-full" class="flex">
    <div class="module">
	<h2>Dodaj dogodek v koledar</h2>
{% if form.has_errors %}
	<h3>Please correct the following error{{ form.error_dict|pluralize }}:</h3>
{% endif %}
  <p>
    {{ form.title.errors }}
    {{ form.title.label_tag }}
    {{ form.title }}
    <br />
    {{ form.project.errors }}
    <label for="id_project">V okviru projekta:</label>
    {{ form.project }}
  </p>
	<p>
<a href="#" onClick="addFormField(); return false;">Dodaj še enega avtorja</a></p>
    {% if sodelovanja %}
<input type="hidden" id="id" value="{{ sodelovanja.count|add:"1"}}"> <!-- XXX -->
<div id="divTxt">
        {% for sodelovanje in sodelovanja %}
<p id="row{{ forloop.counter }}">        <label for="id_author">Avtor(ji?): </label>
             <input type="text" name="author" class="input_author" id="id_author" value="{{ sodelovanje.person }}" />
        <label for="id_tip"></label>

             <select name="tip" id="id_tip">
              {% for t in tipi %}              
                <option {% ifequal t sodelovanje.tip %}selected="selected"{% endifequal %} value="{{ t.id }}">{{ t }}</option>
            {% endfor %}
                
                </select> 
                <a href='#' onClick='removeFormField("#row{{ forloop.counter }}"); return false;'>Remove</a>
</p>
        {% endfor %}
</div>
    {% else %}
<input type="hidden" id="id" value="2">
<div id="divTxt">
        <p id="row1"><label for="id_author">Izvajalci dogodka: </label>
             <input type="text" name="author" class="input_author" id="id_author" />
        <label for="id_tip"></label>

             <select name="tip" id="id_tip">
              {% for t in tipi %}              
                <option {% ifequal t tip %}selected="selected"{% endifequal %} value="{{ t.id }}">{{ t }}</option>
            {% endfor %}
                
                </select> 
    <a href='#' onClick='removeFormField("#row1"); return false;'>Remove</a>
                </p>
                </div>
    {% endif %}  

<p>
    {{ form.category.errors }}
    <label for="id_category">m3c kategorija:</label>
    {{ form.category }}
    </p>
 <p>
<p>
    {{ form.language.errors }}
    {{ form.language.label_tag }}
    {{ form.language }}
    </p>
 <p>
    {{ form.responsible.errors }}
    <label for="id_responsible">Odgovorna oseba:</label>
    {{ form.responsible }}
</p>
<p>
    {{ form.public.errors }}
    <label for="id_public">Dogodek je javen:</label>
    {{ form.public }}
<hr>
   <p>
    <label for="id_start_date">Čas pričetka:</label>
    {{ form.start_date|safe }}
    <br />
    <br /> 
    {{ form.length.errors }}
    <label for="id_length">Trajanje:</label>
    {{ form.data.length }}
   	<select selected name="length" size="1">   	   
            <option {% ifequal '01:00:00' form.data.length %}selected {% endifequal %} value="01:00:00">1</option>
            <option {% ifequal '02:00:00' form.data.length %}selected {% endifequal %} value="02:00:00">2</option>
            <option {% ifequal '03:00:00' form.data.length %}selected {% endifequal %} value="03:00:00">3</option>
            <option {% ifequal '04:00:00' form.data.length %}selected {% endifequal %} value="04:00:00">4</option>
            <option {% ifequal '05:00:00' form.data.length %}selected {% endifequal %} value="05:00:00">5</option>
            <option {% ifequal '06:00:00' form.data.length %}selected {% endifequal %} value="06:00:00">6</option>
            <option {% ifequal '07:00:00' form.data.length %}selected {% endifequal %} value="07:00:00">7</option>
            <option {% ifequal '08:00:00' form.data.length %}selected {% endifequal %} value="08:00:00">8</option>
            <option {% ifequal '09:00:00' form.data.length %}selected {% endifequal %} value="09:00:00">9</option>
            <option {% ifequal '10:00:00' form.data.length %}selected {% endifequal %} value="10:00:00">10</option>
            <option {% ifequal '11:00:00' form.data.length %}selected {% endifequal %} value="11:00:00">11</option>
            option {% ifequal '12:00:00' form.data.length %}selected {% endifequal %} value="12:00:00">12</option>
        </select>
        ur 
				{% comment %}{{ form.length }} {% endcomment %}
   </p>
<hr>
  <p>
    {{ form.require_technician.errors }}
    <label for="id_require_technician">Dogodek potrebuje tehnika:</label>
    {{ form.require_technician }}
  <p>
    {{ form.require_video.errors }}
    <label for="id_require_video">Dogodek bo sneman:</label>
    {{ form.require_video }}
  </p>
  <p>
    {{ form.place.errors }}
    <label for="id_place">Prostor:</label>
    {{ form.place}}
    </p>
  <p>
    {{ form.slides.errors }}
    {{ form.slides.label_tag }}
    {{ form.slides }} {{ form.slides_file }}
    </p>
  <p>
    {{ form.image.errors }}
    {{ form.image.label_tag }}
    {{ form.image }} {{ form.image_file }}
    <div id="ajax_img"></div> 
  </p>
{% if image.url %}
  <p id="current_img">
    <label for="current_img">Trenutna slika:</label>
    <img src="{{ image.url }}" />
  </p>
{% endif %}
<hr>
 <p>
    {{ form.announce.errors }}
    <label for="id_announce">Uradna najava:</label>
    {{ form.announce }}
  </p>
  
   <p>
    {{ form.short_announce.errors }}
    <label for="id_short_announce">Kratka najava:</label>
    {{ form.short_announce }}
  </p>

<hr>

  <p>
    {{ form.note.errors }}
    <label for="id_note">Opombe:</label>
    {{ form.note }}
  </p>
  {{ form.resize.label_tag }}
  {{ form.resize }}
  {{ form.filename.label_tag }}
  {{ form.filename }}
  </div>
  </div>
	</form>
</div>
{% endblock %}
