{% load url from future %}
<div class="{{ event.project.name|slugify }}">
	<ul class="event">
		<li>
            {% if event.video.all %}
            <a href="{{ event.video.all.0.get_absolute_url }}" title="Ima posnetek">
            <img src="{{ settings.STATIC_URL }}org/images/accept.png" class="has" alt="has" />
            {% else %}
            <a href="" title="Ni posnetka">
            {% endif %}
                <img src="{{ settings.STATIC_URL }}org/images/film.png"
                    class="{% if not event.require_video %}notrequired{% endif %}" alt="video" />
            </a>
		</li>
		<li>
            {% if event.flickr_set_id %}
            <a href="{{ event.flickr_url }}" title="Ima fotografije">
                <img src="{{ settings.STATIC_URL }}org/images/accept.png" class="has" alt="has" />
            {% else %}
            <a href="{% url 'event_edit' event.id %}" title="Ni fotografij">
            {% endif %}
                <img src="{{ settings.STATIC_URL }}org/images/photo.png"
                    class="{% if not event.require_photo %}notrequired{% endif %}" alt="photo" />
            {% if event.flickr_set_id %}
            </a>
            {% endif %}
		</li>
		<li class="technician">
            {% if event.technician %}
            <a href="" title="Ima tehnika">
                <img src="{{ settings.STATIC_URL }}org/images/accept.png" class="has" alt="has" />
            {% else %}
            <a href="/intranet/tehniki/add/{{ event.id }}" title="Ni tehnika">
            {% endif %}
                <img src="{{ settings.STATIC_URL }}org/images/tools.png"
                    class="{% if not event.require_technician %}notrequired{% endif %}" alt="technician" />
            </a>
		</li>
		<li>{{ event.start_date|date:"d.m.Y D, H:i" }}</li>
		<li><i>{{ event.project }}</i></li>
		<li><a href="/intranet/events/{{ event.id }}/">{{ event.title }}</a></li>
		<li>({{ event.length|time:"H:i" }})</li>
		<li><a href="{% url 'event_edit' event.id %}">[Uredi]</a></li>
  </ul>
</div>
