{% load gravatar i18n %}
<div class="diary T{{ object.task.id }} P{{ object.project.id }}" id="diary_{{ object.id }}">
    <a name="diary_{{ object.id }}"></a>
	<div class="profile_image profile_image_fake">
	<a href="../addressbook/#{{ object.author.username }}">
		{% if object.author.get_profile.image %}
			<img class="profile_image" src="{{ object.author.get_profile.image.url }}" alt="{{ object.author }}'s avatar" />
		{% else %}
			{% gravatar object.author.email 50 %}
		{% endif %}
	</a>
	</div>

	<div style="margin-left: 55px">
		<a href="../addressbook/#{{ object.author.username }}"><b>{{ object.author.first_name }} {{ object.author.last_name }}</b></a>
		<span class="username"><a class="nohover" href="../addressbook/#{{ object.author.username }}">@{{ object.author.username }}</a></span>
		<span class="duration">trajanje: {{ object.length|time:"G:i" }}</span><br/>

	{% if object.log_formal %}
	    <p class="formal">{{ object.log_formal|urlize|linebreaksbr }}</p>
    	{% endif %}
	    {% if object.log_informal %}
	    	<p class="informal"><i>Informal:</i> {{ object.log_informal|urlize|linebreaksbr }}</p>
	    {% endif %}
         
        {% if object.is_paid %}
	<span class="filed">{% trans "Filed for the term of" %} {{ object.date|date:"l d.m.Y H:i"|capfirst }} ({{ object.length|date:"H:i" }})
	<br/>{% trans "on" %} <a href="/intranet/diarys/{{ object.id }}/">{{ object.pub_date|date:"l d.m.Y H:i"|capfirst }}</a> {% trans "under" %} #{{ object.task }}</span>
        {% else %}
	<span class="filed">{% trans "Filed on" %}
		<a href="/intranet/diarys/{{ object.id }}/">{{ object.date|date:"l d.m.Y H:i"|capfirst }}</a>
		{% trans "under" %} #{{ object.task }}</span>
    	{% endif %}

	{% if object.author == user %}
		<a class="btn btn-primary edit" href="/intranet/diarys/{{ object.id }}/">Uredi dnevnik</a>
    	{% endif %}
	</div>
</div>
