{% load i18n %}
{% load url from future %}
<tr>
	<td><a href="{% url 'event_edit' event.id %}">{{ event.title }}</a></td>
	<td><span class="badge">{{ event.project }}</span></td>
	<td>
		{% if event.require_video %}
			{% if event.video.all %}
				<a href="#"><span class="badge badge-success"><i class="icon-film"></i> Predvajaj</span></a>
			{% else %}
				<span class="badge badge-info">Čaka upload</span>
			{% endif %}
		{% else %}
			<span class="badge badge-success">Ne potrebuje</span>
		{% endif %}
	</td>
	<td> 
		{% if event.require_photo %}
			{% if event.flickr_set_id %}
				<a href="{{ event.flickr_url }}"><span class="badge badge-success"><i class="icon-picture"></i> Odpri</span></a>
			{% else %}
				<a href="{% url 'event_edit' event.id %}#id_flickr_set_id" class="btn btn-warning">Vnesi</a>
			{% endif %}
		{% else %}
			<span class="badge badge-success">Ne potrebuje</span>
		{% endif %}
	</td>
	<td>
		{% if event.require_technician %}
			{% if event.technician.all %}
				{% for technician in event.technician.all %}
					<!-- TODO: link to diary -->
					<p class="badge badge-success"><i class="icon-user"></i> {{ technician }}
							{% if technician == user %}
									<a class="badge badge-info" href="/intranet/tehniki/cancel/{{ event.id }}/">{% trans "Sign off" %}</a>
							{% endif %}
					</p>
				{% endfor %}

				{% if user not in event.technician.all %}
					<a href="{% url 'tehniki_take' event.id %}" class="btn btn-small btn-info">{% trans "Volunteer" %}</a>
				{% endif %}
			{% else %}
				<a href="{% url 'tehniki_take' event.id %}" class="btn btn-warning">{% trans "Volunteer" %}</a>
			{% endif %}
		{% else %}
			<span class="badge badge-success">Ne potrebuje</span>
		{% endif %}
	</td>
	<td>{{ event.start_date|date:"d.m.Y D, H:i" }}</td>
	<td>{{ event.end_date|date:"d.m.Y D, H:i" }}</td>
</tr>
