{% extends "org/base_bootstrap_fluid_span9.html" %}
{% load box i18n %}
{% load url from future %}
{% block title %}Želje po nakupih{% endblock %}

{% block navigation %}
<div class="well">
	<ul class="nav nav-list">
		<li><a href="{% url 'shopping_index' %}">&larr; Nazaj na nakupe</a></li>
	</ul>
	{% if not object.bought %}
	<div class="module">
		<a class="btn btn-primary" href="{% url 'shopping_buy' object.id %}">Označi kot kupljeno</a>
	</div>
    	{% endif %}
</div>
<div class="well" style="padding: 8px 0;">
	<ul class="nav nav-list">
		<li class="nav-header">Uredi nakup</li>

		<li>
			{% include "org/shopping_form.html" %}
		</li>
	</ul>
</div>
{% endblock %}

{% block content-main %}
	{% include 'org/shopping_table.html' with objects=wishes %}
{% endblock %}
