{% extends "org/base_3col.html" %}
{% load box %}

{% block title %}Nakupi{% endblock %}

{% block heading %}
  <h1>Želje</h1>
{% endblock %}

{% block content-related-left %}
  <div class="module" id="recent-actions-module">
    <h2>Urejanje</h2>
    <ul>
	{% if not object.bought %}
	<li><a href="buy/">Označi kot kupljeno</a></li>
	{% endif %}
	<li><a href="support/">Podpri</a></li>
    </ul>
    {% include "org/content/shopping_form.html" %}
  </div>
{% endblock %}

{% block content-main %}
    {% print_shopping object %}
{% endblock %}

{% block content-related-right %}
  <div class="module" id="recent-actions-module">
    <h2>Željeni predmeti</h2>
       <ul class="actionlist">
        {% box_list Shopping "bought=False" "template=org/list_shopping.html" %}
    </ul>
</div>
{% endblock %}
