{% extends "org/base_3col.html" %}
{% block extrahead %}{% endblock %}
{% block title %}Osnovni pregled{% endblock %}

{% load box %}
{% load tags %}
{% get_tag_list %}

{% block heading %}
        <h1>Pregled</h1>
{% endblock %}

{% block content-related-left %}
  <div class="module" id="recent-actions-module">

  </div>
{% endblock %}

{% block content-main %}
	<div class="module" id="messages-module">

	{% for tag in blog_tags %}
		<span style="font-size: {{ tag.font_size }}px;">
        <a class="link-typeA" title="Number of entries: {{ tag.total_ref }}" href="/blog/tags/all/{{ tag.name }}">{{ tag.name }}</a>
		</span>
	{% endfor %}

	</div>
{% endblock %}

{% block content-related-right %}
  <div class="module" id="recent-actions-module">

  </div>
{% endblock %}
