{% extends "org/base_3col.html" %}
{% load box markup i18n %}

{% block title %}{% trans "Technicians diaries" %}{% endblock %}

{% block extrahead%}
<script type="text/javascript">
    $(document).ready(function () {
        $('.newdiary').click(function (e) {
            e.preventDefault();
            $('#dnevnikForm').show().find('input[name=uniqueSpot]').val($(this).attr('href'));
        });
        $('#dnevnikForm input[type=reset]').click(function (e) {
            e.preventDefault();
            $('#dnevnikForm').hide();
        });
    });
</script>
{% endblock %}
{% block toplinks %}
    <div class="breadcrumbs">
        <ul id="breadcrumbs">
            <li>{% trans "Views" %}:</li>
            <li><a href="/intranet/tehniki/{{ year }}/{{ iso_week }}">{% trans "Weekly" %}</a></li>
            <li><a href="/intranet/tehniki/{{ year }}/{{ month_name }}">{% trans "Monthly" %}</a></li>
        </ul>
    </div>
{% endblock %}

{% block heading %}
    <h1>{% trans "Technicians diaries" %} - {{ what }} {{ month_number }}</h1>
{% endblock %}

{% block content-related-left %}
  <div class="module" id="recent-actions-module">
    <h2>{% trans "Salaries" %}</h2>
    {% box_plache log_list user %}
  </div>
{% endblock %}

{% block content-main %}
    <div class="module">
      <table>
        <tr>
            <th scope="col">
                <a href="/intranet/tehniki/{{ navigation.prev }}">&lt;&lt;</a>
                {{ month_number }}
                <a href="/intranet/tehniki/{{ navigation.next }}">&gt;&gt;</a>
            </th>
            <th scope="col">{% trans "Event" %}</th>
            <th scope="col">{% trans "Technician" %}</th>
        </tr>
        {% for non_diary, e in month %}
            <tr>
                <td class="date">{{ e.start_date|date:"D j. M H:i" }} ({{ e.length|time:"f" }}h)</td>
                <td>
                    <a href="/intranet/events/{{ e.id }}">
                        {{ e.get_project }} {{ e.title }} {% if e.require_video %}<img src="{{ settings.STATIC_URL }}org/images/film.png" />{% endif %}
                    </a>
                </td>
                <td>
                    {% for diary in e.diary_set.all %}
                        <a href="/intranet/diarys/{{ diary.id }}">
                            {{ diary.author }} ({{ diary.length }})
                        </a><br>
                    {% endfor %}
                    {% for technician in e.technician.all %}
                        {% ifequal technician request.user %}
                        <a class="newdiary" href="{{ e.id }}">{{ technician }}</a>
                            (<a href="/intranet/tehniki/cancel/{{ e.id }}/">{% trans "Sign off" %}</a>)
                        {% else %}
                            {{ technician }}
                        {% endifequal %}
                        <br>
                    {% endfor %}
                    {% if user not in e.technician.all %}
                    <a href="/intranet/tehniki/add/{{ e.id }}/">{% trans "Volunteer" %}</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </table>
    </div>

<div id="dnevnikForm">
    <form action="/intranet/tehniki/add/" method="post" name="dnevnikForm" class="dnevnikForm">
       <h3>{% trans "Formal log" %}:</h3>
       <p>
           <input type="hidden" name="uniqueSpot" value="" />
           <textarea name="log_formal" id="log_f" rows="10" cols="20"></textarea>
       </p>

       <h3>{% trans "Informal log" %}:</h3>
       <p>
           <textarea name="log_informal" id="log_if" rows="5" cols="20"></textarea>
           <input type="submit" value="{% trans "OK" %}" />
           <input type="reset" value="{% trans "Cancel" %}" />
       </p>

       <h3>{% trans "Length interval" %}:</h3>
       <p>
           <select name="length" size="5">
               {% for u in ure %}
               <option value="{{ u }}">{{ u }}</option>
               {% endfor %}
           </select>
       </p>
    </form>
</div>

{% for object in log_list %}
    {% print_diary object %}
{% endfor %}
{% endblock %}


{% block content-related-right %}
<div class="module">
    <h2>{% trans "Current events" %}</h2>
    <ul class="actionlist">
    {% box_list Event "start_date__gte=start_date,start_date__lte=end_date" "template=org/list_event.html,order_by=start_date" %}
    </ul>
</div>
{% endblock %}
