{% extends "www/kjesmo.html" %}
{% load flatpages %}

{% block tekst %}
                <p>Kiberpipa is located in the basement of Cafe Metropol on Kersnikova street
                6 in Ljubljana, which is in the very center of the city, and is easily
                accessible (it is in close vicinity to Ljubljana's main railway station,
                main bus station and public parking garages). A lot of youngsters and
                students hang out in the area as it is just next door to
                <a href="http://www.sou-lj.si/novo/index.php?option=com_content&task=view&id=16&Itemid=39">
                SOU(Slovenian
                student organization)</a>, <a href="http://www.klubk4.org/">Klub K4 </a>, <a href="http://www.mklj.si/eng/">the Kapelica G
                allery and the City Library</a>.
                </p>

                {% get_flatpages '/en/about/' as about_pages %}
                {% for page in about_pages %}
                {{ page.content|safe }}
                {% endfor %}
{% endblock %}
