{% load www %}
{% for event in events %}
    <div id="event{{ event.id }}" class="present-now">
       
        <div class="present-event-date">
            <strong {% if event.project.verbose_name %} title="{{ event.project.verbose_name }}"{% endif %}>{{ event.project }}: </strong>
                {{ event.start_date|date:"l, d. "|capfirst }}
                {{ event.start_date|date:"b Y"|capfirst }}
                <strong>{{ event.start_date|date:"G:i" }}</strong>
        </div>
        {% if event.event_image %}
            <a href="{{ event.get_public_url }}">
                <img width="250" height="130" src="{{ event.event_image.image.url }}" alt="{{ event.event_image.title }}" />
            </a>
        {% else %}
            <a href="{{ event.get_public_url }}">
                <img width="250" height="130" src="{{ settings.STATIC_URL }}www/images/img-upcoming.gif" alt="slika" />
            </a>
        {% endif %}
         <div class="present-event-text"><a href="{{ event.get_public_url }}">{{ event }}</a></div>

        <div class="present-event-desc">{{ event.announce|truncatewords_html:"30"|safe }}</div>
    </div>
{% endfor %}

<div id="scroll-position" style="display: none;">{{ position }}</div>

