<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="not-ie" lang="sl">
<!--<![endif]-->
<head>
    {% load i18n %}
    {% load url from future %}
    {% get_current_language as LANGUAGE_CODE %}
    <!-- TODO: get a list from feeds module -->
    <link rel="alternate" type="application/rss+xml" title="Kiberpipa - Vse" href="/feeds/all/" />
    <link rel="alternate" type="application/rss+xml" title="Kiberpipa - Novice" href="/feeds/novice/" />
    <link rel="alternate" type="application/rss+xml" title="Kiberpipa - Dogodki" href="/feeds/dogodki/" />
    <link rel="alternate" type="application/rss+xml" title="Kiberpipa - POT" href="/feeds/pot/" />
    <link rel="alternate" type="application/rss+xml" title="Kiberpipa - SU" href="/feeds/su/" />
    <link rel="alternate" type="application/rss+xml" title="Kiberpipa - VIP" href="/feeds/vip/" />
    <link rel="alternate" type="application/rss+xml" title="Kiberpipa - Muzej" href="/feeds/muzej/" />
    <link rel="alternate" type="application/rss+xml" title="Kiberpipa - Planet" href="/feeds/planet/" />
    <link rel="shortcut icon" href="{{ settings.STATIC_URL }}www/images/favicon.ico" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Multimedijski center Kiberpipa, Kersnikova 6, 1000 Ljubljana">
    <meta name="author" content="Kiberpipa">
    <meta name="keywords" content="linux,open source,art,diy,kiberpipa" />
    <title>{% block title %}{% trans "All our code are belong to you" %}{% endblock %} :: Kiberpipa.org</title>
    
    <!--link rel="stylesheet" href="{{ settings.STATIC_URL }}www/css/style.css" type="text/css" /-->
    <link href="{{ settings.STATIC_URL }}www/css/bootstrap.css" rel="stylesheet">
    <link href="{{ settings.STATIC_URL }}www/css/wrapbootstrap-theme.css" rel="stylesheet">
    <link href="{{ settings.STATIC_URL }}www/css/font-awesome.css" rel="stylesheet">

    <!--[if IE 7]>
        <link href="{{ settings.STATIC_URL }}www/css/font-awesome-ie7.css" rel="stylesheet">
    <![endif]-->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="{{ settings.STATIC_URL }}www/js/jquery-1.8.2.min.js"></script>
    {% block extrahead %}{% endblock %}
</head>

<body>
    <header id="header">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="{% url 'index' %}">
                        <img src="{{ settings.STATIC_URL }}www/images/logo.png" alt="Kiberpipa Logo" />
                    </a>
                    <div class="nav-collapse fr">
                        <ul class="nav">
                            <li><a href="/{{ LANGUAGE_CODE }}/about/">{% trans "about" %}</a></li>
                            <li><a href="/{{ LANGUAGE_CODE }}/calendar/">{% trans "calendar" %}</a></li>
                            <li><a href="http://www.flickr.com/photos/kiberpipa/collections/">{% trans "gallery" %}</a></li>
                            <li><a href="/{{ LANGUAGE_CODE }}/alumni/">{% trans "community" %}</a></li>
                            <li><a href="/{{ LANGUAGE_CODE }}/support/">{% trans "support" %}</a></li>
                            <li><a href="/{{ LANGUAGE_CODE }}/press/">{% trans "press" %}</a></li>
                            {% get_available_languages as languages %}
                            {% for lang_code, lang_name in languages %}
                                {% if LANGUAGE_CODE != lang_code %}    
                                    <li><a href="/{{ lang_code }}/">{{ lang_code }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        <form class="navbar-search pull-left" method="get" action="{% url 'event_search' %}" id="searchform">
                           <input class="input" name="q" id="q" type="search" class="search-query" placeholder="{% trans 'Search events ...' %}" size="15" />
                        </form>                
                    </div><!--/.nav-collapse -->
                </div><!-- end .container -->
            </div><!-- end .navbar-inner -->
        </div><!-- end .navbar -->
    </header>
 
    <div id="content" class="container">
        {% block content %}{% endblock %}
    </div>

    <footer class="row">
        <div class="container">
            <div class="row">
                <div class="span12 pagination-centered">
                    {% block extrafooter %}
                    {%  endblock %}<br />
                </div>
            </div>

            <div class="row">
                <div class="span2 offset3 pagination-centered">
                    <h3>(CC) 2001-12</h3>

                    <p>
                        Kiberpipa<br />
                        <a href="/sl/kjesmo/">Kersnikova 6</a><br />
                        1000 Ljubljana<br />
                        Slovenija
                    </p>
                </div>
                <div class="span2 pagination-centered">
                    <h3>Kontakt</h3>

                    <p>
                        <i class="icon-phone"></i>&nbsp;&nbsp;+386 1 438 03 05<br /> 
                        <i class="icon-envelope"></i>&nbsp;&nbsp;<a href="mailto:info@kiberpipa.org">info@kiberpipa.org</a><br />
                        <i class="icon-envelope"></i>&nbsp;&nbsp;<a href="irc://irc.sioff.net/#kiberpipa">irc.sioff.net/#kiberpipa</a><br />
                        <i class="icon-envelope"></i>&nbsp;&nbsp;<a href="https://www.kiberpipa.org">kiberpipa.org</a><br />
                        <i class="icon-rss"></i>&nbsp;&nbsp;<a href="/rss/" >RSS</a>
                    </p>
                </div>
                <div class="span2 social-networks pagination-centered">
                    <h3> {% trans "Opening Hours" %}</h3>
                    <p>{% trans "only during events" %}</p>

                    <p>
                        <a href="https://www.facebook.com/pages/Kiberpipa/233872970013161" title="Follow us on Facebook" class="icon-facebook"></a>
                        <a href="//twitter.com/kiberpipa" title="Follow us on Twitter" class="icon-twitter"></a>
                        <a href="//github.com/kiberpipa" title="Follow us on Github" class="icon-github"></a>
                        
                    </p>
                </div>
            </div><!-- end .row -->
        </div><!-- end .container -->
    </footer>
    <div id="footer-extra">
        <div class="container">
            <div class="row">
                <div class="span12 pagination-centered">
                    <a href="http://www.k6-4.org/"><img src="{{ settings.STATIC_URL }}www/images/zavod_pasica_inverted.png" alt="Zavod K6/4" /></a>&nbsp;&nbsp;
                    <a href="http://www.m3c.si/dat/M3C/"><img src="{{ settings.STATIC_URL }}www/images/logo_m3c_inverted.png" alt="M3C - Mreža Multimedijskih Centrov Slovenije" /></a>&nbsp;&nbsp;
                    <a href="http://www.gov.si/euskladi/skladi/strukt_esrr.html"><img src="{{ settings.STATIC_URL }}www/images/logo_evropski_sklad_inverted.png" alt="Evropski Sklad za Regionalni Razvoj" /></a>&nbsp;&nbsp;
                    <a href="http://www.kultura.gov.si/"><img src="{{ settings.STATIC_URL }}www/images/logo_kultura_inverted.png" alt="Kultura" /></a>
                </div>
            </div> <!-- end .row -->        
        </div> <!-- end .container -->        
    </div>


    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="{{ settings.STATIC_URL }}www/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ settings.STATIC_URL }}www/js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="{{ settings.STATIC_URL }}www/js/jquery.touchSwipe.js"></script>
    <script type="text/javascript" src="{{ settings.STATIC_URL }}www/js/functions.min.js"></script>
</body>
</html>
