{% extends "www/base.html" %}

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block extrafooter %}
    <div id="second-nav">
         <a href="http://muzej.kiberpipa.org/">muzej</a>
         | g404
         | <a href="http://www.kiberpipa.org/err0r/">err0r</a>
         | <a href="http://www.kiberpipa.org/postlab/">postlab</a>
         | <a href="http://www.kiberpipa.org/haip">haip</a>
         | <a href="http://www.kiberpipa.org/filmsteka/">filmšteka</a>
         | <a href="http://pot.kiberpipa.org/">POT</a>
         | <a href="http://web.zen.si/">SU</a>
         | VIP
         | <a href="http://www.kiberpipa.net/">NET</a>
    </div>
{% endblock %}
