{% extends "www/base-second.html" %}
{% load markup www i18n %}

{% block extrahead %}{% endblock %}

{% block title %} {% trans "Calendar of Events in Kiberpipa" %} {% endblock %}

{% block heading %}
    <h1>{% trans "Calendar of Events in Kiberpipa" %}</h1>
{% endblock %}

{% block content %}
  <div id="koledar">
    <div class="koledar-img">
      <a href="/calendar/ical/">iCal</a> <a href="{% url rss %}" ><img src="{{ media_url }}www/images/rss20x20.png" alt="RSS Feeds" /></a>
    </div>
    <div class="koledar-title-main">
      <small><a href="{{ prev }}"> &lt;&lt; {% trans "Previous month" %}</a></small>
      <strong>{{ now|date:"F Y"|capfirst }}</strong>
      <small><a href="{{ next }}">{% trans "Next month" %} &gt;&gt;</a></small>
    </div>

    <div id="koledar-wrapper">
      <div class="koledar-title">
        {% trans "Monday" %}
      </div>
      <div class="koledar-title">
        {% trans "Tuesday" %}
      </div>
      <div class="koledar-title">
        {% trans "Wednesday" %}
      </div>
      <div class="koledar-title">
        {% trans "Thursday" %}
      </div>
      <div class="koledar-title">
        {% trans "Friday" %}
      </div>
      <div class="koledar-title">
        {% trans "Saturday" %}
      </div>
      <div class="koledar-title">
        {% trans "Sunday" %}
      </div>
      <div class="koledar-datumi-wrap">  
        {% for date, events in dates %}
          <div class="koledar-box {% calclass date %}">
            <div class="koledar-box-num">
              {{ date.day }}
            </div>
            {% if events %}
              <ul>
              {% for event in events %}
                {% if event.public %}
                  <li><a href="{{ event.get_public_url }}">{{ event.title|truncchar:"32" }}</a></li>
                {% else %}
                  <li>{% trans "Reserved." %}</li>
                {% endif %}
     	      {% endfor %}
              </ul>
            {% endif %}
          </div>
        {% endfor %}
      </div>  
    </div>
  </div>
{% endblock %}
