{% extends "www/base.html" %}
{% load www i18n %}
{% load url from future %}

{% block extrahead %}{% endblock %}

{% block title %} {% trans "Calendar of Events in Kiberpipa" %} {% endblock %}

{% block heading %}
    <h1>{% trans "Calendar of Events in Kiberpipa" %}</h1>
{% endblock %}

{% block content %}
    <div class="hero-unit calendar-header">
        <div class="ac span6 offset3">
            <h2 class="grey">{{ now|date:"F Y"|capfirst }}</h2>
            <a class="carousel-control left" href="{{ prev }}">‹</a>
            <a class="carousel-control right" href="{{ next }}">›</a>
            <p>
                <a href="{% url 'calendar_ical' %}"><i class="icon-calendar"></i> iCal</a> &nbsp; <a href="{% url 'rss' %}" ><i class="icon-rss"></i> RSS</a>
            </p>
        </div>
    </div>    

    <table class="calendar table table-condensed table-bordered" cellspacing="0" cellpadding="0" border="0">
        <thead>
            <tr>
                <th class="mon">{% trans "Monday" %}</th>
                <th class="tue">{% trans "Tuesday" %}</th>
                <th class="wed">{% trans "Wednesday" %}</th>
                <th class="thu">{% trans "Thursday" %}</th>
                <th class="fri">{% trans "Friday" %}</th>
                <th class="sat">{% trans "Saturday" %}</th>
                <th class="sun">{% trans "Sunday" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for date, dateclass, events in dates %}
            {% cycle 'mon' 'tue' 'wed' 'thu' 'fri' 'sat' 'sun' as weekday silent %}            
            {% if weekday == 'mon' %}
            <tr class="week">
            {% endif %}
                <td class="{{ dateclass }}">
                    <label class="num">{{ date.day }}</label>

                    {% if events %}
                    <ul class="events">
                    {% for event in events %}
                        <li>
                            {% if event.public %}
                                <strong>{{ event.start_date|date:"H:i"}}</strong>
                                <a href="{{ event.get_absolute_url }}">{{ event.title|truncchar:"65" }}</a>

                                {% for video_url in event.get_video_urls %}
                                <a href="{{ video_url }}" title="{% trans "Videos of event" %}"><i class="icon-facetime-video"></i></a>
                                {% endfor %}

                                {% if event.flickr_set_id %}
                                <a href="{{ event.get_absolute_url }}" title="{% trans "Pictures of event" %}" ><i class="icon-picture"></i></a>
                                {% endif %}
                            {% endif %}
                        </li>
                    {% endfor %}
                    </ul>
                    {% endif %}
                </td>

            {% if weekday == 'sun' %}
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>  
{% endblock %}
