{% extends "www/base-second.html" %}
{% block extrahead %}
<script language="Javascript">
    $(document).ready(function() { 
        $('#add_email').click(function(){
            $('.hideme').load('/ajax/add_mail/' + $('#add_email_id').val() + '/' + $('#id_email').val());
            return false;
        })
    })
</script>
{% endblock %}
{% block title %}{{ event }}{% endblock %}
{% load markup i18n %}
{% load i18n %}

{% block heading %}
    <h1>{{ event }}</h1>
{% endblock %}
{% block content%}
    <script type="text/javascript" src="{{ media_url }}js/effects.js"></script>
    <div id="dogodek">
        <div class="dogodek-news-title">
        {{ event }}
        </div>
        {{ event.start_date|date:"l, d. "|capfirst }}
        {{ event.start_date|date:"b Y G:i"|capfirst }}
        <div class="dogodek-content">
        <div class="dogoodek-content img">
        {% if event.image %}
            <img src="{{ event.image.url }}" alt="slika" />
        {% else %}
            <img src="http://upload.wikimedia.org/wikipedia/commons/4/47/Placeholder.png" />
        {% endif %}
        </div>
        {{ event.announce|safe|linebreaks }}
        </div>
        <div>
            <a href="#" onclick="return false;" class="expand">{% trans "Upload photos" %}</a>
            <div class="hideme">
            <br />
            <form method="POST" action="/event_photos/{{ event.id }}/" enctype="multipart/form-data">
                {{ event_photos.as_p }}
                <input value="{% trans "submit" %}" type="submit">
            </form>
            <br />
            {% trans "Note: your email will be used only to deliver the message about video availability." %}
            </div>
        </div>
        {% comment %} <div class="dogodek-tags">Znake: Lorem, Ipsum, Dolor, Sit, Amet</div> {% endcomment %}
        <div class="dogodek-gallery">
        	<div class="dogodek-gallery-title">
            Pictures from Gallery
            </div>
            {% if event.gallery_set.all %}
                {% for gallery in event.gallery_set.all %}
                    {% for photo in gallery.photos.all %}
                        <div class="dogodek-gallery-button{{ forloop.counter }}">
                            <a href="/gallery/{{ gallery.id }}/"><img src="{{ photo.get_small_url }}" alt="slika" /></a>
                        </div>
                    {% endfor %}
                {% endfor %}
        	<div class="dogodek-gallery-more">See more in Gallery &gt;&gt;</div>
            {% endif %}
        </div>
        <div class="dogodek-video">
            {% if event.video_set.all %}
                {% for video in event.video_set.all %}
                    <div class="dogodek-video-button">
                        <a href="{{ video.play_url }}"><img width="80" height="80" src="{{ video.image_url }}" alt="slika" /></a>
                    </div>
                {% endfor %}
            {% else %}
                <div>
                    <a href="#" onclick="return false;" class="expand">{% trans "Please inform me when the video of this lecture is available" %}</a>
                    <div class="hideme">
                    <br />
                    {% trans "Please enter your contact data so we can inform you when the video will be available." %}
                    <form method="post" action="">
                        <input id="add_email_id" type="hidden" value="{{ event.id }}">
                        {{ form.as_p }}
                        <input value="{% trans "submit" %}" id="add_email" type="submit">
                    </form>
                    <br />
                    {% trans "Note: your email will be used only to deliver the message about video availability." %}
                    </div>
                </div>

            {% endif %}
        </div>
        {% comment %}
        <div class="dogodek-related">
        	<div class="dogodek-related-title">
            Related articles:
            </div>
        	<ul>
        		<li>Related article 01</li>
            	<li>Related article 02</li>
            	<li>Related article 03</li>
            	<li>Related article 04</li>
            	<li>Related article 05</li>
        	</ul>
        </div>
        {% endcomment %}
    </div>
{% endblock %}
