{% extends "www/base-second.html" %}
{% load markup i18n photos_box more_like_this %}

{% block extrahead %}
<script type="text/javascript">
    $(document).ready(function() { 
        $('#add_email').click(function(){
            $('.hideme').load('/ajax/add_mail/' + $('#add_email_id').val() + '/' + $('#id_email').val());
            return false;
        })
    })
</script>
{% endblock %}

{% block title %}{{ event }}{% endblock %}

{% block heading %}
    <h1>{{ event }}</h1>
{% endblock %}

{% block content %}
    <script type="text/javascript" src="{{ settings.STATIC_URL }}js/effects.js"></script>
    <div id="dogodek">
        <div class="dogodek-news-title">
        {{ event }}
        </div>
        {{ event.start_date|date:"l, d. "|capfirst }}
        {{ event.start_date|date:"b Y G:i"|capfirst }}
        <div class="dogodek-content">
            <div class="dogodek-right">
                <img src="{{ event.event_image.image.url }}" alt="{{ event.event_image.title }}" />
                {% photos_box %}
            </div>
            <div class="dogodek-left">
                {{ event.announce|safe|linebreaks }}
                <div class="dogodek-video">
                    {% if not event.video.all and event.require_video %}
                        <div>
                            <br />
                            {% trans "Please enter your contact data so we can inform you when the video will be available." %}
                            <form method="post" action="">
                                <input id="add_email_id" type="hidden" value="{{ event.id }}">
                                <table>
                                    {{ form.as_table }}
                                </table>
                                <input value="{% trans "submit" %}" id="add_email" type="submit">
                            </form>
                            <br />
                        </div>
                    {% endif %}
                    {% if event.video.all %}
                        <h1><a name="video">{% trans "Videos" %}</a></h1>
                        {% for video in event.video.all %}
                            <div class="dogodek-video-button">
                                <a href="{{ video.play_url }}"><img  src="{{ video.image_url }}" /></a>
                                <p>{{ video.title|default:"" }}</p>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="dogodek-social">
                    <a href="{{ event.google_calendar_url }}"><img src="http://www.google.com/calendar/images/ext/gc_button6.gif" alt="Dodaj v Google Koledar" title="Dodaj v Google Koledar" /></a>
                </div>
                {% more_like_this event as related_content limit 5  %}
                {% for event in related_content %}
                    {% if forloop.first %}
                        <h3>{% trans "Similar events" %}</h3>
                        <ul>
                    {% endif %}
                    <li><a href="{{ event.object.get_public_url }}">{{ event.object.title }}</a></li>
                    {% if forloop.last %}
                        </ul>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
