{% extends "www/base.html" %}
{% load i18n photos_box more_like_this %}

{% block extrahead %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#add_email').click(function(){
            $('#video-response').load('/ajax/add_mail/' + $('#add_email_id').val() + '/' + $('#id_email').val());
            return false;
        })
    })
</script>
{% endblock %}

{% block content %}
<br><br><br>
<div class="row">

    <div class="span7">
    <h1>{{ event.title }}</h1>
      
    <script type="text/javascript" src="{{ settings.STATIC_URL }}org/js/effects.js"></script>
    <div id="dogodek" class="vevent">

        <p class="dtstart">
            <span class="badge badge-inverse">{{ event.start_date|date:"l, d. b Y"|capfirst }} ob {{ event.start_date|date:"G:i" }}</span>
            <p class="badge badge-info">Lokacija: {{event.place}}</p>
            <span class="value-title" title="{{ event.start_date|date:"Y-m-d" }}T{{ event.start_date|date:"H:i:sO" }}"></span>
        </p>
        <div class="dogodek-content">
            <div class="dogodek-left">
                <p class="description">
                {{ event.announce|safe }}
                </p>
                <div class="dogodek-video">
                    {% if not event.video.all and event.require_video %}
                        <div class="well">
                            <p></p>{% trans "Please enter your contact data so we can inform you when the video will be available." %}
                            </p>
                            <form method="post" action="">
                            <div class="input-append">
                              <input class="span5" id="id_email" type="email" placeholder="Email">
                              <input class="btn" value="{% trans "submit" %}" id="add_email" type="submit">
                        
                            </div>
                                <input id="add_email_id" type="hidden" value="{{ event.id }}">
                            </form>
                            <p id="video-response"></p>
                           
                        </div>
                    {% endif %}
                    {% if event.video.all %}
                        <br />
                        <br />
                        <h1>{% trans "Videos" %}</h1>
                        {% for video in event.video.all %}
                            <div class="dogodek-video-button">
                                <a href="{{ video.play_url }}"><img  src="{{ video.get_secure_image_url }}" /></a>
                                <h4><a href="{{ video.play_url }}"><i class="icon-facetime-video"></i> {{ video.title|default:"" }}</a></h4>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                {% for event in related_content %}
                    {% if forloop.first %}
                        <h3>{% trans "Similar events" %}</h3>
                        <ul>
                    {% endif %}
                    <li><a href="{{ event.object.get_absolute_url }}">{{ event.object.title }} ({{ event.object.start_date}})</a></li>
                    {% if forloop.last %}
                        </ul>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <span class="location" style="display: none;">
            <span class="fn org">Kiberpipa</span>
        </span>
    </div><!-- end dogodek -->
    </div>
        
    <div class="span5 promoimages">

  
      <img src="{{ event.event_image.image.url }}" alt="{{ event.event_image.title }}" style="height: 250px; width: 480px" />
  
      <div class="dogodek-social hero-unit">
         <a href="{{ event.google_calendar_url }}"><img src="http://www.google.com/calendar/images/ext/gc_button6.gif" alt="Dodaj v Google Koledar" title="Dodaj v Google Koledar" /></a>
      </div>
      {% photos_box %}
    </div>
</div>
{% endblock %}
