{% extends "www/base-second.html" %}

{% block extrahead %}
    {{ form.media }}
    <script type="text/javascript" src="{{ settings.STATIC_URL }}www/js/jquery.maphilight.min.js"></script>
    <script>
    $(function() {
        $('.map').maphilight({
            fill: true,
            fillColor: '444444',
            fillOpacity: 0.6,
            stroke: true,
            strokeColor: '000',
            strokeOpacity: 1,
            strokeWidth: 4,
            fade: true,
            alwaysOn: false,
            neverOn: false,
            groupBy: false
        });
        $('.datetime-ui').datetime({value: '+1min'});

        var facilities = new Object();
        facilities['kinodvorana'] = '5';
        facilities['ucilnica'] = '4';
        facilities['lab'] = '3';
        facilities['glavni'] = '2';
        var facilitiesl = new Object();
        facilitiesl = ["","",'glavni','lab','ucilnica','kinodvorana'];

        function clear_hilight() {
            $('map area').each(function(idx, item) {
                var data = $(this).data('maphilight') || {};
                data.fillColor = '444444';
                data.alwaysOn = false;
                $(this).data('maphilight', data).trigger('fillColor.maphilight');
                $(this).data('maphilight', data).trigger('alwaysOn.maphilight');
            });
        }

        $('#id_facility').change(function() {
            var ajdi = "map area#" + facilitiesl[$(this).val()];
            hilight($(ajdi));
        });


        function hilight(area) {
            clear_hilight()
            <!--e.preventDefault();-->
            var data = area.data('maphilight') || {};
            data.fillColor = 'ee0000';
            data.alwaysOn = true;
            area.data('maphilight', data).trigger('fillColor.maphilight');
            area.data('maphilight', data).trigger('alwaysOn.maphilight');
        }

        $('map area').click(function(e) {
            var id = facilities[$(this).attr('id')];
            $('#id_facility').val(id);
            hilight($(this))
            // load description of the facility
            $.ajax({
              url: '{% url facility_description_ajax 999 %}'.replace('999', id),
              context: $('#map-description'),
              success: function(data) {
                $(this).html(data);
              }
            });
            return false;
        });
    });
    </script>
    <style type="text/css">
        #map {
            float: left;
        }
        #map-description {
            float: right;
            width: 350px;
        }
        #map-form {
            clear: both;
        }
    </style>
{% endblock %}

{% block content %}
<div id="facilities">
    <h1>Opis in rezervacija prostorov</h1>
    {% if done %}
        <strong>{{ done }}</strong>
        <br />
    {% endif %}
    <div id="map">
        <img src="{{ settings.STATIC_URL }}www/images/tloris.png" class="map" usemap="#tloris">
            <map name="tloris">
                <area id="kinodvorana"
                        shape="rect"
                        href="#"
                        coords="12,490, 233,590"
                        title="Kinodvorana" />
                <area id="ucilnica"
                        shape="rect"
                        href="#"
                        coords="12,323, 109,487"
                        title="Učilnica" />
                <area id="lab"
                        shape="rect"
                        href="#"
                        coords="12,219, 109,320"
                        title="PostLab" />
                <area id="glavni"
                        shape="poly"
                        href="#"
                        coords="12,11, 351,11, 351,320, 110,320, 110,217, 12,217"
                        title="Glavni prostor" />
            </map>
        </img>
    </div>
    <div id="map-description">
        Izberite del prostora na sliki za podrobnejši opis.
    </div>
    <table id="map_form">
        <form method="post" action="">
            {{ form }}
            <tr>
                <td>
                <input type="submit" value="Pošlji" />
                </td>
            </tr>
        </form>
    </table>
</div>
{% endblock %}
