{% extends "www/base.html" %}
{% load www i18n %}

{% block content %}
        <div class="flatpage">
            <div class="row titlerow">
                <div class="span8 offset2">
                    <h2>{% block title %}{% endblock %}</h2>
                </div>
            </div>

            <div class="row">
                <div class="span2">
                     {% block left-col %}
                     {% endblock %}
                </div>
                <div class="span7">
                    {% block tekst %}

                    {% endblock %}
                </div>
                    
                <div class="span3 promoimages">
                    {% block promo %}
                    <a href="http://www.flickr.com/photos/kiberpipa/sets/72157623795093646/with/4499659213/"><img src="{{ settings.STATIC_URL }}www/images/promo/pot_ob_zici.jpg" alt="" title="Kiberpipa - pot ob žici, maj 2008"></a>
                    <a href="http://www.flickr.com/photos/kiberpipa/sets/72157623795093646/with/4499659213/"><img src="{{ settings.STATIC_URL }}www/images/promo/majica.jpg" alt="" title="Kiberpipa - pot ob žici, maj 2008"></a>
                    {% endblock %}
                </div>
            </div>
        </div>
{% endblock %}
