{% extends "www/base.html" %}
{% load www i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block extrahead %}
<link href='{{ media_url }}/www/scroll.css' type='text/css' rel='stylesheet' />
<script type='text/javascript' src='{{ media_url }}/www/js/jquery.scrollable.js'></script>
<script type='text/javascript' src='{{ media_url }}/www/js/jquery.serialScroll-1.2.1.js'></script>
<script type='text/javascript' src='{{ media_url }}/www/js/jquery.scrollTo-1.4.0.js'></script>
<script type='text/javascript'>
<!-- TODO create init.js -->

jQuery.easing.easeOutQuart = function (x, t, b, c, d) {
	return -c * ((t=t/d-1)*t*t*t - 1) + b;
};

$(document).ready(function() {
	$('.present').load('/ajax/index/events/', function(responseText, textStatus, XMLHttpRequest) {
		$(".present").scrollable({horizontal:true, speed:500, size:3 });
		$(".present").scrollable("seekTo", parseInt($('#scroll-position').text()), 1)
		$(".future").click(function(){
			$(".present").scrollable("next");
		});
		$(".past").click(function(){
			$(".present").scrollable("prev");
		});
		$(".past3").click(function(){
			$(".present").scrollable("prevPage");
		});
		$(".future3").click(function(){
			$(".present").scrollable("nextPage");
		});

		$('#screen').serialScroll({
			target:'#sections',
			items:'li', // Selector to the items ( relative to the matched elements, '#sections' in this case )
			prev:'img.prev',// Selector to the 'prev' button (absolute!, meaning it's relative to the document)
			next:'img.next',// Selector to the 'next' button (absolute too)
			navigation:'#navigation li a',
			duration:2000,// Length of the animation (if you scroll 2 axes and use queue, then each axis take half this time)
			force:true, // Force a scroll to the element specified by 'start' (some browsers don't reset on refreshes)
			interval:10000, // It's the number of milliseconds to automatically go to the next

			onBefore:function( e, elem, $pane, $items, pos ){
				e.preventDefault();
				if( this.blur )
					this.blur();
			}
		});
	});
	
	
	$('#sections').hover(function(){
		$('#sections').trigger('stop');
		},function(){
		$('#sections').trigger('start');
	});
	{% for i in ticker %}
		$('#stop{{ forloop.counter }}').click(function(){
			$('#sections').trigger('stop');
		});
		$('#stop{{ forloop.counter }}').mouseout(function(){
			$('#sections').trigger('start');
		});
	{% endfor %}
	});
</script>
{% endblock %}
{% block content %}
	<div class="rss-index"><a href="/rss/" ><img src="{{ media_url }}www/images/rss20x20.png" alt="RSS Feeds" /></a></div>
	<div id="upcoming">
		<div class="next3-left">
			<div class="past3"><a href="#" onclick="return false;"><img src="{{ media_url }}www/images/puscica-3levo.gif" alt="tri dogodke nazaj" /></a></div>
			<div class="past"><a href="#" onclick="return false;"><img src="{{ media_url }}www/images/puscica-levo.gif" alt="en dogodek nazaj" /></a></div>
		</div>
			<div class="present" style="height:300px;">
				{% for event in events %}
					<div id="event{{ event.id }}" class="present-now">
					
						<div class="present-event-date">
							<strong {% if event.project.verbose_name %} title="{{ event.project.verbose_name }}"{% endif %}>{{ event.project }}: </strong>
								{{ event.start_date|date:"l, d. "|capfirst }}
								{{ event.start_date|date:"b Y"|capfirst }}
								<strong>{{ event.start_date|date:"G:i" }}</strong>
						</div>
						{% if event.event_image %}
							<a href="{{ event.get_public_url }}">
								<img width="250" height="130" src="{{ event.event_image.image.url }}" alt="{{ event.event_image.title }}" />
							</a>
						{% else %}
							<a href="{{ event.get_public_url }}">
								<img width="250" height="130" src="{{ media_url }}www/images/img-upcoming.gif" alt="slika" />
							</a>
						{% endif %}
						 <div class="present-event-text"><a href="{{ event.get_public_url }}">{{ event }}</a></div>

						<div class="present-event-desc">{{ event.announce|truncatewords_html:"30"|safe }}</div>
					</div>
				{% endfor %}
			 </div>
				
		 <div class="next3-right">
			 <div class="future"><a href="#" onclick="return false;"><img src="{{ media_url }}www/images/puscica-desno.gif" alt="en dogodek naprej" /></a></div>
			 <div class="future3"><a href="#" onclick="return false;"><img src="{{ media_url }}www/images/puscica-3desno.gif" alt="tri dogodke naprej" /></a></div>
		</div>
		
	</div>

	<div id="notifier">
		<div class="button-chamber">
	{% comment %}
			<div class="gallery"><a href="/gallery/">gallery</a></div>
				{% for photo in photos %}
					<div class="gallery-button">
						<a href="/gallery/{{ photo.galleries.all.0.id }}/"><img height="67" width="67" src="{{ photo.get_small_url }}" alt="slika" /></a>
				</div>
			{% endfor %}
		{% endcomment %}
			
			<div class="video">
			<p><a href="http://video.kiberpipa.org/">{% trans "Last added videos to the Video Archive" %}</a></p>
			</div>
			
			{% for video in videos %}
			<div class="video-button">
				<a href="{{ video.play_url }}"><img width="67" src="{{ video.image_url }}" alt="slika" /></a>
			</div>
			{% endfor %}
			
		</div>

	<div id="screen" class="notifier-chamber">

		<div id="sections">
			<ul>
				{% for i in ticker %}
					<li>
						<h2>{{ i.name }}</h2>
						<p>{{ i.note|safe }}</p>
					</li>
				{% endfor %}
			</ul>
		</div>
{% comment %}
		<div id="navigation">
			<ul>
				{% for i in ticker %}
					<li><a id="stop{{ forloop.counter }}" href="#">{{ i.name }}</a></li>
				{% endfor %}
			</ul>
		 </div>
{% endcomment %}

	</div>
	</div>

	<div id="second-nav-front">
	<a href="http://muzej.kiberpipa.org/">muzej</a> | g404 | <a href="http://www.kiberpipa.org/err0r/">err0r</a> | <a href="http://www.kiberpipa.org/postlab/">postlab</a> | <a href="http://www.kiberpipa.org/haip">haip</a> | <a href="http://www.kiberpipa.org/filmsteka/">filmšteka</a> | <a href="http://pot.kiberpipa.org/">POT</a> | <a href="http://web.zen.si/">SU</a> | VIP | <a href="http://mobilemonday.si/">MoMoSlo</a> | <a href="http://www.kiberpipa.net/">NET</a> | <a href="http://www.kiberpipa.org/modules/gallery/">Galerija</a> | <a href="http://www.kiberpipa.org/prosto/">Prosti CD</a>
	</div>
	<div id="blog-cp">
		<div class="blog-cp-title">
		<a href="/{{ LANGUAGE_CODE }}/news/">{% trans "Writings from the world without windows" %}</a>
		</div>
		{% for i in news %}
			<div class="blog-cp-news-title">
			<a href="{{ i.get_absolute_url }}">{{ i.title }}</a>
			</div>
			<div class="blog-cp-publish">
			{% trans "Published by" %} {{ i.author }} {% trans "on" %} {{ i.date }}
			</div>
			<div class="blog-cp-content">
			{{ i.text|santize|truncatewords:"60" }}
			</div>
{% comment %}
			<div class="blog-cp-more">
			more &gt;&gt;
			</div>
{% endcomment %}
		{% endfor %}
	</div>
	
	<div id="planet">
		<div class="planet-title">
		{% trans "Reflections from /dev/random" %}
		</div>
		{% for post in planet %}
			<div class="planet-news-title">
			<a href="{{ post.link }}">{{ post.title }}</a>
			</div>
			<div class="planet-publish">
			{% trans "Published by" %} {{ post.author }} {% trans "on" %} {{ post.date_modified }}
			</div>
			<div class="planet-content">
			{{ post.content|santize|safe|truncatewords:"60" }}
			</div>
{% comment %}
			<div class="planet-more">
			more &gt;&gt;
			</div>
{% endcomment %}
		{% endfor %}
	</div>
{% endblock %}
