{% extends "www/base-second.html" %}
{% load www i18n %}
{% load url from future %}

{% block extrahead %}
<script type='text/javascript'>

$(document).ready(function() {

    $('#subscribe_mailinglist').keypress(function (e) {
        var self = $(this);
        $('.response').text("Prosim pritisnite Enter za potrditev vnosa")
        if (e.which === 13) {
            e.preventDefault();
            $.ajax({
                type: "POST",
                data: self.serialize(),
                url: self.attr('action'),
                success: function (text) {
                    self.find('i').text(text);
                },
                error: function (text) {
                    self.find('i').text("Nekaj je slo narobe, poskusite znova kasneje!");
                }
            });
        }
     });

    $.getJSON("/ajax/index/events/", function(o) {
        // add events
        var c = $(".carousel-inner");
        $(o.events).each(function()  {
            var cls = $(c).find(".item").length == 0 ? "item active" : "item";
            var html = '<div class="' + cls + '"><img src="' + this.image + '" />\
                <div class="carousel-announce" style="position: absolute; bottom: 70px; background: rgba(255,255,255,0.7); height: 220px;"><div style="position:fixed; bottom: 1px; background: red;">' + this.announce + '</div></div>\
                <div class="carousel-caption"><p>' + this.title + '<br/>' + this.project + '</p></div></div>';
            $(c).append(html);
        });
    });
 });
</script>
{% endblock %}

{% block content %}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=371734709577596";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <div class="hero-unit">

        <div id="macbook_carousel">
            <div id="carousel" class="carousel slide" rel="carousel">
                <!-- Carousel items -->				
                <div class="carousel-inner">
                </div>

                <!-- Carousel navigation -->
                <a class="carousel-control left" href="#carousel" data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#carousel" data-slide="next">&rsaquo;</a>
            </div>
        </div>

    </div><!--/ end of .hero-unit-->

    <hr />
    <div class="container">
        <div class="row">
            <div class="span4 thenews">
                <h2>{% trans "News" %}</h2>

                <ol class="news">
                {% for n in both %}
                <li>
                    <a href="{{ n.get_absolute_url }}"><h3>{{ n.title }}</h3></a>
                    {% if n.image %}<img src="{{ n.image.url }}" width="35%" style="float: right; padding: 0 1em 0 1em;" />{% endif %}

                    {% if n.text %}
                    {{ n.text|sanitize|safe|truncatewords:"60" }}<br />
                    {% else %}
                    {{ n.content|sanitize|safe|truncatewords:"60" }}<br />
                    {% endif %}
                    <i>{% trans "Published by" %} {{ n.author }} {% trans "on" %} {% if n.date %}{{ n.date }}{% else %}{{ n.date_modified }}{% endif %}</i>
                </li>
                {% endfor %}
                </ol>

                <p><a href="#">Več novic</a></p>
            </div>
            <div class="span4">
                <h2>{% trans "Media" %}</h2>

                <h3>Recent videos</h3>
                {% for video in videos %}
                <ol class="recent_videos">
                	<li>
                		<a href="{{ video.play_url }}"><img src="{{ video.image_url }}" alt="slika" /></a><br />
                		<label>{{ video.title }}</label>
                	</li>
                </ol>
                {% endfor %}

                <h3>Recent photos</h3>
                
                <p>Le todo</p>
            </div>
            <div class="span4">
                <h2>{% trans "Social" %}</h2>

                <p><a href="/feeds/all/"><i class="icon-rss"></i> RSS</a></p>

                <span>{% trans "Would you like to subscribe to information about weekly events?" %}</span>
                <form id="subscribe_mailinglist" method="post" action="{% url 'ajax_subscribe_mailinglist' %}">
                {{ emailform.as_table }}
                <p><i class="response"></i></p>
                </form>


                <div class="fb-like-box" data-href="http://www.facebook.com/kiberpipa" data-width="292" data-show-faces="true" data-stream="false" data-header="false"></div>
            </div>
        </div>
        
    </div>
{% endblock %}
    
