{% extends "www/base-second.html" %}
{% block extrahead %}{% endblock %}
{% block title %}{{ event }}{% endblock %}
{% load markup i18n %}

{% block heading %}
<div class="rss-index"><a href="/rss/" ><img src="{{ settings.STATIC_URL }}www/images/rss20x20.png" alt="RSS Feeds" /></a></div>
    <h2>{% trans "News" %}</h1>
{% endblock %}
{% block content%}
<div id="news-list">
{% for news in  object_list %}
    <h2 class="blog-cp-news-title"><a href="{{ news.get_absolute_url }}">{{ news.title }}</a></h2>
    <p class="blog-cp-publish"> {% trans "Published by" %} {{ news.author }} {% trans "date" %} {{ news.date|date:"d F Y G:i " }} </p>
    <p class="blog-cp-content">{{ news.text|safe }}</p>
{% endfor %}

</div>
{% endblock %}
