{% extends "www/flatpage_wrapper.html" %}
{% load i18n flatpages %}

{% block title %}{% trans "Press" %}{% endblock %}
{% block pageclass %}press{% endblock %}

{% block tekst  %}
  <h4 class="contact">{% trans "Contact" %}</h4>

  {% get_flatpages '/sl/press_contact/' as about_pages %}
  {% for page in about_pages %}
  {{ page.content|safe }}
  {% empty %}
    <span class="label label-warning">ADMIN: Please supply the '/sl/press_contact' flat page!</span>
  {% endfor %}

  <h4 class="presskit">{% trans "Presskit" %}</h4>

  <p><strong>{% trans "Kiberpipa Logo" %}</strong></p>
  <p><img src="{{ settings.STATIC_URL }}www/images/press-kit/kiberpipa-logo-preview.png" alt="Kiberpipa Logo"></p>
  <p><a href="{{ settings.STATIC_URL }}www/images/press-kit/kiberpipa-logo.svg">SVG</a>, <a href="{{ settings.STATIC_URL }}/www/images/press-kit/kiberpipa-logo.eps">EPS</a>, <a href="{{ settings.STATIC_URL }}www/images/press-kit/kiberpipa-logo.pdf">PDF</a>, <a href="{{ settings.STATIC_URL }}/www/images/press-kit/kiberpipa-logo-300dpi.png">PNG</a> (300dpi), <a href="{{ settings.STATIC_URL }}www/images/press-kit/kiberpipa-logo-72dpi.png">PNG</a> (72dpi)</p>

  {% block tekst2 %}
    <h4 class="about">{% trans "Text about Kiberpipa" %}</h4>

    {% get_flatpages '/sl/press/' as about_pages %}
    {% for page in about_pages %}
    {{ page.content|safe }}
    {% empty %}
      <span class="label label-warning">ADMIN: Please supply the '/sl/press' flat page!</span>
    {% endfor %}
  {% endblock %}
        
{% endblock %}
