{% extends "www/base.html" %}
{% load i18n %}

{% block content %}
    <div class="kiberpipa-press">

        <div class="kiberpipa-press-title">

        </div>

        <div class="kiberpipa-press-news-title">
        {% for clipping in object_list %}
            {{ clipping.name }} &gt;&gt; {% if clipping.article_name %}{{ clipping.article_name }} - {% endif %}{{ clipping.medij }}, {{ clipping.date }}<br />
        {% endfor %}
        </div>

        {% comment %}
        <div class="kiberpipa-press-more">

        more >>

        </div>
        {% endcomment %}

    </div>

    <div id="press-kit">

    	<div class="press-kit-title">

        {% trans "Press kit" %}

        </div>

        <div class="press-kit-content">
        
        <p><strong>{% trans "Kiberpipa Logo" %}</strong></p>
        <p><img src="{{ media_url }}/www/images/press-kit/kiberpipa-logo-preview.png" alt="Kiberpipa Logo"></p>
        <p><a href="{{ media_url }}/www/images/press-kit/kiberpipa-logo.svg">SVG</a>, <a href="{{ media_url }}/www/images/press-kit/kiberpipa-logo.eps">EPS</a>, <a href="{{ media_url }}/www/images/press-kit/kiberpipa-logo.pdf">PDF</a>, <a href="{{ media_url }}/www/images/press-kit/kiberpipa-logo-300dpi.png">PNG</a> (300dpi), <a href="{{ media_url }}/www/images/press-kit/kiberpipa-logo-72dpi.png">PNG</a> (72dpi)</p>
		
		<p><strong>{% trans "Supporters of Kiberpipa Banner" %}</strong></p>
        <p><img src="{{ media_url }}/www/images/press-kit/podporniki-pasica-preview.png" alt="Podporniki pasica"></p>
        <p><a href="{{ media_url }}/www/images/press-kit/podporniki-pasica.svg">SVG</a>, <a href="{{ media_url }}/www/images/press-kit/podporniki-pasica.eps">EPS</a>, <a href="{{ media_url }}/www/images/press-kit/podporniki-pasica.pdf">PDF</a>, <a href="{{ media_url }}/www/images/press-kit/podporniki-pasica-300dpi.png">PNG</a> (300dpi), <a href="{{ media_url }}/www/images/press-kit/podporniki-pasica-72dpi.png">PNG</a> (72dpi),</p>
        
        <p><strong>{% trans "Text about Kiberpipa" %}</strong></p>
        {% block tekst %}
        <p>Kiberpipa je nastala leta 2000 na pobudo skupine zanesenjakov s področja kulture,  informacijske tehnologije,  političnega in  medijskega aktivizma z željo po vzpostavitvi aktivne pobude za oblikovanje odprte informacijske družbe v Sloveniji in pospeševanje razvoja le-te. V tistem času je bila prvi center pri nas z brezplačnim javnim dostopom do interneta in postala prvo odprto prizorišče sodobnih računalniških tehnologij, ki je prosto dajala možnosti njene uporabe. Takrat je bila prvi odprti prostor in sodobno opremljena platforma za opismenjevanje in izobraževanje na področju računalništva in sodobnih informacijsko-komunikacijskih tehnologij, za njihovo spoznavanje ter ustvarjalno rabo. S tem je omogočila samostojno raziskovanje in inovativno nadgrajevanje sodobnih tehnologij, kjer so lahko najmlajši raziskovalci začeli preizkušati ustvarjalne potenciale računalniških sistemov.  S tem so mladi dobili prostor za nemoteno uresničevanje svojih idej, ambicij in interesov.</p>
 
<p>Kiberpipa deluje na ideji in vrednotah odprtih standardov ter prostega programja, ki jih raziskuje, nadgrajuje, promovira in spodbuja njihovo uporabo na vseh področjih. V Kiberpipi velja prepričanje, da je neovirano prenašanje znanja nujno potrebno za napredek družbe in posameznika v njej. Trudimo se vzpodbujati razvoj skupnostnega duha tako znotraj Kiberpipinega kolektiva kot zunaj, skozi naše vsebine. Zato skušamo s predavanji, razpravami, delavnicami in umetniškimi aktivnostmi vzbuditi kritični razmislek in soustvarjalnost znotraj svoje mlade publike in širšega kroga zainteresirane javnosti. Razvijamo tudi različne projekte, katerih skupna lastnost je prost dostop. Delovanje Kiberpipe je v precejšnji meri napor prostovoljcev, ki že toliko let vzdržujemo ta visokotehnološki organizem pri življenju.</p>

<p>Preko široke mreže domačih in mednarodnih povezav na svoj oder vabimo performerje svetovne scene in sodelujemo z velikim številom institucij, umetnikov, znanstvenikov in akademikov, medijskih aktivistov, teoretikov in razvojnih podjetij, s pomočjo katerih širimo znanje, razvijamo kreativno in kritično obravnavo kulture novih medijev in tehnologij ter omogočamo novim izumom, da razvijejo svoj potencial znotraj še neraziskanih polj.</p>

<p>Trenutno vroča področja so Linux in odprto programje, internet, globalna sredstva komunikacij, razvoj, brezžično omreženje, produkcija, distribucija in arhiviranje digitalnega videa ter prenos v živo, svoboden pretok informacij, patentiranje programske opreme in intelektualna lastnina v digitalni družbi, medijska pismenost, razvoj novih uporab, kreativnega izražanja in raziskovanja digitalnih medijev ter spodbujanje razvoja sodobnih umetniških konceptov znotraj sodobne digitalne kulture in družbe.</p>

<p>V Kiberpipi je tudi prvi računalniški muzej v Sloveniji, ki je s pomočjo delujočih računalnikov zasnovan kot časovna luknja, ki obiskovalca posrka vase ter popelje v doživetje tistega časa. Poleg razstavnega dela poteka letno mnogo  dogodkov in projektov s področja zgodovine računalništva.</p>

<p>Letno se poleg razvojnih projektov v Kiberpipi odvije povprečno dvesto izobraževalno-opismenjevalnih in kulturno-umetniških dogodkov ter jo obišče povprečno 60 tisoč obiskovalcev, poleg obiska pa njeno dejavnost neprestano potrjuje in spodbuja tudi pozitiven odziv širše in ožje javnosti ter medijev</p>

<p>Kiberpipo podpirajo: Zavod K6/4, ŠOU v Ljubljani, Evropski sklad za regionalni razvoj, Ministrstvo za visoko šolstvo, znanost in tehnologijo - projekt E-točke, Ministrstvo za kulturo RS in Mestna občina Ljubljana. Kiberpipa je članica Mreže multimedijskih centrov Slovenije M3C.</p>
        {% endblock %}

</p>

<p><strong>{% trans "Projects in Kiberpipa" %}</strong></p>
<ul>
<li><a href="http://pot.kiberpipa.org/">POT - Pipini odprti termini</a></li>
<li><a href="http://web.zen.si/">SU - Spletne urice</a></li>
<li>VIP - Večeri za Inovativne in Podjetne</li>
<li><a href="http://www.kiberpipa.org/filmsteka/">Filmšteka</a></li>
<li><a href="http://muzej.kiberpipa.org/">Kiberpipin Računalniški Muzej</a></li>
<li><a href="http://www.kiberpipa.org/err0r/">Err0r</a></li>
<li><a href="http://www.kiberpipa.org/haip/">Multimedijski festival odprtih tehnologij HAIP</a></li>
<li><a href="http://www.kiberpipa.org/kontaminator/">Kontaminator</a></li>
<li>Galerija g404</li>
<li><a href="http://video.kiberpipa.org/">Kiberpipin videoarhiv</a></li>
<li>Odprte izobraževalne delavnice</li>
</ul>
        
        </div>

    </div>

{% endblock %}
