{% extends "www/flatpage_wrapper.html" %}
{% load www i18n flatpages %}

{% block title %}{% trans "Podpora Kiberpipi" %}{% endblock %}
{% block pageclass %}support{% endblock %}
{% block extrahead %}{% endblock %}

{% block left-col %}
  <script data-gittip-username="Kiberpipa" src="//gttp.co/v1.js"></script>

  {% get_flatpages '/sl/gittip/' as about_pages %}
  {% for page in about_pages %}
  {{ page.content|safe }}
  {% empty %}
    <span class="label label-warning">ADMIN: Please supply<br/> the '/sl/gittip/' flat page!</span>
  {% endfor %}
{% endblock %}

{% block tekst %}
  {% get_flatpages '/sl/support/' as about_pages %}
  {% for page in about_pages %}
  {{ page.content|safe }}
  {% empty %}
    <span class="label label-warning">ADMIN: Please supply the '/sl/support/' flat page!</span>
  {% endfor %}
{% endblock %}

{% block promo %}
  <a href="http://www.flickr.com/photos/kiberpipa/sets/72157623795093646/with/4499659213/">
      <img src="{{ settings.STATIC_URL }}www/images/promo/pot_ob_zici.jpg" alt="" title="Kiberpipa - pot ob žici, maj 2008"></a>
  <a href="http://www.flickr.com/photos/kiberpipa/sets/72157623672130361/with/4500794560/" target="_blank">
      <img title="Rovanje po trdih diskih" src="{{ settings.STATIC_URL }}www/images/promo/diski.jpg"></a>         
  <a title="Recept za pipa torto" href="https://www.kiberpipa.org/sl/news/11255/recept-za-geeky-cake/" target="_blank">
      <img src="{{ settings.STATIC_URL }}www/images/promo/caek.jpg"></a>
{% endblock %}
