{% extends "www/flatpage_wrapper.html" %}
{% load www i18n flatpages %}

{% block title %}{% trans "Podpora Kiberpipi" %}{% endblock %}
{% block extrahead %}{% endblock %}

{% block left-col %}

  {% get_flatpages '/sl/gittip/' as about_pages %}
  {% for page in about_pages %}
  {{ page.content|safe }}
  {% empty %}
    <span class="label label-warning">ADMIN: Please supply<br/> the '/sl/gittip/' flat page!</span>
  {% endfor %}

{% endblock %}

{% block tekst %}
 
  {% get_flatpages '/sl/support/' as about_pages %}
  {% for page in about_pages %}
  {{ page.content|safe }}
  {% empty %}
    <span class="label label-warning">ADMIN: Please supply the '/sl/support/' flat page!</span>
  {% endfor %}

{% endblock %}

{% block promo %}
  <a href="https://secure.flickr.com/photos/kiberpipa/sets/72157633102157939/" target="_blank">
      <img src="https://farm9.staticflickr.com/8377/8596215728_601db55a00.jpg" alt="" title="SU #224: Apache Cordova ali kako poceni in hitro delati appe"></a>
  <a href="https://secure.flickr.com/photos/kiberpipa/sets/72157632196377402/" target="_blank">
      <img src="https://farm9.staticflickr.com/8356/8252983007_485d78a3c6.jpg" title="HAIP 2012 - Bookscanner Birth"></a>
  <a title="Recept za pipa torto" href="https://www.kiberpipa.org/sl/news/11255/recept-za-geeky-cake/" target="_blank">
      <img src="{{ settings.STATIC_URL }}www/images/promo/caek.jpg"></a>
{% endblock %}
