{% extends "org/base.html" %}

{% block content %}

	{% block toplinks %}{% endblock %}

<div id="content" class="colMS">

	{% block heading %}{% endblock %}

    <div id="content-related" class="sidebar">
        {% block content-related-left %}
        {% endblock %}
    </div>
    
    <div id="content-main" class="flex">
        {% block content-main %}
        {% endblock %}
    </div>
    
    <div id="content-related" class="sidebar">
        {% block content-related-right %}
        {% endblock %}        
    </div>

</div>

{% endblock %}
