<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

{% load parts %}

<html xmlns="http://www.w3.org/1999/xhtml"><head profile="http://gmpg.org/xfn/11"><title>Zavod K6/4</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <style type="text/css" media="screen">
   @import url( {{ media_url }}/k64/style.css );
  </style>
    <script type="text/javascript" src="/intranet/admin/jsi18n/"></script>
    <script type="text/javascript" src="{{ admin_media_prefix }}js/core.js"></script>
    <script type="text/javascript" src="{{ admin_media_prefix }}js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="{{ admin_media_prefix }}js/calendar.js"></script>
    <script type="text/javascript" src="{{ admin_media_prefix }}js/admin/DateTimeShortcuts.js"></script>

    {% block extrahead %}{% endblock %}
</head>

<body >

<div id="rap">
  <a name="top"></a>
 <div id="masthead" onclick="location.href='http://www.k6-4.org';" style="cursor: pointer;">
</div>
  <div id="hnav">
   <div id="hmenu">
<!--
    <ul id="top">
     <li><a href="http://www.projektgenerika.org/" title="Generika">Generika</a></li>
     <li><a href="http://www.klubk4.org/" title="Klub K4">Klub K4</a></li>
     <li><a href="http://www.break-festival.org/" title="Break">Festival Break</a></li>
     <li><a href="http://www.kapelica.org/" title="Kapelica">Galerija Kapelica</a></li>
     <li><a href="http://www.kiberpipa.org/" title="Kiberpipa">Kiberpipa</a></li>
     <li><a href="http://www.k6-4.org/">Zavod K6/4</a></li>
    </ul>
-->
   </div>
   <div id="header">

   </div>
  </div> <!-- Closes the hnav div-->



 <div id="container">
  <div id="sidebar">
 <ul>
      {% block links %}
      {% endblock %}

      {% block events %}
      {% endblock %}


 </ul>
</div>


  <div id="topcontentdouble"></div>
   <div id="content">
     <div class="contentright">
       <div class="post">
			{% block content %}
			{% endblock %}
       </div> <!-- Closes the post div-->
      </div> <!-- Closes the contentright div-->
     </div> <!-- Closes the content div-->

     <div id="bottomcontentdouble">
    </div>

 </div> <!-- Closes the container div-->



<a name="bottom"></a>
<div id="footer">
 <div id="menu">
  <div id="topimage">   <a href="#"></a>   </div>
</div>
 <p class="credits"><a href="http://www.k6-4.org/">Zavod K6/4</a> is © 2004-2005 Mija Lorbek.
  Coffee Cup design by <a href="http://www.zeniths.net/">Zenith</a>, based on <a href="http://www.brokenkode.com/manji/">Manji2</a> by Khaled Abou Alfa and Joshua.
 </p>
</div>
</div><!-- Closes the rap div-->
</div>

</body></html>

