<ul>
  <li>
    <label for="id_title">title:</label>
    {{ form.title }}
    {% if form.title.errors %}
      *** {{ form.title.errors|join:", " }}
    {% endif %}
  </li>
  <li>
    <label for="id_start_date">start date:</label>
    {{ form.start_date_date }}
    {% if form.start_date_date.errors %}
      *** {{ form.start_date_date.errors|join:", " }}
    {% endif %}
    {{ form.start_date_time }}
    {% if form.start_date_time.errors %}
      *** {{ form.start_date_time.errors|join:", " }}
    {% endif %}
  </li>
  <li>
    <label for="id_end_date">end date:</label>
    {{ form.end_date }}
    {% if form.end_date.errors %}
      *** {{ form.end_date.errors|join:", " }}
    {% endif %}
  </li>
  <li>
    <label for="id_length">length:</label>
    {{ form.length }}
    {% if form.length.errors %}
      *** {{ form.length.errors|join:", " }}
    {% endif %}
  </li>
  <li>
    <label for="id_projekt">projekt in prostor:</label>
    {{ form.project }}
    {% if form.project.errors %}
      *** {{ form.project.errors|join:", " }}
    {% endif %}

<!--    <label for="id_place">place:</label> -->
    {{ form.place }}
    {% if form.place.errors %}
      *** {{ form.place.errors|join:", " }}
    {% endif %}
  </li>
  <li>
    <label for="id_category">category and tags:</label>
    {{ form.category }}
    {% if form.category.errors %}
      *** {{ form.category.errors|join:", " }}
    {% endif %}

<!--    <label for="id_tags">tags:</label> -->
    {{ form.tags }}
    {% if form.tags.errors %}
      *** {{ form.tags.errors|join:", " }}
    {% endif %}
   	 <a href="/intranet/admin/org/tag/add/" class="add-another" id="add_id_tags" onclick="return showAddAnotherPopup(this);"> <img src="/media/img/admin/icon_addlink.gif" width="10" height="10" alt="Add Another"/></a
  </li>
  <li>
    <label for="id_announce">announce:</label>
    {{ form.announce }}
    {% if form.announce.errors %}
      *** {{ form.announce.errors|join:", " }}
    {% endif %}
  </li>
  <li>
    <label for="id_note">note:</label>
    {{ form.note }}
    {% if form.note.errors %}
      *** {{ form.note.errors|join:", " }}
    {% endif %}
  </li>
</ul>
