{% extends "www/base-second.html" %}

{% load www i18n %}

{% block title %}{% trans "Community" %}{% endblock %}
{% block extrahead %}
<style>
.community-content-img { background-image: url({{ settings.STATIC_URL }}/www/images/picture-skupnost.gif); }
</style>
{% endblock %}

{% block content %}
    <div class="hero-unit">
        <div class="ac">{% trans "Kiberpipa is possible because of all the volunteers that are interested in tech, computers, art and the mix of everything through everyday life. Through the years there were many people that helped around, some stayed for a short while, while others are still helping around. Here is a list of people that helped in anyway and build Kiberpipa to be The Best Cybercenter in Europe." %}</div>
    </div>

    <div id="team-members">
        <div class="row">
        {% for alumni in profiles %}{% if alumni.show_profile and alumni.user.is_active %}
            {% cycle 'col1' 'col2' 'col3' as column silent %}
            <article class="member span4">
                <div class="member-avatar">
                    {% if alumni.image %}
                    <img class="thumbnail" src="{{ alumni.image.url }}" />
                    {% else %}
                    <img class="thumbnail" src="{{ settings.STATIC_URL }}www/images/picture-skupnost.gif" alt="" />
                    {% endif %}
                </div>

                <p class="member-networks">
                    {% if alumni.twitter and alumni.twitter_public %}
                        <a href="{{ alumni.twitter }}" class="icon-twitter"></a>
                    {% endif %}

                    {% if alumni.facebook and alumni.facebook_public %}
                        <a href="{{ alumni.facebook }}" class="icon-facebook"></a>
                    {% endif %}
                    {% if alumni.linkedin and alumni.linkedin_public %}
                        <a href="{{ alumni.linkedin }}" class="icon-linkedin"></a>
                    {% endif %}
                    {% if alumni.flickr and alumni.flickr_public %} 
                        <a href="{{ alumni.flickr }}" class="icon-flickr"></a>
                    {% endif %}
                    {% if alumni.www and alumni.www_public %}
                        <a href="{{ alumni.www }}" title="webpage" class="icon-file"></a>
                    {% endif %}
                    {% if alumni.blog %}
                        <a href="{{ alumni.blog }}" title="blog" class="icon-file"></a>
                    {% endif %}
                </p>

                <h3 class="member-name">{% if alumni.public_name %}{{ alumni.public_name }}{% else %}{{ alumni.user.get_full_name }}{% endif %}</h3>
                <!--h4 class="member-position">Founder and CEO</h4-->

                <p class="member-bio">{{ alumni.description }}</p>

{% if alumni.sshpubkey and alumni.sshpubkey_public %}
                <div>
                    <a href="javascript:;" onmousedown="var tehid = 'sshkey_{{ alumni.user.id }}'; if(document.getElementById(tehid).style.display == 'none'){ document.getElementById(tehid).style.display = 'block'; } else{ document.getElementById(tehid).style.display = 'none'; }">Show key</a>
                    <div class="sshkey" id="sshkey_{{ alumni.user.id }}" style="display: none">
                    <textarea id="area_{{alumni.user.id}}" onfocus="this.select()" cols="50" rows="10">{{ alumni.sshpubkey }}</textarea>
                    </div>
                </div>
{% endif %}

            </article>

            {% if column == 'col3' and not forloop.last %}
        </div>
        <div class="row">
            {% endif %}            
        {% endif %}{% endfor %}
        </div>
    </div>
{% endblock %}
