{% extends "www/base.html" %}
{% load www i18n flatpages %}

{% block title %}{% trans "Community" %}{% endblock %}
{% block extrahead %}{% endblock %}
{% block contentclass %}community{% endblock %}

{% block content %}
        <div class="row titlerow">
            <div class="span9 offset2">
                <h2 class="muted">{% trans 'community'|capfirst %}</h2>
            </div>
        </div>

        <div class="row">
            <div class="span9 offset2">
                {% if LANGUAGE_CODE == 'sl' %}{% get_flatpages '/sl/community/' as pages %}
                {% else %}{% get_flatpages '/en/community/' as pages %}{% endif %}
                {% for page in pages %}
                    {{ page.content|safe }}
                {% empty %}
                {% endfor %}

                <div class="nav">
                    <div class="btn-group">
                        <a class="btn" href="#active">{% trans 'Active members' %} ({{ active|length }})</a>
                        <a class="btn" href="#alumni">{% trans 'Alumni' %} ({{ alumni|length }})</a>
                        <a class="btn" href="#inactive">{% trans 'Inactive' %} ({{ inactive|length }})</a>
                    </div>
                </div>

                <section id="active">
                    <h3>{% trans 'Active members' %}</h3>
        
                    <ol class="members active">
                        {% for member in active %}{% if member.show_profile and member.user.is_active %}
                        {% cycle 'col1' 'col2' 'col3' as column silent %}
                        <li class="member">
                            <div class="member-avatar">
                                {% if member.image %}
                                <img class="thumbnail" src="{{ member.image.url }}" alt="{{ member.user.username }}" title="{{ member.user.username }}" />
                                {% else %}
                                <img class="thumbnail" src="{{ settings.STATIC_URL }}www/images/picture-skupnost.gif" alt="{{ member.user.username }}" title="{{ member.user.username }}" />
                                {% endif %}

                                <span class="member-networks">
                                    {% if member.twitter and member.twitter_public %}
                                        <a href="{{ member.twitter }}" class="icon-twitter" title="Twitter"></a>
                                    {% endif %}
                                    {% if member.facebook and member.facebook_public %}
                                        <a href="{{ member.facebook }}" class="icon-facebook" title="Facebook"></a>
                                    {% endif %}
                                    {% if member.linkedin and member.linkedin_public %}
                                        <a href="{{ member.linkedin }}" class="icon-linkedin" title="LinkedIn"></a>
                                    {% endif %}
                                    {% if member.flickr and member.flickr_public %} 
                                        <a href="{{ member.flickr }}" class="icon-flickr" title="Flickr"></a>
                                    {% endif %}
                                    {% if member.www and member.www_public %}
                                        <a href="{{ member.www }}" class="icon-file" title="Webpage"></a>
                                    {% endif %}
                                    {% if member.blog %}
                                        <a href="{{ member.blog }}" class="icon-file" title="Blog"></a>
                                    {% endif %}
                                </span>

                            </div>


                            <h3 class="member-name">{% if member.public_name %}{{ member.public_name }}{% else %}{{ member.user.get_full_name }}{% endif %}</h3>
                            <!--h4 class="member-position">Founder and CEO</h4-->

                            <p class="member-bio">{{ member.description }}</p>

                            {% if member.sshpubkey and member.sshpubkey_public %}
                            <div>
                                <a href="javascript:;" onmousedown="var tehid = 'sshkey_{{ member.user.id }}'; if(document.getElementById(tehid).style.display == 'none'){ document.getElementById(tehid).style.display = 'block'; } else{ document.getElementById(tehid).style.display = 'none'; }">Show public key</a>
                                <div class="sshkey" id="sshkey_{{ member.user.id }}" style="display: none">
                                    <textarea id="area_{{member.user.id}}" onfocus="this.select()" cols="50" rows="10">{{ member.sshpubkey }}</textarea>
                                </div>
                            </div>
                            {% endif %}
                        </li>
                        {% endif %}
                        {% empty %}
                        <li>Ni aktivnih članov</li>
                        {% endfor %}
                    </ol>
                </section>

                <section id="alumni">
                    <h3>{% trans 'alumni'|capfirst %}</h3>

                    <ol class="members alumni">
                        {% for member in alumni %}
                        {% cycle 'col1' 'col2' 'col3' as column silent %}
                        <li class="member">
                            <div class="member-avatar">
                                {% if member.image %}
                                <img class="thumbnail" src="{{ member.image.url }}" alt="{{ member.user.username }}" title="{{ member.user.username }}" />
                                {% else %}
                                <img class="thumbnail" src="{{ settings.STATIC_URL }}www/images/picture-skupnost.gif" alt="{{ member.user.username }}" title="{{ member.user.username }}" />
                                {% endif %}

                                <span class="member-networks">
                                    {% if member.twitter and member.twitter_public %}
                                        <a href="{{ member.twitter }}" class="icon-twitter"></a>
                                    {% endif %}
                                    {% if member.facebook and member.facebook_public %}
                                        <a href="{{ member.facebook }}" class="icon-facebook"></a>
                                    {% endif %}
                                    {% if member.linkedin and member.linkedin_public %}
                                        <a href="{{ member.linkedin }}" class="icon-linkedin"></a>
                                    {% endif %}
                                    {% if member.flickr and member.flickr_public %} 
                                        <a href="{{ member.flickr }}" class="icon-flickr"></a>
                                    {% endif %}
                                    {% if member.www and member.www_public %}
                                        <a href="{{ member.www }}" title="webpage" class="icon-file"></a>
                                    {% endif %}
                                    {% if member.blog %}
                                        <a href="{{ member.blog }}" title="blog" class="icon-file"></a>
                                    {% endif %}
                                </span>

                            </div>


                            <h3 class="member-name">{% if member.public_name %}{{ member.public_name }}{% else %}{{ member.user.get_full_name }}{% endif %}</h3>
                            <!--h4 class="member-position">Founder and CEO</h4-->

                            <p class="member-bio">{{ member.description }}</p>

                            {% if member.sshpubkey and member.sshpubkey_public %}
                            <div>
                                <a href="javascript:;" onmousedown="var tehid = 'sshkey_{{ member.user.id }}'; if(document.getElementById(tehid).style.display == 'none'){ document.getElementById(tehid).style.display = 'block'; } else{ document.getElementById(tehid).style.display = 'none'; }">Show public key</a>
                                <div class="sshkey" id="sshkey_{{ member.user.id }}" style="display: none">
                                    <textarea id="area_{{member.user.id}}" onfocus="this.select()" cols="50" rows="10">{{ member.sshpubkey }}</textarea>
                                </div>
                            </div>
                            {% endif %}
                        </li>
                        {% empty %}
                        <li>Ni alumnov</li>
                        {% endfor %}
                    </ol>
                </section>

                <section id="inactive">
                    <h3>{% trans 'Inactive' %}</h3>

                    {% for member in inactive %}
                    <div class="member-avatar">
                        {% if member.image %}
                        <img class="thumbnail" src="{{ member.image.url }}" alt="{{ member.user.username }}" title="{{ member.user.username }}" />
                        {% else %}
                        <img class="thumbnail" src="{{ settings.STATIC_URL }}www/images/picture-skupnost.gif" alt="{{ member.user.username }}" title="{{ member.user.username }}" />
                        {% endif %}

                        <h3 class="member-name">{% if member.public_name %}{{ member.public_name }}{% else %}{{ member.user.username }}{% endif %}</h3>
                    </div>
                    {% empty %}
                    Ni neaktivnih članov
                    {% endfor %}
                </section>
            </div>
        </div>
{% endblock %}
