div#header {
	background: #0063ff;
	background-image: url("img/grad.png");
	background-repeat: repeat-x;
	margin-bottom: 15px;
	position: relative;
	top: 0px;
	left: 0px;
	min-height:75px;
}

div#status_report {
	float: right;
	right:10px;
	position: relative;
}

div#header A {
	margin-right: 15px;
}

div#top { padding: 5px 0 20px 5px;}

ul#mainmenu li{
	list-style-type: none; margin: 0; padding: 0;
	float:left; margin-right: 10px; text-align: center}

ul#mainmenu { width: 70%; }
ul#login_info { position: relative; float: right; }

ul#login_info li{
	list-style-type: none; margin: 0; padding: 0;
	float:left; margin-right: 10px; text-align: center}
