    div#pullquote
    {
       /* margin: 2em;*/
        background: #09f url(img/a.gif) no-repeat;
        width:40%;
        margin:2em 5%;
        float:left;
    }
    
    div#pullquote h2
    {
        margin: 0;
        padding: 20px 20px 0 20px;
        background:  url(img/b.gif) no-repeat 100% 0;
        height: 1.5em;
    }
    
    div#pullquote p { padding: 0 20px; }
    
    div#pullquote p.more
    {
        padding: 0 0 0 20px;
        background:  url(img/c.gif) no-repeat left bottom;
        height: 2em;
    }
    
    div#pullquote p.more a
    {
        display: block;
        padding: 0 20px 0px 0;
        text-align: right;
        background:  url(img/d.gif) no-repeat right bottom;
        height: 2em;
    }

    p { margin:0; }
