label {
	margin-right: 100%;
}

body {
	margin:0;
	padding:0;
	font-family:"Lucida Grande","Bitstream Vera Sans",Verdana,Arial,sans-serif;
	background-color:#000000;
	color: #efefef;
}

/* LINKS */
a:link, a:visited {
	 color: #efefef;
	text-decoration:none;
}

/*  PAGE STRUCTURE  */
#container { position:relative; width:100%; min-width:720px; }
#header	{ text-align:left; min-height:55px; _height:55px; }
.content {
	float: right;
	margin:15px 10px;
			/* margin-left: auto;
			margin-right: auto; */
		}

.nav {
	float: left;
}

#content-main { float:right;}
#content-related { float:left; }
#changelist-filter { }
#footer	{ clear:both; padding:10px; }
