<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{% block title %}Najboljši Kibercenter v Evropi{% endblock %} :: Kiberpipa.org</title>

<link rel="stylesheet" href="{{ media_url }}www/css/style.css" type="text/css" />
<link rel="shortcut icon" href="{{ media_url }}www/images/favicon.ico">
<script type='text/javascript' src='{{ media_url }}/js/jquery-1.2.6.js'></script>
{% block extrahead %}{% endblock %}

</head>

<body>
<div id="container">

	<div id="header">
    	<div class="header-logo"><a href="http://new.kiberpipa.org"><img src="{{ media_url }}www/images/logo.png" alt="Kiberpipa Logo" /></a></div>
        	<div class="primary-nav"><a href="/o-nas/">o nas</a> | <a href="/alumni/">skupnost</a> | <a href="/calendar/">koledar</a> | <a  href="/podpora/">podpora</a> | <a href="/press/">press</a></div>
        	<div class="searchbox"><img src="{{ media_url }}www/images/searchbox.gif" border="0" alt="slika" /></div>
            	<div class="language"><strong>slo</strong> | <a href="/news/">eng</a></div>
    </div>

{% block content %} {% endblock %}

    <div id="footer">
       	
    	<div class="footer-cp-logo">
        	<img src="http://static.kiberpipa.org/i3-media/www/images/logo.png" border="0" alt="slika" />
        </div>
        <div class="footer-text">
        Kiberpipa<br />
        <a href="http://maps.google.com/maps/ms?msa=0&msid=102059743126920888380.00044a805fa1b32bcf70b&ie=UTF8&ll=46.057002,14.50809&spn=0.007147,0.018711&z=16">Kersnikova 6</a><br />
        1000 Ljubljana<br />
        Slovenija<br />
        </div>
        <div class="footer-text2">
        <p class="italic">Pon. - Pet.</p>
        10.00 - 22.00<br />
        <p class="italic">Mon. - Fri.</p>
        10am - 10pm<br />
        </div>
        <div class="footer-text3">
        <br />
        <a href="mailto:info@kiberpipa.org">info@kiberpipa.org</a><br />
        +386 1 438 03 05<br />
        </div>
        
        <div class="footer-support">
        	<a href="http://www.k6-4.org/"><img src="{{ media_url }}www/images/zavod_pasica.png" alt="Zavod K6/4" /></a>

        	<a href="http://www.m3c.si/dat/M3C/"><img src="{{ media_url }}www/images/logo_m3c.png" alt="M3C - Mreža Multimedijskih Centrov Slovenije" /></a>

        	<a href="http://www.gov.si/euskladi/skladi/strukt_esrr.html"><img src="{{ media_url }}www/images/logo_evropski_sklad.png" alt="Evropski Sklad za Regionalni Razvoj" /></a>

        	<a href="http://www.kultura.gov.si/"><img src="{{ media_url }}www/images/logo_kultura.png" alt="Kultura" /></a>

        </div>
    </div>
</div>

<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
  _uacct = "UA-306569-3"; urchinTracker();
</script>

</body>
</html>
