<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Kiberpipa.org</title>

<link rel="stylesheet" href="{{ media_url }}www/css/style.css" type="text/css" />
<script type='text/javascript' src='{{ media_url }}/js/jquery-1.2.6.js'></script>
{% block extrahead %}{% endblock %}

</head>

<body>
<div id="container">

	<div id="header">
    	<div class="header-logo"><a href="http://www.kiberpipa.org"><img src="{{ media_url }}www/images/logo.png" border="0" alt="slika" /></a></div>
        	<div class="primary-nav"><a href="/about/">o nas</a> | <a href="/alumni/">skupnost</a> | <a href="/calendar/">koledar</a> | <a  href="/sponsors/">sponzorji</a> | <a href="/press">press</a></div>
        	<div class="searchbox"><img src="{{ media_url }}www/images/searchbox.gif" border="0" alt="slika" /></div>
            	<div class="language">slo | eng</div>
    </div>

{% block content %} {% endblock %}

    <div id="footer">
    	<div class="footer-cp-logo">
        	<img src="{{ media_url }}www/images/logo.png" border="0" alt="slika" />
        </div>
        <div class="footer-text">
        Kiberpipa<br />
        Kersnikova 6<br />
        1000 Ljubljana<br />
        Slovenija<br />
        </div>
        <div class="footer-text2">
        Pon. - Pet.<br />
        10.00 - 22.00<br /><br />
        Mon. - Fri.<br />
        10am - 10pm<br />
        </div>
        <div class="footer-text3">
        info@kiberpipa.org<br />
        +386 1 438 03 05<br />
        </div>
        <div class="footer-support">
        	<img src="{{ media_url }}www/images/podporniki.gif" alt="slika" />
        </div>
        <div class="footer-support-mol">
        	<img src="{{ media_url }}www/images/sponzorji-footer.gif" alt="slika" />
        </div>
        <div class="footer-support-kultura">
        	<img src="{{ media_url }}www/images/sponzorji-footer.gif" alt="slika" />
        </div>
        <div class="footer-support-eu">
        	<img src="{{ media_url }}www/images/sponzorji-footer.gif" alt="slika" />
        </div>
    </div>
    
</div>
</body>
</html>
