{% extends "www/base-second.html" %}
{% block extrahead %}{% endblock %}
{% block title %} Kiberpipin koledar dogodkov {% endblock %}
{% load markup %}
{% load www %}

{% block heading %}
    <h1>Kiberpipin koledar dogodkov</h1>
{% endblock %}

{% block content %}
    <div id="koledar">
    	<div class="koledar-title-main">
        Koledar - {% now "F Y" %}
        </div>
        <div class="koledar-img">
        <img src="images/rss.gif" alt="slika" border="0" />
        </div>
        <div class="koledar-img">
        <img src="images/rss.gif" alt="slika" border="0" />
        </div>
        <div class="koledar-img">
        <img src="images/rss.gif" alt="slika" border="0" />
        </div>
    <div id="koledar-wrapper">
    	<div class="koledar-title">
        Ponedeljek
        </div>
        <div class="koledar-title">
        Torek
        </div>
        <div class="koledar-title">
        Sreda
        </div>
        <div class="koledar-title">
        Cetrtek
        </div>
        <div class="koledar-title">
        Petek
        </div>
        <div class="koledar-title">
        Sobota
        </div>
        <div class="koledar-title">
        Nedelja
        </div>
        {% for date, events in dates %}
            <div class="koledar-box">
                <div class="koledar-box-num">
                    {{ date.day }}
                </div>
                {% for event in events %}
                    {% if event.public %}
                        {{ event }}
                    {% else %}
                        PRIVATE!!
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
        <div class="koledar-previous">
        &lt;&lt; Previous month
        </div>
        <div class="koledar-next">
        Next month &gt;&gt;
        </div>    
    </div>
    {% comment %}
find me a home:
<a href="{% url intranet.www.views.ical "month" %}">vCalendar for current month</a>
<a href="{% url intranet.www.views.ical %}">self updating vCalendar</a>


    {% calclass date %}:
        mozni classi so:
        prev -- prejsnji mesec
        past -- pred danasnjim dnem ta mesec
        today -- danes
        future -- po danasnjem dnevu do konca meseca
        next -- naslednji mesec
    {% endcomment %}
{% endblock %}
