{% extends "www/base.html" %}
{% load www %}

{% block extrahead %}
<link href='{{ media_url }}/www/scroll.css' type='text/css' rel='stylesheet' />
{% comment %}
<script type='text/javascript' src='{{ media_url }}/js/jquery.scrollTo-min.js'></script>
<script type='text/javascript' src='{{ media_url }}/js/jquery.serialScroll-min.js'></script>
{% endcomment %}
<script type='text/javascript' src='{{ media_url }}/www/js/jquery.scrollable.js'></script>
<script type='text/javascript' src='{{ media_url }}/www/js/jquery.serialScroll-1.2.1.js'></script>
<script type='text/javascript' src='{{ media_url }}/www/js/jquery.scrollTo-1.4.0.js'></script>
<script type='text/javascript'>
<!-- TODO create init.js -->

jQuery.easing.easeOutQuart = function (x, t, b, c, d) {
	return -c * ((t=t/d-1)*t*t*t - 1) + b;
};

$(document).ready(function() {
        scroll = $(".present")
        scroll.scrollable({horizontal:true, speed:500, size:3 });
        scroll.scrollable("seekTo", {{ position }}, 1)
        $(".future").click(function(){
            scroll.scrollable("next");
        });
        $(".past").click(function(){
            scroll.scrollable("prev");
        });
        $(".past3").click(function(){
            scroll.scrollable("prevPage");
        });
        $(".future3").click(function(){
            scroll.scrollable("nextPage");
        });
	$('#screen').serialScroll({
		target:'#sections',
		items:'li', // Selector to the items ( relative to the matched elements, '#sections' in this case )
		prev:'img.prev',// Selector to the 'prev' button (absolute!, meaning it's relative to the document)
		next:'img.next',// Selector to the 'next' button (absolute too)
		navigation:'#navigation li a',
		duration:700,// Length of the animation (if you scroll 2 axes and use queue, then each axis take half this time)
		force:true, // Force a scroll to the element specified by 'start' (some browsers don't reset on refreshes)
		interval:1987, // It's the number of milliseconds to automatically go to the next
		
		onBefore:function( e, elem, $pane, $items, pos ){
			e.preventDefault();
			if( this.blur )
				this.blur();
		}
	});
	$('#sections').hover(function(){
		$('#sections').trigger('stop');
		},function(){
		$('#sections').trigger('start');
	});
    {% for i in ticker %}
        $('#stop{{ forloop.counter }}').click(function(){
            $('#sections').trigger('stop');
        });
        $('#stop{{ forloop.counter }}').mouseout(function(){
            $('#sections').trigger('start');
        });
    {% endfor %}
    });
</script>
{% endblock %}
{% block content %}
	<div class="rss-index"><a href="/rss/" ><img src="{{ media_url }}www/images/rss20x20.png" alt="RSS Feeds" /></a></div>
    <div id="upcoming">
    	<div class="next3-left">
        	<div class="past3"><a href="#" onclick="return false;"><img src="{{ media_url }}www/images/puscica-3levo.gif" alt="tri dogodke nazaj" /></a></div>
        	<div class="past"><a href="#" onclick="return false;"><img src="{{ media_url }}www/images/puscica-levo.gif" alt="en dogodek nazaj" /></a></div>
		</div>
            <div class="present" style="height:300px;">
                {% for event in events %}
                    <div id="event{{ event.id }}" class="present-now">
                       
                        <div class="present-event-date">
                            <strong>{{ event.project }}: </strong>
                                {{ event.start_date|date:"l, d. "|capfirst }}
                                {{ event.start_date|date:"F Y"|capfirst }}
                        </div>
                        {% if event.index_image %}
                            <a href="{{ event.get_public_url }}">
                                <img width="250" height="130" src="{{ event.index_image.url }}" alt="slika dogodka" />
                            </a>
                        {% else %}
                            <a href="{{ event.get_public_url }}">
                                <img width="250" height="130" src="{{ media_url }}www/images/img-upcoming.gif" alt="slika" />
                            </a>
                        {% endif %}
                         <div class="present-event-text"><a href="{{ event.get_public_url }}">{{ event }}</a></div>

                        <div class="present-event-desc">{{ event.announce|safe|truncchar:"250" }}</div>
                    </div>
                {% endfor %}
             </div>
                
         <div class="next3-right">
             <div class="future"><a href="#" onclick="return false;"><img src="{{ media_url }}www/images/puscica-desno.gif" alt="en dogodek naprej" /></a></div>
             <div class="future3"><a href="#" onclick="return false;"><img src="{{ media_url }}www/images/puscica-3desno.gif" alt="tri dogodke naprej" /></a></div>
         </div>
         
      </div>

    <div id="notifier">
    	<div class="button-chamber">
        	<div class="gallery"><a href="/gallery/">gallery</a></div>
            <div class="gallery-button">
            	<img src="{{ media_url }}www/images/picture-small.gif" alt="slika" />
            </div>
            <div class="gallery-button2">
            	<img src="{{ media_url }}www/images/picture-small.gif" alt="slika" />
            </div>
            <div class="gallery-button3">
            	<img src="{{ media_url }}www/images/picture-small.gif" alt="slika" />
            </div>
            <div class="video"><a href="http://video.kiberpipa.org/">video arhiv</a></div>
            {% for video in videos %}
            <div class="video-button">
            	<a href="{{ video.play_url }}"><img width="67" height="67" src="{{ video.image_url }}" alt="slika" /></a>
            </div>
            {% endfor %}
            {% comment %}
            <div class="video-button">
            	<a href="{{ videos.0.play_url }}"><img width="67" height="67" src="{{ videos.0.image_url }}" alt="slika" /></a>
            </div>
            <div class="video-button2">
            	<a href="{{ videos.1.play_url }}"><img width="67" height="67" src="{{ videos.1.image_url }}" alt="slika" /></a>
            </div>
            <div class="video-button3">
            	<a href="{{ videos.2.play_url }}"><img width="67" height="67" src="{{ videos.2.image_url }}" alt="slika" /></a>
            </div>
            {% endcomment %}
         </div>

       <div id="screen" class="notifier-chamber">
         <div id="navigation">
            <ul>
                {% for i in ticker %}
                    <li><a id="stop{{ forloop.counter }}" href="#">{{ i.name }}</a></li>
                {% endfor %}
            </ul>
         </div>
         <div id="sections">
            <ul>
                {% for i in ticker %}
                    <li>
                        <h2>{{ i.name }}</h2>
                        <p>{{ i.note }}</p>
                    </li>
                {% endfor %}
            </ul>
         </div>
       </div>
    </div>
    

    
    <div id="second-nav-front">
    <a href="http://muzej.kiberpipa.org/">muzej</a> | g404 | <a href="http://www.kiberpipa.org/err0r/">err0r</a> | <a href="http://www.kiberpipa.org/postlab/">postlab</a> | <a href="http://www.kiberpipa.org/haip">haip</a> | filmšteka | <a href="http://pot.kiberpipa.org/">POT</a> | <a href="http://web.zen.si/">SU</a> | VIP | <a href="http://www.kiberpipa.net/">NET</a>
    </div>
    <div id="blog-cp">
    	<div class="blog-cp-title">
        Zapisi iz sveta brez oken
        </div>
        {% for i in news %}
            <div class="blog-cp-news-title">
            <a href="{{ i.get_absolute_url }}">{{ i.title }}</a>
            </div>
            <div class="blog-cp-publish">
            Published by John Doe on {{ i.date }}
            </div>
            <div class="blog-cp-content">
            {{ i.text|santize|truncatewords:"60" }}
            </div>
{% comment %}
            <div class="blog-cp-more">
            more &gt;&gt;
            </div>
{% endcomment %}
        {% endfor %}
    </div>
    
    <div id="planet">
    	<div class="planet-title">
        Razmišljanja iz /dev/random
        </div>
        {% for post in planet %}
            <div class="planet-news-title">
            <a href="{{ post.link }}">{{ post.title }}</a>
            </div>
            <div class="planet-publish">
            Published by {{ post.author }} on {{ post.date_modified }}
            </div>
            <div class="planet-content">
            {{ post.content|santize|truncatewords:"60" }}
            </div>
{% comment %}
            <div class="planet-more">
            more &gt;&gt;
            </div>
{% endcomment %}
        {% endfor %}
    </div>
{% endblock %}
