{% extends "www/base.html" %}

{% block extrahead %}
<link href='{{ media_url }}/www/scroll.css' type='text/css' rel='stylesheet' />
<script type='text/javascript' src='{{ media_url }}/js/jquery.scrollTo-min.js'></script>
<script type='text/javascript' src='{{ media_url }}/js/jquery.serialScroll-min.js'></script>
<script type='text/javascript'>
<!-- TODO create init.js -->

jQuery.easing.easeOutQuart = function (x, t, b, c, d) {
	return -c * ((t=t/d-1)*t*t*t - 1) + b;
};

jQuery(function( $ ){
	$('#screen').serialScroll({
		target:'#sections',
		items:'li', // Selector to the items ( relative to the matched elements, '#sections' in this case )
		prev:'img.prev',// Selector to the 'prev' button (absolute!, meaning it's relative to the document)
		next:'img.next',// Selector to the 'next' button (absolute too)
		navigation:'#navigation li a',
		duration:700,// Length of the animation (if you scroll 2 axes and use queue, then each axis take half this time)
		force:true, // Force a scroll to the element specified by 'start' (some browsers don't reset on refreshes)
		interval:1987, // It's the number of milliseconds to automatically go to the next
		
		onBefore:function( e, elem, $pane, $items, pos ){
			e.preventDefault();
			if( this.blur )
				this.blur();
		}
	});
	$('#sections').hover(function(){
		$('#sections').trigger('stop');
		},function(){
		$('#sections').trigger('start');
	});
    {% for i in news %}
        $('#stop{{ forloop.counter }}').click(function(){
            $('#sections').trigger('stop');
        });
        $('#stop{{ forloop.counter }}').mouseout(function(){
            $('#sections').trigger('start');
        });
    {% endfor %}
    });
    $(document).ready(function() {
        i = 101;
        events = new Array({{ jsevents|safe }});
        function redraw(){
            $("#one").html(events[i-1]);
            $("#two").html(events[i]);
            $("#three").html(events[i+1]);
        }
        $("#next_one").click(function(){
            i++;
            redraw();
        });
        $("#prev_one").click(function(){
            i--;
            redraw();
        });
        $("#prev_three").click(function(){
            i-=3;
            redraw();
        });
        $("#next_three").click(function(){
            i+=3;
            redraw();
        });
    });
</script>
{% endblock %}
{% block content %}
{% comment %}
<!-- works, will migrate it to real events, once they are up -->
<!-- TODO add sliding effect -->
<a href="#" id="prev_three"><<<</a> <a href="#" id="prev_one"><</a>
<table width="960"><tr>
    <td id="one">{{ events.0 }}</td>
    <td id="two">{{ events.1 }}</td>
    <td id="three">{{ events.2 }}</td>
</tr></table>
<a href="#" id="next_one">></a>  <a href="#" id="next_three">>>></a>
<!-- END timeline testing -->
{% endcomment %}
    <div id="upcoming">
    	<div class="next3">
        	<div class="past"><img src="{{ media_url }}www/images/puscica-levo.gif" alt="slika" /></div>
            <div class="present">
            	<div class="present-now">
                	<img src="{{ media_url }}www/images/img-upcoming.gif" alt="slika" />
                </div>
                <div class="present-now2">
                    <img src="{{ media_url }}www/images/img-upcoming.gif" alt="slika" />
                </div>
                <div class="present-now3">
                    <img src="{{ media_url }}www/images/img-upcoming.gif" alt="slika" />
                </div>
             </div>
             <div class="future"><img src="{{ media_url }}www/images/puscica-desno.gif" alt="slika" /></div>
         </div>
      </div>
    
    <div id="notifier">
    	<div class="button-chamber">
        	<div class="gallery">gallery</div>
            <div class="gallery-button">
            	<img src="{{ media_url }}www/images/picture-small.gif" alt="slika" />
            </div>
            <div class="gallery-button2">
            	<img src="{{ media_url }}www/images/picture-small.gif" alt="slika" />
            </div>
            <div class="gallery-button3">
            	<img src="{{ media_url }}www/images/picture-small.gif" alt="slika" />
            </div>
            <div class="video">video arhiv</div>
            <div class="video-button">
            	<img src="{{ media_url }}www/images/video-small.gif" alt="slika" />
            </div>
            <div class="video-button2">
            	<img src="{{ media_url }}www/images/video-small.gif" alt="slika" />
            </div>
            <div class="video-button3">
            	<img src="{{ media_url }}www/images/video-small.gif" alt="slika" />
            </div>
         </div>
       <div id="screen" class="notifier-chamber">
         <div id="navigation">
            <ul>
                {% for i in news %}
                    <li><a id="stop{{ forloop.counter }}" href="#">{{ i.name }}</a></li>
                {% endfor %}
            </ul>
         </div>
         <div id="sections">
            <ul>
                {% for i in news %}
                    <li>
                        <h2>{{ i.name }}</h2>
                        <p>{{ i.note }}</p>
                    </li>
                {% endfor %}
            </ul>
         </div>
       </div>
    </div>
    
    <div id="second-nav">
    muzej | g404 | err0r | postlab | haip | filmšteka | POT | SU | VIP | NET
    </div>
    
    <div id="blog-cp">
    	<div class="blog-cp-title">
        Kiberpipin blog
        </div>
        <div class="blog-cp-news-title">
        News title 01
        </div>
        <div class="blog-cp-publish">
        Published by John Doe on 14. 10. 2008
        </div>
        <div class="blog-cp-content">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam tortor est, vulputate quis, rutrum tempus, pharetra suscipit, dolor. Sed nec velit. Nunc accumsan. Vivamus sollicitudin elit vel arcu. Proin sagittis facilisis mi. Fusce lectus orci, iaculis sed, congue nec, sollicitudin quis, lacus. Duis consectetuer.
        </div>
        <div class="blog-cp-more">
        more >>
        </div>
    </div>
    
    <div id="planet">
    	<div class="planet-title">
        Planet
        </div>
        <div class="planet-news-title">
        Planet title 01
        </div>
        <div class="planet-publish">
        Published by John Doe on 14. 10. 2008
        </div>
        <div class="planet-content">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam tortor est, vulputate quis, rutrum tempus, pharetra suscipit, dolor. Sed nec velit. Nunc accumsan. Vivamus sollicitudin elit vel arcu. Proin sagittis facilisis mi. Fusce lectus orci, iaculis sed, congue nec, sollicitudin quis, lacus. Duis consectetuer.
        </div>
        <div class="planet-more">
        more >>
        </div>
    </div>
{% endblock %}
