{% extends "www/base-second.html" %}
{% block content %}
    <div id="blog-news">
    	<div class="blog-news-title">
        Kiberpipin blog
        </div>
        <div class="blog-news-en-title">
        {{ news }}
        </div>
        <div class="blog-news-publish">
        Published by {{ news.author }} on {{ news.date }}
        </div>
        <div class="blog-news-content">
        <div class="blog-news-content img"></div>
						{{ news.text|safe }}
        </div>

{% load comments %}

<div class="dogodek-komentarji">
<p class="title-kom">Komentarji:</p>

{% get_comment_list for news as comment_list %}
{% for comment in comment_list %}
	<p class="komentar-avtor"><a href="{{ comment.url }}">{{ comment.name }}</a> je napisal:</p>
	<p class="date-kom">{{ comment.submit_date|date:"j N Y, H:i" }}</p>
	<p class="komentar-vsebina">{{ comment.comment }}</p>
{% endfor %}



{% get_comment_form for news as form %}
<form action="{% comment_form_target %}" method="POST">
  {{ form.as_ul }}
  <li class="submit">
    <input type="submit" name="submit" class="submit-post" value="Pošlji komentar">
  </li>
</form>
</div>
{% endblock %}
