{% extends "www/base-second.html" %}
{% block extrahead %}{% endblock %}
{% block title %}{{ event }}{% endblock %}
{% load markup %}

{% block heading %}
<div class="rss-index"><a href="/rss/" ><img src="http://localhost:8000/smedia/www/images/rss20x20.png" alt="RSS Feeds" /></a></div>
    <h2>Novice</h1>
{% endblock %}
{% block content%}
<div id="news-list">
<h2 class="blog-cp-news-title"><a href="#">Naslov novice</a></h2>
<p class="blog-cp-publish"> Published by peter on 2008-11-20 21:35:25.104519 </p>
<p class="blog-cp-content"> Tole je sedaj zelo dolg Loerm ipsum tekst, ups mislim lorem ipsum sit dolor amet consequet...  Tole je sedaj zelo dolg Loerm ipsum tekst, ups mislim lorem ipsum sit dolor amet consequet...  Tole je sedaj zelo dolg Loerm ipsum tekst, ups mislim lorem ipsum sit dolor amet consequet...  Tole je sedaj zelo dolg Loerm ipsum tekst, ups mislim lorem ipsum sit dolor amet consequet...  Tole je sedaj zelo dolg Loerm ipsum tekst, ups mislim lorem ipsum sit dolor amet consequet... </p>

<h2 class="blog-cp-news-title"><a href="#">Naslov novice</a></h2>
<p class="blog-cp-publish"> Published by peter on 2008-11-20 21:35:25.104519 </p>
<p class="blog-cp-content"> Tole je sedaj zelo dolg Loerm ipsum tekst, ups mislim lorem ipsum sit dolor amet consequet...  Tole je sedaj zelo dolg Loerm ipsum tekst, ups mislim lorem ipsum sit dolor amet consequet...  Tole je sedaj zelo dolg Loerm ipsum tekst, ups mislim lorem ipsum sit dolor amet consequet...  Tole je sedaj zelo dolg Loerm ipsum tekst, ups mislim lorem ipsum sit dolor amet consequet...  Tole je sedaj zelo dolg Loerm ipsum tekst, ups mislim lorem ipsum sit dolor amet consequet... </p>

<h2 class="blog-cp-news-title"><a href="#">Naslov novice</a></h2>
<p class="blog-cp-publish"> Published by peter on 2008-11-20 21:35:25.104519 </p>
<p class="blog-cp-content"> Tole je sedaj zelo dolg Loerm ipsum tekst, ups mislim lorem ipsum sit dolor amet consequet...  Tole je sedaj zelo dolg Loerm ipsum tekst, ups mislim lorem ipsum sit dolor amet consequet...  Tole je sedaj zelo dolg Loerm ipsum tekst, ups mislim lorem ipsum sit dolor amet consequet...  Tole je sedaj zelo dolg Loerm ipsum tekst, ups mislim lorem ipsum sit dolor amet consequet...  Tole je sedaj zelo dolg Loerm ipsum tekst, ups mislim lorem ipsum sit dolor amet consequet... </p>

</div>
{% endblock %}
