{% extends "www/base-second.html" %}

{% block extrahead %}
<script type="text/javascript">
$(document).ready(function(){
    var feeds = Array();
    $('input[type=checkbox]').click(function(){
        if ($(this).is(":checked")) {
                feeds.push($(this).attr("id"));
        } else if($(this).not(":checked")) {
            index = feeds.indexOf($(this).attr("id"));
            feeds.splice(index, 1);
        }

        if (feeds[0]){ 
            $(".rss-signup").html('<a href="/feeds/all/' + feeds.join('/')+'">Prijavi me &gt;&gt;</a>'); 
        } else {
            $(".rss-signup").html('');
        } 
    });

});
</script>

{% endblock %}

{% block content %}
    <div id="rss">
        <div class="rss-news-title">
        Seznam RSS Feedov
        </div>
        <div class="rss-content">
<p>V Kiberpipi poteka veliko različnih dogodkov na katere se lahko naročite preko RSS feedov. Izberite za katere dogodke želite prejemati obvestila in dobili boste le tiste. Če si želite obveščanja o vsem dogajanju v Kiberpipi se naročite na vse. Predvsem pa boste na tekočem z vsem kar se bo dogajalo v prostorih Kiberpipe.</p>
        </div>
        <div class="rss-related">
            <ul>
                <form>
                    <li><input type="checkbox" id="news"  />Novice</li>
                    <li><input type="checkbox" id="events" />Dogodki</li>
                    <li><input type="checkbox" id="pot" />POT - Pipini Odprti Termini</li>
                    <li><input type="checkbox" id="su" />SU - Spletne Urice</li>
                    <li><input type="checkbox" id="planet" />Planet</li>
                    <li class="rss-vse"><input type="checkbox" id="all" />Vse</li>
                </form>
                    <!-- 
                    <li>muzej</li>
                    <li>koledar</li>
                    <li>videoarhiv</li>
                    <li>haip</li>
                    -->
        	</ul>
            <div class="rss-signup">
            </div>
        </div>
    </div>
{% endblock %}
