{% extends "www/base-second.html" %}

{% block extrahead %}
<script type="text/javascript">
$(document).ready(function(){
    var feeds = Array();
    $('input[type=checkbox]').click(function(){
        if ($(this).is(":checked")) {
                feeds.push($(this).attr("id"));
        } else if($(this).not(":checked")) {
            index = feeds.indexOf($(this).attr("id"));
            feeds.splice(index, 1);
        }

        if (feeds[0]){ 
            $(".rss-signup").html('<a href="/feeds/all/' + feeds.join('/')+'">Prijavi me &gt;&gt;</a>'); 
        } else {
            $(".rss-signup").html('');
        } 
    });

});
</script>

{% endblock %}

{% block content %}
    <div id="rss">
        <div class="rss-news-title">
        RSS seznam
        </div>
        <div class="rss-content">
        Lorss.htmlrem ipsum dolor sit amet, consectetuer adipiscing elit. Sed viverra venenatis massa. Proin non augue a ligula viverra gravida. Aliquam at dui et nisi iaculis condimentum. Pellentesque in quam. In hac habitasse platea dictumst. Curabitur dignissim, tortor eget bibendum ullamcorper, urna neque tincidunt massa, a ultrices metus quam ut augue. Praesent pretium, libero eget molestie lacinia, est nibh eleifend mauris, ut condimentum libero ipsum at diam. Nulla id risus. Vestibulum ornare, felis vitae vehicula volutpat, elit velit imperdiet ipsum, eget semper magna pede nec odio. Nulla lobortis.
<br /><br />
Fusce id felis. Praesent sed mi id velit tempus lacinia. Aliquam erat volutpat. Vestibulum eu lectus vitae eros pharetra mattis. Sed congue imperdiet nunc. Aliquam erat volutpat. Aliquam erat volutpat. Quisque vehicula interdum velit. Integer condimentum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec lacus lectus, tincidunt porta, laoreet at, volutpat ac, tortor. Donec luctus volutpat odio.
        </div>
        <div class="rss-related">
            <ul>
                <form>
                    <input type="checkbox" id="news"  />Novice<br />
                    <input type="checkbox" id="events" />dogodki<br />
                    <input type="checkbox" id="pot" />POT<br />
                    <input type="checkbox" id="su" />SU<br />
                    <input type="checkbox" id="planet" />planet<br />
                    <input type="checkbox" id="all" />vse<br />
                </form>
                    <!-- 
                    <li>muzej</li>
                    <li>koledar</li>
                    <li>videoarhiv</li>
                    <li>haip</li>
                    -->
        	</ul>
            <div class="rss-signup">
            </div>
        </div>
    </div>
{% endblock %}
