/* Kiberpipa CSS */

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #fff;
	color: #000;
	padding: 0;
	margin: 0;
	text-align: center;
	}

a img {
	border: none;
}

#container {
	background: #fff;
	width: 960px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

/* Header styling */

#header {
	width: 960px;
	height: 60px;
	border-bottom: 2px solid #000;
	}

.header-logo {
	width: 153px;
	height: 45px;
	padding-top: 8px;
	padding-left: 10px;
	float: left;
}

.primary-nav {
	float: left;
	padding-top: 26px;
	padding-left: 190px;
	color: #000;
}

#searchform {
	float: left;
	margin: 5px 0;
}
.searchresult {
	margin-bottom: 10px;
	overflow: hidden;
}
.searchresult .image {
 	width: 250px;
	float: left;
}
.searchresult .content {
 	margin-left: 270px;
}
#searchpagination {
	margin: 10px 0;
	text-align: center;
}

.language {
	padding-top: 26px;
	padding-right: 5px;
	float: right;
}

/* End of header styling */

/* Upcoming and notifier ala 3 slikice, ki se izmenjujejo */

#upcoming {
	width: 960px;
	height: 320px;
	margin-top: 50px;
}
#noupcoming {
	margin-top: 50px;
    padding: 10px;
	height: 50px;
	width: 960px;
    margin: 0 auto;
    text-align: center;
}

.rss-index {
	float: right;
	margin: 10px;
}

.next3-left {
	float: left;
}

.next3-right {
	float: left;
}

.past3 {
	float: left;
	width: 27px;
	margin: 78px 10px 0 0;
}

.past {
	float: left;
	width: 27px;
	margin-top: 65px;
}

.present {
	float: left;
    width: 832px;
    height: 300px;

}

.present-event-text {
	width: 250px;
}

.present-event-date {
	width: 250px;
	padding: 5px 0;
	font-size: 12px;
}

.present-event-desc {
	width: 250px;
	padding:5px 0;
	font-size: 12px;
}

.present-event-desc-ime {
	width: 250px;
	padding-top:5px;
	font-size: 12px;
	font-weight: bold;
}


.present-event-image {
    position: relative;
}
.present-event-layer {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #FFF;
    opacity: 0.7;
    filter: alpha(opacity=70);
    width: 22px;
    height: 130px;
    padding: 3px;
}
.present-event-layer img {
    margin-bottom: 3px;
}

.present-now {
	float: left;
	padding-left: 13px;
	padding-right: 13px;
	}

.present-now img {
	border: 1px solid #000;
	}

.present-now2 {
	float: left;
	padding-left: 10px;
	padding-right: 15px;
	}

.present-now2 img {
	border: 1px solid #000;
	}

.present-now3 {
	float: left;
	padding-left: 10px;
	padding-right: 12px;
	}

.present-now3 img {
	border: 1px solid #000;
	}

.future3 {
	float: left;
	width: 27px;
	margin-top: 78px;
	}

.future {
	float: left;
	width: 27px;
	margin: 65px 10px 0 0;
	}

#notifier {
	width: 960px;
	padding: 30px 0 20px 75px;
	height: 150px;
	}

.button-chamber {
	width: 400px;
	float: left;
	margin-right: 10px;
}
.button-chamber h4 {
	margin: 8px 0;
	text-decoration: underline;
}
.button-chamber label {
	margin-right: 10px;
}
.button-chamber #id_email {
	width: 200px;
}

.video p {
	font-size: 16px;
	font-weight: bold;
	margin: 0 0 10px 0;
}

.video-button {
	float: left;
	margin-right: 10px;
	}


.video-button2 {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	}

.video-button3 {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	}

/* End of upcoming and notifier */

/* Secondary navigation */

#second-nav {
	float:left;
	width: 960px;
	height: 20px;
	padding-bottom: 20px;
	text-align: center;
	color: #000;
	}

#second-nav-front {
	float:left;
	width: 960px;
	height: 20px;
	padding-bottom: 50px;
	text-align: center;
	color: #000;
	}

/* End of secondary navigation */

/* Kiberpipin blog in Planet */

#blog-cp {
	float: left;
	width: 475px;
	height: 100%;
	padding: 0 5px 25px 0;
	}

.blog-cp-title {
	font-size: 16px;
	font-weight: bold;
	padding-top: 25px;
	padding-bottom: 5px;
	}

.blog-cp-news-title {
	font-size: 20px;
	font-weight: normal;
	text-decoration: underline;
	padding: 0 5px 5px 0;
	}

.blog-cp-publish {
	font-size: 11px;
	font-weight: normal;
	font-style: italic;
	padding-top: 0px;
	padding-bottom: 5px;
	}

.blog-cp-content {
	font-size: 12px;
	font-weight: normal;
	padding-top: 0px;
	padding-bottom: 5px;
	padding-right: 10px;
	}

.blog-cp-more {
	font-size: 12px;
	font-weight: normal;
	padding-top: 0px;
	padding-bottom: 5px;
	padding-right: 10px;
	float: right;
	}

#planet {
	float: left;
	width: 480px;
	height: 100%;
	padding-bottom: 25px;
	}

.planet-title {
	font-size: 16px;
	font-weight: bold;
	padding-top: 25px;
	padding-bottom: 5px;
	}

.planet-news-title {
	font-size: 20px;
	font-weight: normal;
	text-decoration: underline;
	padding-top: 0px;
	padding-bottom: 5px;
	}

.planet-publish {
	font-size: 11px;
	font-weight: normal;
	font-style: italic;
	padding-top: 0px;
	padding-bottom: 5px;
	}

.planet-content {
	font-size: 12px;
	font-weight: normal;
	padding-top: 0px;
	padding-bottom: 5px;
	padding-right: 10px;
	}

.planet-more {
	font-size: 12px;
	font-weight: normal;
	padding-top: 0px;
	padding-bottom: 5px;
	padding-right: 10px;
	float: right;
	}

/* End of Kiberpipin blog in Planet */

/* O nas */

#kiberpipa {
	float: left;
	width: 480px;
	height: 100%;
	padding-bottom: 25px;
	}

.kiberpipa-title {
	font-size: 16px;
	font-weight: bold;
	padding-top: 25px;
	padding-bottom: 5px;
	}

.kiberpipa-news-title {
	font-size: 20px;
	font-weight: normal;
	text-decoration: underline;
	padding-top: 0px;
	padding-bottom: 5px;
	}

.kiberpipa-content {
	font-size: 12px;
	font-weight: normal;
	padding-top: 0px;
	padding-bottom: 5px;
	padding-right: 10px;
	}

.kiberpipa-content p {margin-top: 0;}

#content {
	clear: both;	
}

#projekti {
	float: left;
	width: 480px;
	height: 100%;
	padding-bottom: 25px;
	}

.projekti-title {
	font-size: 16px;
	font-weight: bold;
	padding-top: 25px;
	padding-bottom: 5px;
	}

.projekti-news-title {
	font-size: 20px;
	font-weight: normal;
	text-decoration: underline;
	padding-top: 0px;
	padding-bottom: 5px;
	}

.projekti-content {
	font-size: 12px;
	font-weight: normal;
	padding-top: 0px;
	padding-bottom: 5px;
	padding-right: 10px;
	}

.projekti-content p {margin-top: 0;}

/* End of O nas */

/* Press */

.kiberpipa-press {
	float: left;
	width: 400px;
	height: 100%;
	padding-bottom: 25px;
	}

.kiberpipa-press-title {
	font-size: 16px;
	font-weight: bold;
	padding-top: 25px;
	padding-bottom: 5px;
	}

.kiberpipa-press-news-title {
	font-size: 12px;
	font-weight: normal;
	text-decoration: underline;
	padding-top: 0px;
	padding-bottom: 5px;
	line-height: 20px;
	}

.kiberpipa-press-content {
	font-size: 12px;
	font-weight: normal;
	padding-top: 0px;
	padding-bottom: 5px;
	padding-right: 10px;
	}

.kiberpipa-press-more {
	font-size: 12px;
	font-weight: normal;
	padding-top: 0px;
	padding-bottom: 5px;
	padding-right: 30px;
	float: right;
	}

#press-kit {
	float: left;
	width: 550px;
	height: 100%;
	padding-bottom: 25px;
	}

.press-kit-title {
	font-size: 16px;
	font-weight: bold;
	padding-top: 25px;
	padding-bottom: 5px;
	}

.press-kit-news-title {
	font-size: 20px;
	font-weight: normal;
	text-decoration: underline;
	padding-top: 0px;
	padding-bottom: 5px;
	}

.press-kit-content {
	font-size: 12px;
	font-weight: normal;
	padding-top: 0px;
	padding-bottom: 5px;
	padding-right: 10px;
	}

.press-kit-content p {padding-bottom: 10px; margin: 0;}

.press-kit-content ul {margin: 0;}
.press-kit-content li {line-height: 18px;}

/* Dogodek */

#dogodek {
	float: left;
	width: 960px;
	height: 100%;
	padding-top: 20px;
	padding-bottom: 25px;
	}

.dogodek-news-title {
	font-size: 20px;
	font-weight: normal;
	text-decoration: underline;
	padding-top: 0px;
	padding-bottom: 5px;
	}

.dogodek-publish {
	font-size: 11px;
	font-weight: normal;
	font-style: italic;
	padding-top: 0px;
	padding-bottom: 5px;
	}

.dogodek-content {
	font-size: 12px;
	font-weight: normal;
	padding-top: 0px;
	padding-bottom: 5px;
	padding-right: 10px;
    overflow: hidden;
	}
.dogodek-right {
    float: right;
    width: 350px;
    }
.dogodek-right img {
    display: block;
    margin: 0 auto;
	}
.dogodek-right table {
    margin: 0 auto;
    }
.dogodek-left {
    float: left;
    width: 590px;
    }

.dogodek-tags {
	float: left;
	width: 960px;
	font-size: 12px;
	font-weight: normal;
	padding-top: 15px;
	padding-bottom: 15px;
}


.dogodek-video {
	float: left;
	width: 960px;
	height: 100%;
	text-align: left;
	padding-bottom: 10px;
	padding-top: 10px;
	}

.dogodek-video-title {
	font-size: 16px;
	font-weight: normal;
	text-decoration: underline;
	padding-top: 0px;
	padding-bottom: 15px;
}

.dogodek-video-button {
	padding-left: 50px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
}

.dogodek-related {
	font-size: 12px;
	font-weight: normal;
	padding-top: 5px;
	padding-bottom: 5px;
}

.dogodek-related-title {
	font-size: 14px;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
}


.dogodek-komentarji p {margin:0;}

.title-kom {font-size: 16px; font-weight: bold; padding-bottom: 3px; border-bottom: 1px solid black;}
.errorlist {color: red;}

.komentar-avtor {padding: 3px 0; font-size: 13px; font-style: italic; font-weight: bold;}
.date-kom {font-size: 11px;}
.komentar-vsebina {border-bottom: 1px solid black; padding: 5px 0;}

.dogodek-komentarji {font-size: 14px; clear: both}
.dogodek-komentarji ul {list-style: none; margin: 0;padding: 0;}
.dogodek-komentarji li {margin:0;padding:0;display:block;clear:both;padding:.5em 0;}
.dogodek-komentarji li label {width:12em;display:-moz-inline-box;display:inline-block;vertical-align:top;}
.dogodek-komentarji li.submit input {margin:10px 0 10px 16em;position:relative;left:3px;width:auto;}
label[for=id_honeypot] {display: none;!important} /* TODO: offset */
#id_honeypot {display: none;}

/* End of Dogodek */

/* Listing News */

#news-list p {padding-bottom: 5px; margin: 0;}
#news-list h2 {padding: 0; margin-bottom: 10px;}
#news-list {padding-bottom: 25px;}

/* End Listing News */

/* English news */

#english-news {
	float: left;
	width: 960px;
	height: 100%;
	padding-top: 20px;
	padding-bottom: 25px;
	}

.english-news-title {
	font-size: 16px;
	font-weight: bold;
	padding-top: 0px;
	padding-bottom: 5px;
	}

.english-news-en-title {
	font-size: 20px;
	font-weight: normal;
	text-decoration: underline;
	padding-top: 0px;
	padding-bottom: 5px;
	}

.english-news-publish {
	font-size: 11px;
	font-weight: normal;
	font-style: italic;
	padding-top: 0px;
	padding-bottom: 0px;
	}

.english-news-content {
	font-size: 12px;
	font-weight: normal;
	padding-top: 0px;
	padding-bottom: 25px;
	padding-right: 10px;
	}

.english-news-content img {
	float: right;
	padding-left: 10px;
	padding-bottom: 10px;
	}

/* End of English news */

/* Kiberpipin blog single */

#blog-news {
	float: left;
	width: 960px;
	height: 100%;
	padding-top: 20px;
	padding-bottom: 25px;
	}

.blog-news-title {
	font-size: 16px;
	font-weight: bold;
	padding-top: 0px;
	padding-bottom: 5px;
	}

.blog-news-en-title {
	font-size: 20px;
	font-weight: normal;
	text-decoration: underline;
	padding-top: 0px;
	padding-bottom: 5px;
	}

.blog-news-publish {
	font-size: 11px;
	font-weight: normal;
	font-style: italic;
	padding-top: 0px;
	padding-bottom: 0px;
	}

.blog-news-content {
	font-size: 12px;
	font-weight: normal;
	padding-top: 0px;
	padding-bottom: 25px;
	padding-right: 10px;
	}

.blog-news-content img {
	float: right;
	padding-left: 10px;
	padding-bottom: 10px;
	}

/* End of Kiberpipin blog single */

/* Sponsors */

#sponsors {
	float: left;
	width: 960px;
	height: 100%;
	padding-top: 20px;
	padding-bottom: 25px;
	}

.sponsors-title {
	font-size: 16px;
	font-weight: bold;
	padding-top: 0px;
	padding-bottom: 0px;
	}

.sponsors-content {
	font-size: 14px;
	font-weight: normal;
	padding-top: 0px;
	padding-bottom: 25px;
	padding-right: 10px;
	}

.sponsors-donate {
	font-weight: bold;
	margin-bottom: 10px;
	}

.sponsors-donate-img {
	padding-bottom: 20px;
	}

.sponsors-content img {
	float: right;
	padding-left: 10px;
	padding-bottom: 10px;
	}

.sponsors-left {
	float: left;
	width: 600px;
	height: 100%;
	padding-bottom: 25px;
	}

.sponsors-left-title {
	font-size: 16px;
	font-weight: bold;
	padding-top: 25px;
	padding-bottom: 5px;
	clear:left;
	}

.sponsors-button {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	}

.sponsors-button img {
	border: 1px solid #000;
	}

.sponsors-left-news-title {
	font-size: 12px;
	font-weight: normal;
	text-decoration: underline;
	padding-top: 0px;
	padding-bottom: 5px;
	line-height: 20px;
	}

.sponsors-left-content {
	font-size: 12px;
	font-weight: normal;
	padding-top: 0px;
	padding-bottom: 5px;
	padding-right: 10px;
	}

.sponsors-left-more {
	font-size: 12px;
	font-weight: normal;
	padding-top: 0px;
	padding-bottom: 5px;
	padding-right: 30px;
	float: right;
	}

#sponsors-right {
	float: left;
	width: 200px;
	height: 100%;
	padding-bottom: 25px;
	text-align: right;
	}

.sponsors-right-title {
	font-size: 16px;
	font-weight: bold;
	padding-top: 25px;
	padding-bottom: 5px;
	padding-right: 16px;
	}

.sponsors-right-news-title {
	font-size: 20px;
	font-weight: normal;
	text-decoration: underline;
	padding-top: 0px;
	padding-bottom: 5px;
	}

.sponsors-right-content {
	font-size: 12px;
	font-weight: normal;
	padding-top: 0px;
	padding-bottom: 5px;
	padding-right: 0px;
	}

/* End of Sponsors */

/* Skupnost */

#community {
	float: left;
	width: 960px;
	height: 100%;
	padding-top: 20px;
	padding-bottom: 25px;
	}

.community-title {
	width: 480px;
	font-size: 16px;
	font-weight: bold;
	padding-top: 0px;
	padding-bottom: 0px;
	}

.community-title2 {
	width: 480px;
	font-size: 14px;
	font-weight: bold;
	text-decoration: underline;
	padding-top: 10px;
	padding-bottom: 0px;
	}

.community-text {font-size: 14px; margin: 5px 0 5px 0;}

.community-content {
	width: 960px;
	font-size: 12px;
	font-weight: normal;
	padding-bottom: 25px;
	padding-right: 10px;
	}

.community-person {
	width: 478px;
	float: left;
	padding-top: 10px;
	padding-bottom: 15px;
	min-height: 180px;
}

.community-details {
	font-size: 14px;
	width: 350px;
	padding-left: 20px;
}

.alumni-text {width: 400px; clear: left;}

.sshkey { position: relative; z-index: 1; width: 350px; }

.community-details p {padding: 0; margin: 0;}
.alumni-desc {font-size: 12px; line-height: 18px;}
.alumni-title-p {line-height: 20px; font-weight: bold;}

.community-img-s img {
	width: 20px;
	margin-right: 10px;
	border: 1px solid #000000;
}

.community-content-img {
	width: 80px;
	height: 80px;
	position: relative;
	float: left;
	border: 1px solid black;
	padding: 0;
	margin: 0 10px 10px 0;
}

div.community-content-img img {
	position: absolute;
	clip:rect(0px,80px,80px,0px);
}


/* End of community */

/* RSS seznam */

#rss {
	float: left;
	width: 960px;
	height: 100%;
	padding-top: 20px;
	padding-bottom: 25px;
	}

.rss-news-title {
	font-size: 16px;
	font-weight: bold;
	padding-top: 0px;
	padding-bottom: 5px;
	}

.rss-content {
	font-size: 14px;
	font-weight: normal;
	padding-top: 0px;
	padding-right: 10px;
	}

.rss-content img {
	float: right;
	padding-left: 10px;
	padding-bottom: 10px;
	}

.rss-related {
	font-size: 14px;
	font-weight: normal;
	padding-bottom: 5px;
}

.rss-related li {list-style: none; line-height: 25px;}
.rss-related input {margin-right: 10px;}
.rss-vse {border-top:1px solid #000000; width: 175px;}

.rss-signup {
	font-size: 14px;
	font-weight: bold;
	margin-left: 40px;
}

/* End of RSS seznam */

/* Staticne strani */

#static {
	float: left;
	width: 960px;
	height: 100%;
	padding-top: 20px;
	padding-bottom: 25px;
	}

.static-title {
	font-size: 16px;
	font-weight: bold;
	padding-top: 0px;
	padding-bottom: 5px;
	}

.static-content {
	font-size: 12px;
	font-weight: normal;
	padding-top: 0px;
	padding-bottom: 5px;
	padding-right: 10px;
	}

.static-content img {
	float: right;
	padding-left: 10px;
	padding-bottom: 10px;
	}

.static-related {
	font-size: 12px;
	font-weight: normal;
	padding-top: 5px;
	padding-bottom: 5px;
}

/* End of staticne strani */

/* Koledar */

#koledar {
	float: left;
	width: 960px;
	height: 100%;
	padding-top: 20px;
	padding-bottom: 25px;
	}

.koledar-title-main {
	font-size: 16px;
	padding-top: 0px;
	padding-bottom: 5px;
	}

.koledar-img {
	text-align: right;
	float: right;
	padding-top: 0px;
	padding-bottom: 5px;
	padding-right: 5px;
	font-size: 14px;
	line-height: 16px;
}

#koledar-wrapper {
	float: left;
	width: 880px;
	height: 100%;
	padding-top: 20px;
	padding-bottom: 25px;
	padding-left: 50px;
	}

#koledar-wrapper li {margin-left: -30px; margin-bottom: 5px; list-style: none; padding: 0;}

.koledar-title {
	font-size: 16px;
	float: left;
	text-align: center;
	width: 121px;
	padding: 10px 0 5px 0;
}

.koledar-datumi-wrap {clear: left;}

.koledar-box {
	width: 105px;
	height: 170px;
	overflow: hidden;
	min-height: 170px;
	border: 1px solid #000000;
	float: left;
	padding: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	font-size: 10px;
}

.koledar-box-num {
	float: right;
	font-size: 15px;
	margin-left: 10px;
}

.koledar-today a:link { color: white;}
.koledar-today {
 color: white;
 background-color: #0063FF;
}

/* End of koledar */

/* Galerija */

#galerija {
	float: left;
	width: 960px;
	height: 100%;
	padding-top: 20px;
	padding-bottom: 25px;
	}

.galerija-title {
	width: 870px;
	text-align: right;
	font-size: 14px;
	font-weight: normal;
	padding-top: 0px;
	padding-bottom: 5px;
	margin-right: 90px;
	}

.galerija-nav {
	font-size: 12px;
	font-weight: normal;
	padding-top: 0px;
	padding-bottom: 5px;
	padding-right: 10px;
	margin-left: 75px;
	width: 150px;
	height: 400px;
	border: 1px solid #000000;
	float: left;
	}

.galerija-content {
	width:500px;
	float: left;
	margin-bottom: 10px;
	}

.galerija-content2 {
	width: 600px;
	height: 100%;
	float: left;
	margin-bottom: 10px;
	margin-left: 44px;
	}

.galleria_wrapper img {
	width:500px;
}

.galerija-levo {
	float: left;
	width: 27px;
	height: 200px;
	margin-top: 140px;
	margin-right: 10px;
	margin-left: 10px;
	}

.galerija-desno {
	float: left;
	width: 27px;
	height: 200px;
	margin-top: 140px;
	margin-left: 10px;
	}

.galerija-button {
	border: 1px solid #000000;
	float: left;
	margin-right: 15px;
	margin-left: 6px;
	margin-top: 10px;
	margin-bottom: 20px;
	width:120px;
	height:100px;
	list-style:none;
}

.galerija-button .thumb {
	/*width:120px;*/
}

.galerija-lnav {
	border: 1px solid #000000;
	float: left;
}

/* End of Galerija */

/* Prostori */

.map {
	margin: 20px;
}

/* End of prostori */

/* Footer */

#footer {
	width: 960px;
	height: 100%;
	float: left;
	padding-top: 20px;
	margin-bottom: 10px;
	border-top: 2px solid #000;
	}

.footer-cp-logo {
	width: 153px;
	float: left;
	margin-left: 205px;
	padding-top: 7px;
	}

.footer-text {
	font-size: 12px;
	font-weight: normal;
	padding-top: 0px;
	padding-bottom: 5px;
	padding-right: 10px;
	margin-left: 40px;
	float: left;
	}

.footer-text2 {
	font-size: 12px;
	font-weight: normal;
	padding-top: 0px;
	padding-bottom: 5px;
	padding-right: 10px;
	margin-left: 40px;
	float: left;
	}

.footer-text2 p.italic {padding: 0; margin: 0; font-style: italic; font-weight: bold;}

.footer-text3 {
	font-size: 12px;
	font-weight: normal;
	padding-top: 0px;
	padding-bottom: 5px;
	padding-right: 10px;
	margin-left: 40px;
	float: left;
	}

.footer-support {
	padding-top: 20px;
	clear:left;
	text-align: center;
	position: relative;
	margin: 0 auto;
	}

.footer-support img {margin: 0 10px 0 10px;}
