{% extends "base.html" %}

{% block title %}Kiberpipina zbirka slik{% endblock %}
{% block content %}

{% for gallery in galleries %}
    <div id="gallery_{{ gallery.id }}">
    <img height="150" width="200" border="0" name="photo_j" src="{{ gallery.sample.get_small_url }}"/>
    <a href="/gallery/{{ gallery.id }}/">{{ gallery.title }}</a>            
    <div class="gallery_description">
	    <a href="/gallery/{{ gallery.id }}/">{{ gallery.description }}</a>
    </div>
    </div>
{% endfor %}
 
{% endblock %}
