{% load i18n %}
<!-- highslide -->
<link rel="stylesheet" type="text/css" href="{{ settings.STATIC_URL }}org/css/highslide.css" />
<script type="text/javascript" src="{{ settings.STATIC_URL }}org/js/highslide.js"></script>
<script type="text/javascript">
// unfortunatelly we cant put this in /media/img/ due do highlight.css hardcode.
hs.graphicsDir = '{{ settings.STATIC_URL }}org/css/graphics/'; 
hs.align = 'center';
hs.transitions = ['expand', 'crossfade'];
hs.outlineType = 'rounded-white';
hs.fadeInOut = true;
hs.captionEval = 'this.thumb.alt';

// Add the controlbar
hs.addSlideshow({
	interval: 5000,
	repeat: false,
	useControls: true,
	fixedControls: 'fit',
	overlayOptions: {
		opacity: 0.75,
		position: 'bottom center',
		hideOnMouseOut: true
	}
});
</script>
<!-- /highslide -->

<h1>{% trans "Gallery" %}</h1>
<table>
 {% for image in images %}
	{% if forloop.counter0|divisibleby:"4" %}
  <tr>
	{% endif %}
  <td>
	  <a href="{{ image.url }}" class="highslide" onclick="return hs.expand(this)">
			<img src="{{ image.thumb_url }}" alt="{{ image.title }}" title="{{ image.title }}" />
		</a>
	</td>
	{% if forloop.counter|divisibleby:"4" %}
	</tr>
	{% endif %}
 {% endfor %}
</table>
