/* Kiberpipa CSS */

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #fff; 
	color: #000; 
	padding: 0; 
	margin: 0; 
	text-align: center;
	}

a img {border: none;}
	
#container {
	background: #fff; 
	width: 960px;
	text-align: left;
  	margin-left: auto;
 	margin-right: auto;
	}
	
/* Header styling */
	
#header {
	width: 960px;
	height: 60px;
	border-bottom: 2px solid #000;
	}
	
.header-logo {
	width: 153px;
	height: 45px;
	padding-top: 8px;
	padding-left: 10px;
	float: left;
	}
	
.primary-nav {
	float:left; 
	width: 330px; 
	padding-top: 26px; 
	padding-left: 200px;
	color: #000;
	}
		
.searchbox {
	float:left; 
	width: 70px; 
	padding-top: 15px; 
	padding-left: 15px;
	background: #fff; 
	}

.searchbox-form {
	margin: 5px 10px 5px 10px;
	}
	
.language {
	padding-top: 26px;
	padding-right: 5px;
	float: right;
	}
	
/* End of header styling*/

/* Upcoming and notifier ala 3 slikice, ki se izmenjujejo */

#upcoming {
	width: 960px;
	height: 334px;
	}
	
.next3 {
	width: 960px;
	height: 274px;
	padding-top: 60px;
	padding-left: 10px;
	}
	
.past {
	float: left;
	width: 27px;
	height: 171px;
	padding-top: 105px;
	}
	
.present {
	float: left;
	width: 888px;
	height: 274px;
	}


.present-event-text {
  width: 270px;
  }

	
.present-now {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	}
	
.present-now img {
	border: 1px solid #000;
	}
	
.present-now2 {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	}
	
.present-now2 img {
	border: 1px solid #000;
	}

.present-now3 {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	}
	
.present-now3 img {
	border: 1px solid #000;
	}
	
.future {
	float: left;
	width: 27px;
	height: 171px;
	padding-top: 105px;
	}
	
#notifier {
	width: 960px;
	height: 260px;
	padding-left: 80px;
	}
	
.button-chamber {	
	float: left;
	width: 450px;
	height: 200px;
	padding-top: 60px;
	}
	
.gallery {
	float: left;
	width: 100px;
	height: 67px;
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	}
	
.gallery-button {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	}
	
.gallery-button img {
	border: 1px solid #000;
	}
	
.gallery-button2 {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	}

.gallery-button2 img {
	border: 1px solid #000;
	}
	
.gallery-button3 {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	}
	
.gallery-button3 img {
	border: 1px solid #000;
	}
	
.video {
	float: left;
	width: 100px;
	height: 67px;
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	}
	
.video-button {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	}
	
.video-button img {
	border: 1px solid #000;
	}
	
.video-button2 {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	}
	
.video-button2 img {
	border: 1px solid #000;
	}
	
.video-button3 {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	}
	
.video-button3 img {
	border: 1px solid #000;
	}
	
.notifier-chamber {	
	float: left;
	width: 350px;
	height: 200px;
	padding-top: 70px;
	}
	
.notifier-chamber img {
	border: 1px solid #000;
	}
	
/* End of upcoming and notifier */
	
/* Secondary navigation */

#second-nav {
	float:left; 
	width: 960px;
	height: 20px;
	padding-bottom: 20px;
	text-align: center;
	color: #000;
	}
	
/* End of secondary navigation */

/* Kiberpipin blog in Planet */

#blog-cp {
	float: left;
	width: 480px;
	height: 100%;
	padding-bottom: 25px;
	}
	
.blog-cp-title {
	font-size: 16px;
	font-weight: bold;
	padding-top: 25px;
	padding-bottom: 5px;
	}
	
.blog-cp-news-title {
	font-size: 20px;
	font-weight: normal;
	text-decoration: underline;
	padding-top: 0px;
	padding-bottom: 5px;
	}
	
.blog-cp-publish {
	font-size: 11px;
	font-weight: normal;
	font-style: italic;
	padding-top: 0px;
	padding-bottom: 5px;
	}
	
.blog-cp-content {
	font-size: 12px;
	font-weight: normal;
	padding-top: 0px;
	padding-bottom: 5px;
	padding-right: 10px;
	}
	
.blog-cp-more {
	font-size: 12px;
	font-weight: normal;
	padding-top: 0px;
	padding-bottom: 5px;
	padding-right: 10px;
	float: right;
	}
	
#planet {
	float: left;
	width: 480px;
	height: 100%;
	padding-bottom: 25px;
	}
	
.planet-title {
	font-size: 16px;
	font-weight: bold;
	padding-top: 25px;
	padding-bottom: 5px;
	}

.planet-news-title {
	font-size: 20px;
	font-weight: normal;
	text-decoration: underline;
	padding-top: 0px;
	padding-bottom: 5px;
	}
	
.planet-publish {
	font-size: 11px;
	font-weight: normal;
	font-style: italic;
	padding-top: 0px;
	padding-bottom: 5px;
	}
	
.planet-content {
	font-size: 12px;
	font-weight: normal;
	padding-top: 0px;
	padding-bottom: 5px;
	padding-right: 10px;
	}
	
.planet-more {
	font-size: 12px;
	font-weight: normal;
	padding-top: 0px;
	padding-bottom: 5px;
	padding-right: 10px;
	float: right;
	}

/* End of Kiberpipin blog in Planet */

/* O nas */

#kiberpipa {
	float: left;
	width: 480px;
	height: 100%;
	padding-bottom: 25px;
	}
	
.kiberpipa-title {
	font-size: 16px;
	font-weight: bold;
	padding-top: 25px;
	padding-bottom: 5px;
	}
	
.kiberpipa-news-title {
	font-size: 20px;
	font-weight: normal;
	text-decoration: underline;
	padding-top: 0px;
	padding-bottom: 5px;
	}
	
.kiberpipa-content {
	font-size: 12px;
	font-weight: normal;
	padding-top: 0px;
	padding-bottom: 5px;
	padding-right: 10px;
	}

.kiberpipa-content p {margin-top: 0;}
	
#projekti {
	float: left;
	width: 480px;
	height: 100%;
	padding-bottom: 25px;
	}
	
.projekti-title {
	font-size: 16px;
	font-weight: bold;
	padding-top: 25px;
	padding-bottom: 5px;
	}

.projekti-news-title {
	font-size: 20px;
	font-weight: normal;
	text-decoration: underline;
	padding-top: 0px;
	padding-bottom: 5px;
	}
		
.projekti-content {
	font-size: 12px;
	font-weight: normal;
	padding-top: 0px;
	padding-bottom: 5px;
	padding-right: 10px;
	}

.projekti-content p {margin-top: 0;}
	
/* End of O nas */

/* Press */

.kiberpipa-press {
	float: left;
	width: 400px;
	height: 100%;
	padding-bottom: 25px;
	}
	
.kiberpipa-press-title {
	font-size: 16px;
	font-weight: bold;
	padding-top: 25px;
	padding-bottom: 5px;
	}
	
.kiberpipa-press-news-title {
	font-size: 12px;
	font-weight: normal;
	text-decoration: underline;
	padding-top: 0px;
	padding-bottom: 5px;
	line-height: 20px;
	}
	
.kiberpipa-press-content {
	font-size: 12px;
	font-weight: normal;
	padding-top: 0px;
	padding-bottom: 5px;
	padding-right: 10px;
	}
	
.kiberpipa-press-more {
	font-size: 12px;
	font-weight: normal;
	padding-top: 0px;
	padding-bottom: 5px;
	padding-right: 30px;
	float: right;
	}
	
#press-kit {
	float: left;
	width: 400px;
	height: 100%;
	padding-bottom: 25px;
	}
	
.press-kit-title {
	font-size: 16px;
	font-weight: bold;
	padding-top: 25px;
	padding-bottom: 5px;
	}

.press-kit-news-title {
	font-size: 20px;
	font-weight: normal;
	text-decoration: underline;
	padding-top: 0px;
	padding-bottom: 5px;
	}
		
.press-kit-content {
	font-size: 12px;
	font-weight: normal;
	padding-top: 0px;
	padding-bottom: 5px;
	padding-right: 10px;
	}
	
/* Dogodek */

#dogodek {
	float: left;
	width: 960px;
	height: 100%;
	padding-top: 20px;
	padding-bottom: 25px;
	}
		
.dogodek-news-title {
	font-size: 20px;
	font-weight: normal;
	text-decoration: underline;
	padding-top: 0px;
	padding-bottom: 5px;
	}
	
.dogodek-publish {
	font-size: 11px;
	font-weight: normal;
	font-style: italic;
	padding-top: 0px;
	padding-bottom: 5px;
	}
	
.dogodek-content {
	font-size: 12px;
	font-weight: normal;
	padding-top: 0px;
	padding-bottom: 5px;
	padding-right: 10px;
	}
	
.dogodek-content img {
	float: right;
	padding-left: 10px;
	padding-bottom: 10px;
	}
	
.dogodek-tags {
	float: left;
	width: 960px;
	font-size: 12px;
	font-weight: normal;
	padding-top: 15px;
	padding-bottom: 15px;
}

.dogodek-gallery {
	float: left;
	width: 960px;
	height: 100%;
	text-align: left;
	padding-bottom: 10px;
	padding-top: 10px;
	}
	
.dogodek-gallery-title {
	font-size: 16px;
	font-weight: normal;
	text-decoration: underline;
	padding-top: 0px;
	padding-bottom: 15px;
}
	
.dogodek-gallery-button {
	float: left;
	padding-left: 50px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	}
	
.dogodek-gallery-button2 {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	}
	
.dogodek-gallery-button3 {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	}
	
.dogodek-gallery-button4 {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	}
	
.dogodek-gallery-button5 {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	}
	
.dogodek-gallery img {
	border: 1px solid #000;
	}
	
.dogodek-gallery-more {
	font-size: 12px;
	font-weight: normal;
	padding-top: 0px;
	padding-bottom: 5px;
	padding-right: 10px;
	float: right;
	}
	
.dogodek-video {
	float: left;
	width: 960px;
	height: 100%;
	text-align: left;
	padding-bottom: 10px;
	padding-top: 10px;
	}
	
.dogodek-video-title {
	font-size: 16px;
	font-weight: normal;
	text-decoration: underline;
	padding-top: 0px;
	padding-bottom: 15px;
}
	
.dogodek-video-button {
	float: left;
	padding-left: 50px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	}
	
.dogodek-video-button2 {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	}
	
.dogodek-video-button3 {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	}
	
.dogodek-video-button4 {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	}
	
.dogodek-video-button5 {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	}
	
.dogodek-video img {
	border: 1px solid #000;
	}
	
.dogodek-related {
	font-size: 12px;
	font-weight: normal;
	padding-top: 5px;
	padding-bottom: 5px;
}

.dogodek-related-title {
	font-size: 14px;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
}

/* End of Dogodek */

/* English news */

#english-news {
	float: left;
	width: 960px;
	height: 100%;
	padding-top: 20px;
	padding-bottom: 25px;
	}
	
.english-news-title {
	font-size: 16px;
	font-weight: bold;
	padding-top: 0px;
	padding-bottom: 5px;
	}
		
.english-news-en-title {
	font-size: 20px;
	font-weight: normal;
	text-decoration: underline;
	padding-top: 0px;
	padding-bottom: 5px;
	}
	
.english-news-publish {
	font-size: 11px;
	font-weight: normal;
	font-style: italic;
	padding-top: 0px;
	padding-bottom: 0px;
	}
	
.english-news-content {
	font-size: 12px;
	font-weight: normal;
	padding-top: 0px;
	padding-bottom: 25px;
	padding-right: 10px;
	}
	
.english-news-content img {
	float: right;
	padding-left: 10px;
	padding-bottom: 10px;
	}
	
/* End of English news */

/* Kiberpipin blog single */

#blog-news {
	float: left;
	width: 960px;
	height: 100%;
	padding-top: 20px;
	padding-bottom: 25px;
	}
	
.blog-news-title {
	font-size: 16px;
	font-weight: bold;
	padding-top: 0px;
	padding-bottom: 5px;
	}
		
.blog-news-en-title {
	font-size: 20px;
	font-weight: normal;
	text-decoration: underline;
	padding-top: 0px;
	padding-bottom: 5px;
	}
	
.blog-news-publish {
	font-size: 11px;
	font-weight: normal;
	font-style: italic;
	padding-top: 0px;
	padding-bottom: 0px;
	}
	
.blog-news-content {
	font-size: 12px;
	font-weight: normal;
	padding-top: 0px;
	padding-bottom: 25px;
	padding-right: 10px;
	}
	
.blog-news-content img {
	float: right;
	padding-left: 10px;
	padding-bottom: 10px;
	}
	
/* End of Kiberpipin blog single */

/* Sponsors */

#sponsors {
	float: left;
	width: 960px;
	height: 100%;
	padding-top: 20px;
	padding-bottom: 25px;
	}
	
.sponsors-title {
	font-size: 16px;
	font-weight: bold;
	padding-top: 0px;
	padding-bottom: 0px;
	}
	
.sponsors-content {
	font-size: 12px;
	font-weight: normal;
	padding-top: 0px;
	padding-bottom: 25px;
	padding-right: 10px;
	}
	
.sponsors-content img {
	float: right;
	padding-left: 10px;
	padding-bottom: 10px;
	}
	
.sponsors-left {
	float: left;
	width: 400px;
	height: 100%;
	padding-bottom: 25px;
	}
	
.sponsors-left-title {
	font-size: 16px;
	font-weight: bold;
	padding-top: 25px;
	padding-bottom: 5px;
	}
		
.sponsors-button {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	}
	
.sponsors-button img {
	border: 1px solid #000;
	}
		
.sponsors-left-news-title {
	font-size: 12px;
	font-weight: normal;
	text-decoration: underline;
	padding-top: 0px;
	padding-bottom: 5px;
	line-height: 20px;
	}
	
.sponsors-left-content {
	font-size: 12px;
	font-weight: normal;
	padding-top: 0px;
	padding-bottom: 5px;
	padding-right: 10px;
	}
	
.sponsors-left-more {
	font-size: 12px;
	font-weight: normal;
	padding-top: 0px;
	padding-bottom: 5px;
	padding-right: 30px;
	float: right;
	}
	
#sponsors-right {
	float: left;
	width: 400px;
	height: 100%;
	padding-bottom: 25px;
	text-align: right;
	}
	
.sponsors-right-title {
	font-size: 16px;
	font-weight: bold;
	padding-top: 25px;
	padding-bottom: 5px;
	padding-right: 16px;
	}

.sponsors-right-news-title {
	font-size: 20px;
	font-weight: normal;
	text-decoration: underline;
	padding-top: 0px;
	padding-bottom: 5px;
	}
		
.sponsors-right-content {
	font-size: 12px;
	font-weight: normal;
	padding-top: 0px;
	padding-bottom: 5px;
	padding-right: 0px;
	}
	
/* End of Sponsors */

/* Skupnost */

#community {
	float: left;
	width: 960px;
	height: 100%;
	padding-top: 20px;
	padding-bottom: 25px;
	}
	
.community-title {
	width: 480px;
	font-size: 16px;
	font-weight: bold;
	padding-top: 0px;
	padding-bottom: 0px;
	}
	
.community-title2 {
	width: 480px;
	font-size: 14px;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 0px;
	}
	
.community-content {
	width: 960px;
	font-size: 12px;
	font-weight: normal;
	padding-bottom: 25px;
	padding-right: 10px;
	}
	
.community-person {
	width: 480px;
	float: left;
	padding-top: 10px;
	padding-bottom: 25px;
}

.community-details {
	font-size: 14px;
	float: left;
	width: 320px;
	padding-top: 0px;
	padding-bottom: 25px;
	padding-left: 20px;
}

.community-img-s {
	width: 40px;
	float: left;
	margin-left: 20px;
	border: 1px solid #000000;
}
	
.community-content-img {
	width: 124px;
	float: left;
	border: 1px solid #000000;
	padding: 0;
	}
	
/* End of community */

/* RSS seznam */

#rss {
	float: left;
	width: 960px;
	height: 100%;
	padding-top: 20px;
	padding-bottom: 25px;
	}
		
.rss-news-title {
	font-size: 16px;
	font-weight: bold;
	padding-top: 0px;
	padding-bottom: 5px;
	}
		
.rss-content {
	font-size: 12px;
	font-weight: normal;
	padding-top: 0px;
	padding-bottom: 5px;
	padding-right: 10px;
	}
	
.rss-content img {
	float: right;
	padding-left: 10px;
	padding-bottom: 10px;
	}
	
.rss-related {
	font-size: 12px;
	font-weight: normal;
	padding-top: 5px;
	padding-bottom: 5px;
}

.rss-signup {
	font-size: 14px;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
}
	
/* End of RSS seznam */

/* Staticne strani */

#static {
	float: left;
	width: 960px;
	height: 100%;
	padding-top: 20px;
	padding-bottom: 25px;
	}
		
.static-title {
	font-size: 16px;
	font-weight: bold;
	padding-top: 0px;
	padding-bottom: 5px;
	}
		
.static-content {
	font-size: 12px;
	font-weight: normal;
	padding-top: 0px;
	padding-bottom: 5px;
	padding-right: 10px;
	}
	
.static-content img {
	float: right;
	padding-left: 10px;
	padding-bottom: 10px;
	}
	
.static-related {
	font-size: 12px;
	font-weight: normal;
	padding-top: 5px;
	padding-bottom: 5px;
}

/* End of staticne strani */

/* Footer */

#footer {
	width: 960px;
	height: 100%;
	float: left;
	padding-top: 20px;
	margin-bottom: 10px;
	border-top: 2px solid #000;
	}
	
.footer-cp-logo {
	width: 153px;
	float: left;
	margin-left: 205px;
	padding-top: 7px;
	}
	
.footer-text {
	font-size: 12px;
	font-weight: normal;
	padding-top: 0px;
	padding-bottom: 5px;
	padding-right: 10px;
	margin-left: 40px;
	float: left;
	}
	
.footer-text2 {
	font-size: 12px;
	font-weight: normal;
	padding-top: 0px;
	padding-bottom: 5px;
	padding-right: 10px;
	margin-left: 40px;
	float: left;
	}

.footer-text2 p.italic {padding: 0; margin: 0; font-style: italic; font-weight: bold;}
	
.footer-text3 {
	font-size: 12px;
	font-weight: normal;
	padding-top: 0px;
	padding-bottom: 5px;
	padding-right: 10px;
	margin-left: 40px;
	float: left;
	}
		
.footer-support {
	padding-top: 20px;
	clear:left;
	text-align: center;
	position: relative;
	margin: 0 auto;
	}

.footer-support img {margin: 0 10px 0 10px;}