{% extends 'wiki/base.html' %}

{% load wiki %}

{% block content-main %}
    <a href="../../">Index</a>
    <b>{% for parent in parents %}
        <a href="../../{{ parent.id }}/new/">{{ parent }}</a> -->
    {% endfor %}
    {{ article.title }}</b>
    <br><br>

    {% autoescape off %}
	   {% comment %} {{ article.content|escape|wikiwordfy|wikify|linebreaks }} {% endcomment %}
	   {{ article.content|mw }}
    {% endautoescape %}
{% endblock %}


{% block footer %}
		<a href="edit/">Edit this article</a>
        |
        <a href="history/">Editing history</a>
{% endblock %}
