<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

{% load videotags %}

<html>
    <head>
        <title>Kiberpipin video arhiv</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <style type="text/css">
            @import url("http://video.kiberpipa.org/styles/screen.css");
        </style>
    </head>
<body>

<div id="ooocon_container">

    <div id="ooocon_header">
        {% block header %}
            <a href="/video3/">
                <img src="http://video.kiberpipa.org/images/arhiv_logo.gif" alt="Kiberpipin video arhiv" style="border-style: none" class="logo"/>
                </a>
        {% endblock %}
        <div id="ooocon_header_desc">
        </div>
    </div>

    <div id="ooocon_header_nav">
        {% video_box_list VideoCategory "" "" %}
    </div>

    <div class="entry">
        <div id="ooocon_content">

            <div id="frontpage">
                <p>{% block extrainfo %}
<b>Kiberpipin videoarhiv</b> je kategorizirana zbirka videoposnetkov iz
dejavnosti Kiberpipe od leta 2001; Trenutno jih je v arhivu blizu 130.</p>
<p>Spodaj so zbrani zadnji, posebni, pozabljeni .. posnetki, ki si po
mnenju uredništva zaslužijo posebno pozornost. Vse ostale videoposnetke
najdete v zgoraj naštetih kategorijah.
<p>Za predvajanje posnetkov priporočamo
<a href="http://www.videolan.org">VideoLAN Client</a>
(Linux, Mac OS X, Windows).</p>
<p>Komentarji, pripombe, predlogi so dobrodošli na <a
href="mailto:info@kiberpipa.org">info@kiberpipa.org</a>.
                {% endblock %}</p>
            </div>

        <div id="videos">
            {% block videos %}{% endblock %}
        </div>
    </div>

    <div id="ooocon_footer">
<!-- Creative Commons License -->
<a rel="license" href="http://creativecommons.org/licenses/by/2.5/"><img alt="Creative Commons License" style="border: medium none ;" src="Datoteke_za_Kiberpipin%20video%20arhiv%20-%20index/somerights20.png"></a><br>
Vsebina je na voljo pod licenco<br> <a rel="license" href="http://creativecommons.org/licenses/by/2.5/">Creative
Commons Attribution 2.5 License</a>.
<!-- /Creative Commons License -->
    </div>

</div>

</body>
</html>
