/* Kiberpipa CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	vertical-align: baseline;
	line-height: 18px;
	
}

h3  {
letter-spacing: -0.5px;
}

html, body {
	height: 1780px; /* needed for container min-height */
	
	
	font-family: Helvetica, Arial, sans-serif;
	background-color: white; 
	color: #333333; 
	padding: 0px; 
	margin: 0px; 
	text-align: center;

	}

a {
  text-decoration: none;
  color: #FF6F14;
}

.orange {
  color: #FF6F14;
}

.blue {
  color: #0063FF;
}

.grey {
  color: #333333;
}

span.bold {
font-weight: bold;
}

.container  {
  position:relative; /* needed for footer positioning*/
	margin:0 auto; /* center, not in IE5 */
	width:992px;
		height:auto !important; /* real browsers */
	height:100%; /* IE6: treaded as min-height*/

	min-height:100%; /* real browsers */


  text-align: left;
  background-image: url('background.png');
  background-repeat: repeat-y;
}

.neki {
  width: 992px;
  float: left;
  
  }

.logo-background {
  float: left;
  overflow: visible;
  margin-top: 16px;
  margin-left: 32px;
  width: 208px;
  height: 32px;
  background-color: #0063FF;
  
}

.pipalogo {
  float: left;
  margin-left: 19px;
}

.logo-background h1 {
  font-size: 30px;
  padding-left: 78px;
  font-weight: 400;
  color: white;
  line-height: 44px;
}

.logo-picture  {
  position: absolute;
  left: 19px;
  height: 40px;
  width: 53px;
  background-image: url('images/logo.png');
}

.logo2-background {
  float: left;
  margin-top: 16px;
  display: block;
  margin-left: 25px;
  width: 608px;
  height: 32px;
  background-color: #FF6F14;
}

.logo2-background h2 {
  font-size: 32px;
  padding-left: 1px;
  font-weight: bold;
  color: white;
  line-height: 40px;
  letter-spacing: -1px;
}


.lang {
  margin-top: 32px;
  margin-left: 896px;
  width: 64px;
  height: 16px;
  background-color: #f0f6ff;
}

.lang p {
  font-size: 12px;
  padding-left: 1px;
  font-weight: bold;
  line-height: 22px;
}

.poglejSi {
  margin-top: 16px;
  margin-left: 568px;
  width: 392px;
  height: 16px;
  background-color: #f0f6ff;
}

.poglejSi p {
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
  letter-spacing: -1px;
}

.underworld {
  margin-top: 48px;
  margin-left: 64px;
  width: 504px;
  height: 32px;
  background-color: #0063FF;
}

.underworld h2 {
  font-size: 32px;
  padding-left: 80px;
  font-weight: bold;
  color: white;
  line-height: 42px;
  letter-spacing: -1px;
}

.trans1 {
  float: left;
  margin-top: 8px;
  margin-left: 96px;
  width: 16px;
  height: 57px;
  background-color: #FFD4B8;
}

.trans1Text {
  float: left;
  margin-top: 8px;
  margin-left: 0px;
  width: 752px;
  height: 57px;
  background-color: #f0f6ff;
}

.trans1Text p {
  width: 704px;
  font-size: 10px;
  padding-left: 31px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-weight: bold;
  color: black;
}

.pic  {
  width: 819px;
  display: block;
  height: 128px;
  text-align: center;
  margin-top: 80px;
  margin-left: 128px;
  }

.pics {
  float: left;
  padding-right: 17px;
  padding-left: 17px;
  }
  
.puscica-levo {
  float: left;
  margin-top: -3px;
  margin-left: 80px;
  width: 32px;
  height: 153px;
  background-color: #FFD4B8;
}

.puscica-levo img {
width: 18px;
margin-top: 8px;
margin-left: 6px;
}

.trans2Background {
  width: 848px;
  height: 153px;
  margin-top: 0px;
  margin-left: 112px;
  background-color: #f0f6ff;
}

.trans2Okvir {
  width: 819px;
  display: block;
  height: 153px;
  text-align: center;
  margin-top: 0px;
  margin-left: 16px;
}

.trans2Vsebina {
  float: left;
  width: 239px;
  padding-right: 17px;
  padding-left: 17px;
  text-align: left;
  }

.trans2Vsebina span {
  font-size: 11px;
  line-height: 9px;
}

.trans2Vsebina p {
  font-size: 11px;
  line-height: 18px;
}

.trans2Vsebina h3 {
  font-size: 18px;
  color: #FF6F14;
  font-weight: bolder;
  margin-top: 10px;
}

.puscica-desno {
  float: right;
  margin-top: -153px;
  margin-left: 0px;
  width: 32px;
  height: 144px;
  background-color: #0063FF;
}

.puscica-desno img {
width: 18px;
margin-top: 8px;
margin-left: 6px;
}

.linkbarBlue  {
  float: left;
  overflow: visible;
  margin-top: 63px;
  margin-left: 32px;
  width: 352px;
  height: 32px;
  background-color: #0063FF;
  z-index: 10;
}

.linkbarBlue h2 {
  font-size: 28px;
  padding-left: 1px;
  padding-top: 4px;
  margin-left: 1px;
  font-weight: bold;
  margin-left: 80px;
  color: #333333;
  z-index: 10;
}

.linkbarOrange  {
  float: left;
  overflow: visible;
  margin-top: 63px;
  margin-left: 0px;
  width: 576px;
  height: 32px;
  background-color: #FF6F14;
}

.links  {
  float: right;
  overflow: visible;
  margin-top: 0px;
  margin-right: 32px;
  width: 825px;
  height: 32px;
  background-color: #f0f6ff;
  z-index: -10;
}

.links p  {
  margin-top: 8px;
  font-size: 24px;
  font-weight: bold;
  z-index: -10;
}

.middleLeft  {
  float: left;
  margin-top: 63px;
  margin-left: 64px;
  width: 432px;
  height: 206px;
}

.middleSpacer {
  height: 17px;
}

.middle {
  width: 432px;
  display: block;
  height: 95px;
  text-align: center;
  margin-top: 0px;
  margin-left: 0px;
}

.middleLeftOrange  {
position: absolute;
margin-left: 416px;
width: 15px;
height: 16px;
background-color: #FF6F14;
}

.middleModra  {
width: 432px;
height: 17px;
background-color: #0063FF;
}

.middleModra p {
  float: left;
  color: white;
  margin-left: 80px;
  font-weight: bold;
  margin-top: 1px;
}

.middlePic  {
  width: 320px;
  display: block;
  height: 50px;
  text-align: center;
  margin-top: 7px;
  margin-left: 73px;
  }

.middlePics {
  float: left;
  padding-right: 7px;
  padding-left: 7px;
  }
  
.trans3Levo {
  float: left;
  margin-top: -5px;
  margin-left: 32px;
  width: 16px;
  height: 24px;
  background-color: #FFD4B8;
}

.trans3Desno {
  float: left;
  margin-top: -5px;
  margin-left: 0px;
  width: 338px;
  height: 24px;
  background-color: #f0f6ff;
}

.trans3Desno span {
  font-size: 10px;
  font-weight: bold;
}

.middleRight  {
  float: left;
  margin-top: 80px;
  margin-left: -1px;
  width: 465px;
  height: auto;
}

.middleRightNaslov  {
  height: 16px;
  background-color: #FF6F14;
}

.middleRightNaslov p  {
  color: white;
  float: left;
  font-weight: bold;
  margin-left: 34px;
}

.middleRightOkvir {
  float: right;
  margin-top: 7px;
  width: 432px;
  height: 80px;
  background-color: #f0f6ff;
  }
  
.middleRightOkvir h3  {
  color: #0063FF;
  font-weight: bolder;
  margin-top: 4px;
}

.middleRightOkvir p {
  font-size: 10px;
}

.oglasnaLeft  {
  float: left;
  margin-top: 67px;
  margin-left: 64px;
  width: 466px;
  height: auto;
}

.oglasnaModra  {
width: 464px;
height: 32px;
background-color: #0063FF;
}

.oglasnaModra p {
  font-size: 32px;
  color: white;
  font-weight: bold;
  margin-left: 54px;
  padding-top: 1px;
}

.oglasnaRight  {
  float: left;
  margin-top: 99px;
  margin-left: 0px;
  width: 430px;
  height: auto;
}

.oglasnaOrange  {
height: 32px;
background-color: #FF6F14;
}

.oglasnaOrange p {
  font-size: 32px;
  color: white;
  font-weight: bold;
  margin-left: -2px;
  padding-top: 1px;
}

.oglasnaLeftOkvir {
  float: left;
  margin-top: 9px;
  margin-left: 40px;
  width: 392px;
  height: auto;
  background-color: #f0f6ff;
  }
  
  .oglasnaTrans1 {
  float: left;
  width: 9px;
  height: 100%;
  background-color: #FFD4B8;
  margin-left: -1px;
  }
  
.oglasnaText  {
  float: left;
  margin-left: 42px;
  width: 344px;
  margin-right: 5px;
  height: auto;
  margin-top: 5px;
 }
  
.oglasnaText h3  {
color: #FF6F14;
font-size: 18px;
font-weight: bolder;
}

.oglasnaText  h4{
  font-size: 8px;
  margin-top: 4px;
  color: #999999;
}

.oglasnaText  p{
  font-size: 12px;
  margin-top: 4px;
}

  .oglasnaRightOkvir {
  float: right;
  margin-top: 9px;
  width: 432px;
  height: 100px;
  background-color: #f0f6ff;
  }
  
.oglasnaRightOkvir  h3{
  margin-top: 5px;
  color: #FF6F14;
  font-weight: bolder;
}  

.oglasnaRightOkvir  h4{
  font-size: 8px;
  margin-top: 4px;
  color: #999999;
}

.oglasnaRightOkvir  p{
  font-size: 12px;
  margin-top: 4px;
}

.oglasnaLeftOrange  {
position: absolute;
margin-left: 448px;
width: 18px;
height: 32px;
background-color: #FF6F14;
}

.linkbarBlue2  {
  float: left;
  overflow: visible;
  margin-top: 63px;
  margin-left: 32px;
  width: 792px;
  height: 32px;
  background-color: #0063FF;
}

.linkbarBlue2 span {
  float: left;
  font-size: 30px;
  font-weight: bold;
  margin-top: 1px;
  margin-left: 9px;
}

.linkbarOrange2  {
  float: left;
  overflow: visible;
  margin-top: 63px;
  margin-left: 0px;
  width: 136px;
  height: 32px;
  background-color: #FF6F14;
}

.links2  {
float: right;
  overflow: visible;
  margin-top: 0px;
  margin-right: 32px;
  width: 815px;
  height: 64px;
  background-color: #f0f6ff;
}

.links2 span {
  font-size: 20px;
  font-weight: bolder;
  padding-top: 10px;
  float: left;
}

.links3  {
float: right;
  overflow: visible;
  margin-top: 8px;
  margin-right: 32px;
  width: 815px;
  height: 40px;
  background-color: #f0f6ff;
}