{% extends "org/base_3col.html" %}

{% block content-related-left %}
  <div class="module" id="recent-actions-module">
  </div>
{% endblock %}

{% block content-main %}
<div class="module">
<h2>Predogled komentarja</h2>
<form action="../post/" method="post">
{% if comment_form.has_errors %}
    <p><strong style="color: red;">Popravi napake.</strong></p>
{% else %}
    <div class="comment">
    {{ comment.comment|escape|urlizetrunc:"40"|linebreaks }}
    <p>Spisal <strong>{{ comment.user.username }}</strong></p>
    </div>

    <p><input type="submit" name="post" value="Objavi" /></p>

    <h2>Preuredi</h2>
{% endif %}

{% if comment_form.comment.errors %}
{{ comment_form.comment.html_error_list }}
{% endif %}

<p><label for="id_person_name">Komentar</label><br />{{ comment_form.comment }}</p>
<input type="hidden" name="options" value="{{ options }}" />
<input type="hidden" name="target" value="{{ target }}" />
<input type="hidden" name="gonzo" value="{{ hash }}" />
<p><input type="submit" name="preview" value="Predogled popravka" /></p>
</form>
</div>
{% endblock %}
