<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="sl" >
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{% block title %}Imenik slovenske tehnološke umetnosti{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{{ media_url }}/artech.css" />
    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="{{ media_url }}/js/core.js"></script>
    <script type="text/javascript" src="{{ media_url }}/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="{{ media_url }}/js/calendar.js"></script>
    <script type="text/javascript" src="{{ media_url }}/js/admin/DateTimeShortcuts.js"></script>
<!--[if gte IE 5.5000]>
<script language="JavaScript">
function correctPNG() // correctly handle PNG transparency in Win IE 5.5 or higher.
   {
   for(var i=0; i<document.images.length; i++)
      {
          var img = document.images[i]
          var imgName = img.src.toUpperCase()
          if (imgName.substring(imgName.length-3, imgName.length) == "PNG")
             {
                 var imgID = (img.id) ? "id='" + img.id + "' " : ""
                 var imgClass = (img.className) ? "class='" + img.className + "' " : ""
                 var imgTitle = (img.title) ? "title='" + img.title + "' " : "title='" + img.alt + "' "
                 var imgStyle = "display:inline-block;" + img.style.cssText
                 if (img.align == "left") imgStyle = "float:left;" + imgStyle
                 if (img.align == "right") imgStyle = "float:right;" + imgStyle
                 if (img.parentElement.href) imgStyle = "cursor:hand;" + imgStyle
                 var strNewHTML = "<span " + imgID + imgClass + imgTitle
                 + " style=\"" + "width:" + img.width + "px; height:" + img.height + "px;" + imgStyle + ";"
             + "filter:progid:DXImageTransform.Microsoft.AlphaImageLoader"
                 + "(src=\'" + img.src + "\', sizingMethod='scale');\"></span>"
                 img.outerHTML = strNewHTML
                 i = i-1
             }
      }
   }
window.attachEvent("onload", correctPNG);
</script>
<![endif]-->
    {% block extrahead %}{% endblock %}
</head>
<body >

	<ul id="mainmenu">
		<li>{% block pink_home %}
				<a id="domov" href="/slotechart">&nbsp;</a>
			{% endblock %}
		</li>
		<li>{% ifequal menu "avtorji" %}
				<a id="avtorjiakt" href="/slotechart/umetniki/">&nbsp;</a>
			{% else %}
				<a id="avtorji" href="/slotechart/umetniki/">&nbsp;</a>
			{% endifequal %}
		</li>
		<li>{% ifequal menu "galerije" %}
				<a id="galerijeakt" href="/slotechart/galerije/">&nbsp;</a>
			{% else %}
				<a id="galerije" href="/slotechart/galerije/">&nbsp;</a>
			{% endifequal %}
		</li>
		<li>{% ifequal menu "producenti" %}
				<a id="producentiakt" href="/slotechart/producenti/">&nbsp;</a>
			{% else %}
				<a id="producenti" href="/slotechart/producenti/">&nbsp;</a>
			{% endifequal %}
		</li>
		<li>{% ifequal menu "festivali" %}
				<a id="festivaliakt" href="/slotechart/festivali/">&nbsp;</a>
			{% else %}
				<a id="festivali" href="/slotechart/festivali/">&nbsp;</a>
			{% endifequal %}
		</li>
		<li>{% ifequal menu "nagrade" %}
				<a id="nagradeakt" href="/slotechart/nagrade/">&nbsp;</a>
			{% else %}
				<a id="nagrade" href="/slotechart/nagrade/">&nbsp;</a>
			{% endifequal %}
		</li>
		<li>{% ifequal menu "archive" %}
				<a id="projektiakt" href="/slotechart/arhiv/">&nbsp;</a>
			{% else %}
				<a id="projekti" href="/slotechart/arhiv/">&nbsp;</a>
			{% endifequal %}
		</li>
	</ul>
		{% if user.is_authenticated %}
	<div id="admin_menu">
	  <ul>
		<li><a href="/slotechart/projects/create/">Dodaj dogodek</a></li>
		{% block extramenu %}{% endblock %}
		<li><a href="/admin/">Urejanje</a></li>
		<li><a href="/admin/logout/">Odjava</a></li>
	  </ul>
	</div>
		{% endif %}
<!-- tu pridejo ul bloki z idji 'years' in 'months' in 'list' -->
	<div id="blocks">
	{% block archive-navigation %}{% endblock %}
	{% block archive-navigation-month %}{% endblock %}
	{% block archive-list %}{% endblock %}
	</div>
	
<!-- dejanska vsebina leve strani -->
	<h1>{% block heading %}{% endblock %}</h1>
	<h2>{% block subtitle %}{% endblock %}</h2>
	<div id="details">{% block details-navigation %}{% endblock %}</div>
	<div id="main">{% block main-content %}{% endblock %}</div>

</body>
</html>
