{% extends "slotechart/base.html" %}
{% load menus %}

{% block heading %}
	<img src="{{ media_url }}/img/naslovi/{{ what|lower }}.png"
		 alt="{{ what }}" />{{ object }}
{% endblock %}

{% block subtitle %}
	{% if object.date %}({{ object.date }}), {% endif %}
	{% if object.start_date %}({{ object.start_date }}), {% endif %}
	{{ object.country }}
	<br />
	{% if object.url %}<a href="{{ object.url }}">{{ object.url }}</a>{% endif %}
{% endblock %}

{% block details-navigation %}
	{% object_detail object %}
{% endblock %}

{% block main-content %}
	{{ object.note }}
{% endblock %}
