{% extends "slotechart/base.html" %}
{% block main-content %}

{% if form.has_errors %}
	<h2>Please correct the following error{{ form.error_dict|pluralize }}:</h2>
{% endif %}

<form method="POST" action="/slotechart/projects/create/">
  <p>
    <label for="id_title">title:</label>
    {{ form.title }}
    {% if form.title.errors %}
      *** {{ form.title.errors|join:", " }}
    {% endif %}
  </p>
  <p>
    <label for="id_start_date">start date:</label>
    {{ form.start_date }}
    {% if form.start_date.errors %}
      *** {{ form.start_date.errors|join:", " }}
    {% endif %}
    <label for="id_end_date">end date:</label>
    {{ form.end_date }}
    {% if form.end_date.errors %}
      *** {{ form.end_date.errors|join:", " }}
    {% endif %}
  </p>
  <p>
    <label for="id_url">url:</label>
    {{ form.url }}
    {% if form.url.errors %}
      *** {{ form.url.errors|join:", " }}
    {% endif %}
  </p>
  <p>
    <label for="id_artist">artist:</label>
    {{ form.artist }}
    {% if form.artist.errors %}
      *** {{ form.artist.errors|join:", " }}
    {% endif %}
    <label for="id_collaborator">collaborator:</label>
    {{ form.collaborator }}
    {% if form.collaborator.errors %}
      *** {{ form.collaborator.errors|join:", " }}
    {% endif %}
  </p>
  <p>
    <label for="id_producer_org">producer org:</label>
    {{ form.producer_org }}
    {% if form.producer_org.errors %}
      *** {{ form.producer_org.errors|join:", " }}
    {% endif %}
    <label for="id_gallery_org">gallery org:</label>
    {{ form.gallery_org }}
    {% if form.gallery_org.errors %}
      *** {{ form.gallery_org.errors|join:", " }}
    {% endif %}
  </p>
  <p>
    <label for="id_festival">festival:</label>
    {{ form.festival }}
    {% if form.festival.errors %}
      *** {{ form.festival.errors|join:", " }}
    {% endif %}
    <label for="id_award">award:</label>
    {{ form.award }}
    {% if form.award.errors %}
      *** {{ form.award.errors|join:", " }}
    {% endif %}
  </p>
  <p>
    <label for="id_tags">tags:</label>
    {{ form.tags }}
    {% if form.tags.errors %}
      *** {{ form.tags.errors|join:", " }}
    {% endif %}
  </p>
  <p>
    <label for="id_note">note:</label>
    {{ form.note }}
    {% if form.note.errors %}
      *** {{ form.note.errors|join:", " }}
    {% endif %}
  </p>
<input type="submit" value="submit" />
</form>


{% endblock %}
