{% extends "slotechart/base.html" %}
{% load menus %}

{% block heading %}
	<img src="{{ media_url }}/img/naslovi/projekt.png" alt="projekt"/>{{ object }}
{% endblock %}

{% block subtitle %}
	(
	{{ object.start_date }} -
	{% if object.end_date %}{{ object.end_date }}{% endif %}
	)
	{% if object.url %}<a href="{{ object.url }}">{{ object.url }}</a>{% endif %}
{% endblock %}

{% block extramenu %}
	<li><a href="/slotechart/projects/{{ object.id }}/edit/">Uredi dogodek</a></li>
{% endblock %}

{% block details-navigation %}
	{% print_event object %}
{% endblock %}

{% block main-content %}
	{{ object.note }}
{% endblock %}

{% block archive-navigation %}
	{% year_list object.start_date.year %}
{% endblock %}

{% block archive-navigation-month %}
	{% months_list object.start_date %}
{% endblock %}
