{% extends 'wiki/base.html' %}

{% block extrahead %}
  
<style type="text/css">
  p.left {margin-left: 10px}
  h1.left {margin-left: 10px}
  a.left {margin-left: 10px}
  div.field_wrapper {margin-left:10px; margin-right:10px;}

</style>
<script type="text/javascript" src="{{ settings.STATIC_URL }}markitup/jquery.markitup.js"></script>
<link rel="stylesheet" type="text/css" href="{{ settings.STATIC_URL }}markitup/skins/markitup/style.css" />
<link rel="stylesheet" type="text/css" href="{{ settings.STATIC_URL }}markitup/sets/markdown/style.css" />
<script type="text/javascript" src="{{ settings.STATIC_URL }}markitup/sets/markdown/set.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#id_content').markItUp(mySettings);
});
</script>

{% endblock %}


{% block content %}

	<h1 class="left">Edit/create article</h1>

<div class="module" id="recent-actions-module">
  <h2>&nbsp;</h2>

	<form action="" method="post">

		<div class="field_wrapper required{% if form.name.errors %} errors{% endif %}" id="field_name">
			<label for="id_name" class="field_name"><strong>Article name</strong></label>
			{% if form.title.errors %}{{ form.title.errors }}{% endif %}
			<div class="field text_input">
				{{ form.title }}
			</div><br />
		</div>

		<div class="field_wrapper required{% if form.content.errors %} errors{% endif %}" id="field_content">
			<label for="id_content" class="field_name"><strong>Content</strong></label>
			{% if form.content.errors %}{{ form.content.errors }}{% endif %}
			<div class="field textarea">
				{{ form.content }}
			</div>
            Use <a href="http://daringfireball.net/projects/markdown/syntax">MarkDown</a> syntax.
		</div><br />

		<div class="field_wrapper {% if form.comment.errors %} errors{% endif %}" id="field_comment">
			<label for="id_comment" class="field_name"><strong>Comment</strong></label>
			{% if form.comment.errors %}{{ form.commment.errors }}{% endif %}
			<div class="field textinput">
				{{ form.comment }}
			</div><br />
		</div>

		<div class="submit">
			<input type="submit" value="Save" />
		</div>

	</form>
</div>
{% endblock %}

