{% extends 'wiki/base.html' %}


{% block content %}
	<h1>
        <a href="{{ article.get_absolute_url }}"> {{ article.title }} </a>
    </h1>

    <h2> Article History </h2>

	{% if changes %}
		<ul>
			{% for change in changes %}
				<li><a href="{{ change.get_absolute_url }}">
                    At {{ change.modified|date:"M d, Y" }} </a>
                    by <a href="../../{{ change.editor }}">
                    {{ change.editor }}</a>{% if change.comment %}: <i>'{{ change.comment}}'</i> {% endif %}
                </li>
			{% endfor %}
		</ul>
	{% else %}
		<p> No changes in this article</p>
	{% endif %}
{% endblock %}
