{% extends "www/base.html" %}

{% block title %}All Galleries{% endblock %}

{% block extrahead %}
    <script type="text/javascript" src="{{ media_url }}/www/js/jquery.galleria.min.js"></script>
	<script type="text/javascript">
        function gallery_init() {
            $('.nav').css('display','none'); // hides the nav initially
            $('ul.gallery_demo').galleria({
                history   : true, // deactivates the history object for bookmarking, back-button etc.
                clickNext : false, // helper for making the image clickable. Let's not have that in this example.
                insert    : "#main_image", // the containing selector for our main image. 
                                        // If not found or undefined (like here), galleria will create a container 
                                        // before the ul with the class .galleria_container (see CSS)
                //onImage   : function() { $('.nav').css('display','block'); } // shows the nav when the image is showing
                onImage   : function(image,caption,thumb) { // let's add some image effects for demonstration purposes
                
                    // fade in the image & caption
                    if(! ($.browser.mozilla && navigator.appVersion.indexOf("Win")!=-1) ) { // FF/Win fades large images terribly slow
                        image.css('display','none').fadeIn(1000);
                    }
                    caption.css('display','none').fadeIn(1000);
                    
                    // fetch the thumbnail container
                    var _li = thumb.parents('li');
                    
                    // fade out inactive thumbnail
                    _li.siblings().children('img.selected').fadeTo(500,0.3);
                    
                    // fade in active thumbnail
                    thumb.fadeTo('fast',1).addClass('selected');
                    
                    // add a title for the clickable image
                    image.attr('title','Next image >>');
                },
                onThumb : function(thumb) { // thumbnail effects goes here
                    
                    // fetch the thumbnail container
                    var _li = thumb.parents('li');
                    
                    // if thumbnail is active, fade all the way.
                    var _fadeTo = _li.is('.active') ? '1' : '0.3';
                    
                    // fade in the thumbnail when finnished loading
                    thumb.css({display:'none',opacity:_fadeTo}).fadeIn(1500);
                    
                    // hover effects
                    thumb.hover(
                        function() { thumb.fadeTo('fast',1); },
                        function() { _li.not('.active').children('img').fadeTo('fast',0.3); } // don't fade out if the parent is active
                    )
                }
            });
        }
        function recurse(me) {
            var classes = $("#gallery"+me).attr("class").split(' ');
            var num = "";
            for (i=0; i < classes.length; i++) {
                if (classes[i] > "parent") {
                    num = classes[i].slice(6); 
                    if (num != 0) {
                        $("#gallery"+num).show();
                        return num;
                    }
                }
            }

            return -1;
        }
        function menuToggle(me) {
            $(".nontop").hide();
            //show callers children..
            $(".parent"+me).show();
            //..and the caller itself...
            $("#gallery"+me).show();
            //...and its parents
            num = me;
            while (num != -1) {
                num = recurse(num);
            }
            $.ajax({
                url: "/ajax/gallery/"+me,
                cache: false,
                success: function(html){
                    $(".galleria_wrapper").remove();
                    $(".gallery_demo_unstyled").html(html);
                    gallery_init();
                    $("#active").addClass("active");
                }
            });
        }
        $(document).ready(function(){
            //make copy/pastable urls work
            bits = location.hash.split('/');
            if (bits[2] != "") {
                $.ajax({
                    url: "/ajax/gallery/"+bits[2],
                    cache: false,
                    success: function(html){
                        $(".galleria_wrapper").remove();
                        $(".gallery_demo_unstyled").html(html);
                        gallery_init();
                    }
                });
            }
            //show only the top galleries a first
            $(".nontop").hide();
            $('.gallery_demo_unstyled').addClass('gallery_demo'); // adds new class name to maintain degradability
            gallery_init();
        });
    </script>
    <link href="http://devkick.com/lab/galleria/galleria.css" rel="stylesheet" type="text/css" media="screen">
    <style media="screen,projection" type="text/css">
        /* BEGIN DEMO STYLE */
        *{margin:0;padding:0}
        body{padding:20px;background:white;background:white;color:#555;font:80%/140% 'helvetica neue',sans-serif;width:900px;margin: 0 auto;}
        h1,h2{font:bold 80% 'helvetica neue',sans-serif;letter-spacing:3px;text-transform:uppercase;}
        a{color:#348;text-decoration:none;outline:none;}
        a:hover{color:#67a;}
        .caption{color:#888;position:absolute;top:250px;left:3px;width:200px;}
        .demo{position:relative;margin-top:2em;}
        .gallery_demo{width:200px;float:left;}
        .gallery_demo li{width:55px;height:70px;border:3px double #eee;margin: 0 2px 2px 0;background:#eee;}
        .gallery_demo li.hover{border-color:#bbb;}
        .gallery_demo li.active{border-style:solid;border-color:#222;}
        .gallery_demo li div{left:240px}
        .gallery_demo li div .caption{font:italic 0.7em/1.4 georgia,serif;}

        .galleria_container{margin:0 auto 60px auto;height:438px;width:700px;float:right;}

        .nav{padding-top:15px;clear:both;}

        .info{text-align:left;margin:30px 0;border-top:1px dotted #221;padding-top:30px;clear:both;}
        .info p{margin-top:1.6em;}

        .nav{position:absolute;top:410px;left:0;}
    </style>

{% endblock %}

{% block content %}
<div id="menu">
{% for g in ordered %}
    <a style="cursor: pointer; text-decoration: underline; color:blue;" id="gallery{{ g.id }}" class="{{ g.classes }}" onclick="menuToggle({{ g.id }}); return false;">{{ g|safe }}<br></a>
{% endfor %}
</div>

<div class="demo">
<div id="main_image">
</div>
    <ul class="gallery_demo_unstyled">
       <img src="http://www.screensite.org/courses/Jbutler/T340/TreasonOfImagesShadow.jpg">
    </ul>
    <p class="nav"><a href="#" onclick="$.galleria.prev(); return false;">previous</a> | <a href="#" onclick="$.galleria.next(); return false;">next</a></p>
</div>
{% endblock %}
