{% extends "www/base.html" %}

{% block title %}{{ object.title }}{% endblock %}

{% block extrahead %}

	<link href="{{ media_url }}/css/galleria.css" rel="stylesheet" type="text/css" media="screen">
	<script type="text/javascript" src="{{ media_url }}/js/jquery.galleria.js"></script>
  <link rel="stylesheet" href="{{ media_url }}/css//jquery.treeview.css" type="text/css" media="screen" />
  <script type="text/javascript" src="{{ media_url }}/js/jquery.treeview.js"></script>
	<script type="text/javascript">
	
	$(document).ready(function(){
		
		$('.gallery_demo_unstyled').addClass('gallery_demo'); // adds new class name to maintain degradability
		
		$('ul.gallery_demo').galleria({
			history   : true, // activates the history object for bookmarking, back-button etc.
			clickNext : true, // helper for making the image clickable
			insert    : '#main_image', // the containing selector for our main image
			onImage   : function(image,caption,thumb) { // let's add some image effects for demonstration purposes
				
				// fade in the image & caption
				image.css('display','none').fadeIn(1000);
				caption.css('display','none').fadeIn(1000);
				
				// fetch the thumbnail container
				var _li = thumb.parents('li');
				
				// fade out inactive thumbnail
				_li.siblings().children('img.selected').fadeTo(500,0.3);
				
				// fade in active thumbnail
				thumb.fadeTo('fast',1).addClass('selected');
				
				// add a title for the clickable image
				image.attr('title','Next image >>');
			},
			onThumb : function(thumb) { // thumbnail effects goes here
				
				// fetch the thumbnail container
				var _li = thumb.parents('li');
				
				// if thumbnail is active, fade all the way.
				var _fadeTo = _li.is('.active') ? '1' : '0.3';
				
				// fade in the thumbnail when finnished loading
				thumb.css({display:'none',opacity:_fadeTo}).fadeIn(1500);
				
				// hover effects
				thumb.hover(
					function() { thumb.fadeTo('fast',1); },
					function() { _li.not('.active').children('img').fadeTo('fast',0.3); } // don't fade out if the parent is active
				)
			}
		});
    $("#browser").treeview();
 $("#add").click(function() {
    var branches = $("<li><span class='folder'>New Sublist</span><ul>" + 
        "<li><span class='file'>Item1</span></li>" + 
        "<li><span class='file'>Item2</span></li>" +
        "</ul></li>").appendTo("#browser");
    $("#browser").treeview({
        add: branches
    });
 });
	});
	
	</script>
	<style media="screen,projection" type="text/css">
	
	/* BEGIN DEMO STYLE */
	*{margin:0;padding:0}
	{% comment %}body{padding:20px;background:white;text-align:center;background:black;color:#bba;font:80%/140% georgia,serif;}{% endcomment %}
	body{padding:20px;text-align:center;color:#bba;font:80%/140% georgia,serif;}
	h1,h2{font:bold 80% 'helvetica neue',sans-serif;letter-spacing:3px;text-transform:uppercase;}
	a{color:#348;text-decoration:none;outline:none;}
	a:hover{color:#67a;}
	.caption{font-style:italic;color:#887;}
	.demo{position:relative;margin-top:2em;}
	.gallery_demo{width:702px;margin:0 auto;}
	.gallery_demo li{width:68px;height:50px;border:3px double #111;margin: 0 2px;background:#000;}
	.gallery_demo li div{left:240px}
	.gallery_demo li div .caption{font:italic 0.7em/1.4 georgia,serif;}
	
	{% comment %}#main_image{margin:0 auto 60px auto;height:438px;width:700px;background:black;} {% endcomment %}
	#main_image img{margin-bottom:10px;}
	
	.nav{padding-top:15px;clear:both;font:80% 'helvetica neue',sans-serif;letter-spacing:3px;text-transform:uppercase;}
	
	.info{text-align:left;width:700px;margin:30px auto;border-top:1px dotted #221;padding-top:30px;}
	.info p{margin-top:1.6em;}
	
    </style>

{% endblock %}
{% load tree %}
{% block content %}

<h1>{{ object.title }}</h1>
<h2>Originally published {{ object.date_added|date:"l, F jS, Y" }}</h2>
{% if object.description %}<p>{{ object.description }}</p>{% endif %}
<table><tr><td>{# {% tree %} #}</td><td>
<div class="demo">
<p class="nav"><a href="#" onclick="$.galleria.prev(); return false;">&laquo; previous</a> 
|
<a href="#" onclick="$.galleria.next(); return false;">next &raquo;</a></p>
<div id="main_image"></div>
{% if object.children %}
<ul>
    {% for subalbum in object.children %}
    <li{% ifequal forloop.counter 1%} class="active"{% endifequal %}><a href="{{ subalbum.get_absolute_url }}"><img src="{{ subalbum.sample.get_thumbnail_url }}"></a></li>
    {% endfor %}
</ul>
<br><br><br><br>
{% endif %}
{% if object.photos.all %}
<ul class="gallery_demo_unstyled">
    {% for photo in object.photos.all %}
    <li{% ifequal forloop.counter 1%} class="active"{% endifequal %}><img src="{{ photo.get_normal_url }}"></li>
    {% endfor %}
</ul>
{% endif %}
</div>
</td></tr></table>
<p><a href="{% url pl-gallery-list 1 %}">View all galleries</a></p>

{% endblock %}
