{% extends "org/base_3col.html" %}

{% block extrahead %}
    <script type="text/javascript" src="/intranet/admin/jsi18n/"></script>
    <script type="text/javascript" src="/media/js/core.js"></script>
    <script type="text/javascript" src="/media/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="/media/js/calendar.js"></script>
    <script type="text/javascript" src="/media/js/admin/DateTimeShortcuts.js"></script>
{% endblock %}

{% block heading %}
	<h1>Pozor: pomankljivi podatki</h1>
{% endblock %}

{% block content-related-left %}
{% if form.has_errors %}
  <div class="module" id="recent-actions-module">
  	<h2>Napake:</h2>
	<ul>
    {% for e in errors.items %}
    <li>Polje "{{ e.0 }}": {{ e.1|join:", " }}</li>
    {% endfor %}
	</ul>
  </div>
{% endif %}
{% endblock %}

{% block content-main %}

	<div class="module">
	{% include template_file %}
	</div>

{% endblock %}
