<table class="sortable" id="unique_id">

	<tr>
		<td>Oseba</td>
		<td><acronym title="Skupno stevilo delovnih ur">ur</acronym></td>
		<td><acronym title="Stevilo placanih delovnih ur">&euro; ur</acronym></td>
		<td><acronym title="Zasluzek">denarja</acronym></td>
	</tr>

{% for o in objects %}
	<tr>
		<td>{{ o.name}}</td>
		<td>{{ o.time }}</td>
		<td>{{ o.paytime }}</td>
		<td>{{ o.money }}</td>
	</tr>
{% endfor %}

</table>
<p>Skupno {{ total_hours }} ur dela, od tega {{ billable_hours }} &euro; ur za {{ sum }} &euro;. </p>
