{% extends "org/base_3col.html" %}
{% block extrahead %}
		<link rel="alternate" type="application/rss+xml" title="Events RSS Feed" href="/intranet/feeds/bugs/" />
  <script src="{{ media_url }}/jquery-1.2.6.min.js"></script> 
          <script>
  $(document).ready(function(){
    $('#id_due_by').datepicker({firstDay: 1});
    });
    </script>
  <link rel="stylesheet" href="{{ media_url }}/css/flora.datepicker.css" type="text/css" media="screen" title="Flora (Default)">
<script src="{{ media_url }}/js/ui.datepicker.js"></script>

{% endblock %}

{% load box %}

{% block title %}Hrošči in želje{% endblock %}

{% block heading %}
        <h1>Hrošči</h1>
{% endblock %}

{% block content-related-left %}
  <div class="module" id="recent-actions-module">
  	<h2>Pregled</h2>
  	{% box_bug_stats user %}
  </div>
  <div class="module" id="recent-actions-module">
  	<h2>Dodaj hrošča</h2>
    <form method="post" action="add/">
    {{ bug_form.as_p }}
    <input type="submit">
    </form>
  </div>
{% endblock %}

{% block content-main %}
	<div class="module">
    {% for log in latest %}
    {% comment %} {% if not log.resolved %} {% endcomment %}
			<h2><a class="h2" href="{{ log.get_absolute_url }}">{{ log.name }}</a>
          		{{ log.pub_date|date:"d.m.Y" }}</h2>
        {% comment %} <h5>{{ log.author }} umm -> {% for guilty in log.assign.all %} {{ guilty }}, {% endfor %}</h5> {% endcomment %}
        <b>{{ log.author }} -> {% for guilty in log.assign.all %} {{ guilty }}, {% endfor %}</b>
    	<p>{{ log.note|escape|linebreaks }}</p>
	{% comment %} {% endif %} {% endcomment %}
	{% endfor %}
	</div>
{% endblock %}

{% block content-related-right %}

    <div class="module" id="recent-actions-module">
  	<h2>Filtriranje</h2>
    <form method="post" action="">
    &nbsp;&nbsp;{{ filter.name.label_tag }} {{ filter.name }}<br>
    &nbsp;&nbsp;{{ filter.author.label_tag }} {{ filter.author }}<br>
    &nbsp;&nbsp;{{ filter.due_by.label_tag }} {{ filter.due_by }}<br>
    &nbsp;&nbsp;{{ filter.assign.label_tag }} {{ filter.assign }}<br>
    &nbsp;&nbsp;{{ filter.resolution.label_tag }} {{ filter.resolution }}<br>
    <input type="submit" />
    </div>
{% endblock %}
