{% extends "org/base_2col.html" %}
{% block extrahead %}
<script src="{{ media_url }}/MochiKit/MochiKit.js" type="text/javascript"></script>
<script src="{{ media_url }}/MochiKit/Position.js" type="text/javascript"></script>
<script src="{{ media_url }}/MochiKit/Visual.js" type="text/javascript"></script>
<script src="{{ media_url }}/jquery-1.2.6.min.js"></script> 
<script>
  $(document).ready(function(){
    $('#id_due_by').datepicker({firstDay: 1});
    });
</script>
<link rel="stylesheet" href="{{ media_url }}/css/flora.datepicker.css" type="text/css" media="screen" title="Flora (Default)">
<script src="{{ media_url }}/js/ui.datepicker.js"></script>
{% endblock %}
{% load box %}
{% block title %}Hrošči in želje{% endblock %}

{% block heading %}
        <h1>Hrošči</h1>
{% endblock %}

{% block content-related-left %}
  <div class="module" id="recent-actions-module">
    	    <h2>Urejanje</h2>

        {% comment %}<form action="edit/" method="post">
       {{ bug_form }} 
        <input type = "submit"/>
        </form> {% endcomment %}
				{% include "org/content/bug_form.html" %}

				</li>
	</ul>
  </div>
{% endblock %}

{% block content-main %}
	<div class="module">
	<h2>{{ object.name }}</h2>
          <p>{{ object.author }} -> {% for guilty in object.assign.all %} {{ guilty }}, {% endfor %}
          {% for project in object.project.all %} {{ project }}, {% endfor %} <br></p>
             <p>Deadline: {{ object.due_by|date:"d.m.Y" }}</p>
             <p> Resolution: {{ object.resolution }} </p>
             <br><br>
          <p>{{ object.note|escape|linebreaks }}</p>
        
    </div>


    {% if object.get_related %}
    <div class="module">
    <h2> related bugi </h2>
        {% for bug in object.get_related %}
           <a href="{{ bug.get_absolute_url }}"> <font color="{% if bug.resolved %}green{% else %}red{% endif %}">{{ bug }} </font></a>
        {% endfor %}
    </div>
    <br><br>
    {% endif %}

  <div class="module">
    <h2 class="expand"><img src="{{ media_url }}/img/expand.gif" alt="expand bug" />add subtask</h2>
    <div id="bug_box" class="invisible">
        <form action="subtask/" method="post">
       {{ subtask_form }} 
        <input type = "submit"/>
        </form>
    </div>
  </div>

    {% for comment in comments %}
        {% ifequal comment.bug object %}
        <div class="module">
            <h2> {{ comment.author }} @ {{ comment.date }} </h2>
                {{ comment.text|linebreaks }}
        </div>
        {% endifequal %}
    {% endfor %}
    <br><br>

    <div class="module">
    <h2> dodaj komentar </h2>
    <form method="post" action="comment/">
    <table>{{ comment_form }}</table>
    <input type="submit" value="comon, make my day"/>
    </form>
    </div>



  <script type="text/javascript" charset="utf-8">
  // <![CDATA[
  function makeVisible(elem) {
      removeElementClass(elem, "invisible");
  }

  function isVisible(elem) {
      return !hasElementClass(elem, "invisible");
  };
      
  var i = null;
  box_list = new Object();
    //box_list.diary_box = $("diary_box")
    box_list.bug_box =  $("bug_box")
   // box_list.lend_box =  $("lend_box")
        
  slide = function(e) {
      for (var b in box_list){
        if (box_list[b].parentNode == e.src() ){
          box_div = box_list[b];
        }
      }
      foo = box_div;
      if (isVisible(foo) == false){
        makeVisible(foo);
      };
  }  
  for (var box in box_list){
    connect(box_list[box].parentNode, 'onclick', slide);
    log(box);
  }
  // ]]>
  </script>
{% endblock %}

{% comment %}{% block content-related-right %}
  <div class="module" id="recent-actions-module">
    <h2>Kazalo odprtih hroscev</h2>
  	 {% comment %} {% box_list Bug "resolved__exact=False" "template=org/list_my_bugs.html" %} {% endcommen %}
  	 {% box_list Bug "resolution__isnull=True" "template=org/list_my_bugs.html" %}
</div>
{% endblock %} {% endcomment %}
