{% extends "org/base_3col.html" %}
{% block extrahead %}
{% endblock %}
{% load box %}
{% block title %}Hrošči in želje{% endblock %}

{% block heading %}
        <h1>Hrošči</h1>
{% endblock %}

{% block content-related-left %}
  <div class="module" id="recent-actions-module">
    	    <h2>Urejanje</h2>
  	 <ul class="actionlist">
  	 	{% comment %} {% if object.resolved %} {% endcomment %}
  	 	{% if object.resolution__isnull  %}
			{% comment %}{% if user in object.assign.all %} {% endcomment %}
				<li><a href="/intranet/bugs/{{ object.id }}/done/">Oznaci kot opravljeno</a></li>
			{% comment %}{% else %}
				<li><a href="/intranet/bugs/{{ object.id }}/take/">Prevzami razresevanje</a></li>
			{% endifequal %} {% endcomment %}
		{% else %}
			<li>Ta hrosc je ze odpravljen</li>
		{% endif %}
			<li>
		<form action = "move/" method="post" name="MoveBugForm">
		<input type="submit" value="Preusmeri"/> k:
			<select selected name="assign">
				{% box_list User "" %}
			</select>
			, ker:
			<textarea name="note" id="note" rows="5" cols="20"></textarea>
			<br>

		</form>

        <form action = "resolve/" method="post" name="BugResolutionForm">
        <input type = "submit" value = "Resi"/>
            <select name="status">
            {% for resolution in resolutions %}
                <option value="{{ resolution.id }}">{{ resolution.name }}</option>
            {% endfor %}
            </select>
        </form>
				</li>
	</ul>
  </div>
{% endblock %}

{% block content-main %}
	<div class="module">
	<h2>{{ object.name }}</h2>
          <p>{{ object.author }} -> {% for guilty in object.assign.all %} {{ guilty }}, {% endfor %}
             ({{ object.pub_date|date:"d.m.Y" }})</p>
          <p>{{ object.note|escape|linebreaks }}</p>

    </div>


        {% for comment in comments %}
            {% ifequal comment.bug object %}
    <div class="module">
                {{ comment.text }}
    </div>
            {% endifequal %}
        {% endfor %}
    <br><br><br>
    <div class="module">
    <form method="post" action="">
    <table>{{ form }}</table>
    <input type="submit" value="comon, make my day"/>
    </form>
    </div>


	{% comment %}{% loadcomments object user %}{% endcomment %}

{% endblock %}

{% block content-related-right %}
  <div class="module" id="recent-actions-module">
    <h2>Kazalo odprtih hroscev</h2>
  	 {% comment %} {% box_list Bug "resolved__exact=False" "template=org/list_my_bugs.html" %} {% endcomment %}
  	 {% box_list Bug "resolution__isnull=True" "template=org/list_my_bugs.html" %}
</div>
{% endblock %}
