{% extends "laura/base_3col" %}
{% block extrahead %}
{% load media %}
<link rel="alternate" title="Latest bugs" href="/intranet/feeds/bugs" type="application/rss+xml">
{% endblock %}

{% block title %}Hrošči in želje{% endblock %}

{% block heading %}
        <h1>Hrošči</h1>
{% endblock %}

{% block content-related-left %}
  <div class="module" id="recent-actions-module">
  	<h2>Pregled</h2>
  	{% hrosci bugs %}
  </div>
  <div class="module" id="recent-actions-module">
  	<h2>Dodaj hrošča</h2>
  	{% add_bug home %}
</div>
{% endblock %}

{% block content-main %}
	<div class="module">
    {% for log in log_list %}
    {% if not log.resolved %}
	<h2><a class="h2" href="/intranet/admin/org/bugs/{{ object.id }}">{{ object.name }}</a></h2>
          <p>{{ object.author }} -> {{ object.assign }}
             ({{ object.pub_date|date:"d.m.Y" }})</p>
          <p>{{ object.note|escape|linebreaks }}</p>

	{% endif %}
	{% endfor %}
	</div>
{% endblock %}

{% block content-related-right %}
<!--  <div class="module" id="recent-actions-module">
    	    <h2>Filtri</h2>
  	 <ul class="actionlist">
		{% model_list user bugs %}
	</ul>
</div>
-->
{% endblock %}
