{% extends "org/base_2col.html" %}
{% block title %}Clipping{% endblock %}

{% block heading %}
        <h1>Clipping</h1><br/>
{% endblock %}

{% block extrahead%}
    <link rel="stylesheet" href="{{ media_url }}/css/flora.datepicker.css" type="text/css" media="screen" title="Flora (Default)">
    <script src="{{ media_url }}/js/ui.datepicker.js"></script>
    <script>
    $(document).ready(function(){
        $('#id_date').datepicker({firstDay: 1});
        });
    </script>
{% endblock %}

{% block content-related-left %}
	<div class="module" id="recent-actions-module">
        <h2 class="expand">Dodaj Novega</h2>	  
        <div class="hideme">
            <form method="post" action="add/">
                <table>{{ add_form }}</table>
                <input type="submit" />
            </form> 
        </div>
    </div>
	
	<div class="module" id="recent-actions-module">
        <h2 class="expand">Filtriraj</h2>	  
        <div class="hideme">
            <form method="post" action="">
                <table>{{ form }}</table>
                <input type="submit" />
            </form> 
        </div>
    </div>
	
{% endblock %} 

{% block content-main %}


	  


    {% for clipping in clippings %}

        <div class="module">
            <h2>{{ clipping }}</h2>
            {% if clipping.event %}
            <p> Event{{ clipping.event }} </p>
            {% endif %}
            {% if clipping.project %}
            <p>Project: {{ clipping.project }}</p>
            {% endif %}
            <p>Medij: {{ clipping.medij }}</p>
            <p>Linki: {% for i in clipping.upload.all %}<a href="{{ media_url }}{{ i.file }}">{{ i }}</a> {% endfor %}</p>
            {% comment %}<p>Osebek: {{ sodelovanje.person }}</p>
            <p>Tip Sodelovanja: {{ sodelovanje.tip }}</p>{% endcomment %}
        </div>
        <br>
    {% endfor %}
{% endblock %}

