{% extends "org/base_3col.html" %}

{% block title %}Dnevnik dežuranja{% endblock %}

{% load markup %}
{% load box %}
{% block extrahead %}
    <script type="text/javascript" src="{{ media_url }}/dojo/dojo.js"></script>
    <script type="text/javascript" src="{{ media_url }}/dojo/src/fx/html.js"></script>
    <script type="text/javascript" language="javascript" src="{{ media_url }}/dezuranje.js"></script>
{% endblock %}

{% block toplinks %}
	<div class="breadcrumbs">
		<ul id="breadcrumbs">
			<li>Pogledi:</li>
			<li><a href="/intranet/dezurni/{{ year }}/{{ iso_week }}">Tedenski</a></li>
			<li><a href="/intranet/dezurni/{{ year }}/{{ month_name }}">Mesecni</a></li>
		</ul>
	</div>
{% endblock %}

{% block heading %}
        <h1>Dnevnik dezuranja - tedenski</h1>
{% endblock %}

{% block content-related-left %}
  <div class="module" id="recent-actions-module">
	<h2>Plache</h2>
	{% box_plache log_list user %}
</div>
{% if dezurni_taski %}
<div>
<ul>
{% for task in dezurni_taski %}
    <li><a href="{{ task.get_absolute_url }}">{{ task }}</a></li>
{% endfor %}
</ul>
</div>
{% endif %}
{% endblock %}

{% block content-main %}
	<div class="module">

        <table class="dezurni">
    <tr>
        <th scope="col"><a href="/intranet/dezurni/{{ navigation.prev }}">&lt;&lt;</a>| {{ week_number }} |<a href="/intranet/dezurni/{{ navigation.next }}">&gt;&gt;</a></th>
	{% ifequal nov_urnik 1 %}
        <th scope="col">1100 - 1600</th>
        <th scope="col">1600 - 2100 </th>
	{% endifequal %}
    {% ifequal nov_urnik 2 %}
        <th scope="col">1000 - 1400</th>
        <th scope="col">1400 - 1800</th>
        <th scope="col">1800 - 2200 </th>
	{% endifequal %}
	{% ifnotequal nov_urnik 2 %}
	{% ifnotequal nov_urnik 1 %}
        <th scope="col">1000 - 1300 </th>
        <th scope="col">1300 - 1600 </th>
        <th scope="col">1600 - 1900</th>
        <th scope="col">1900 - 2200 </th>
	{% endifnotequal %}
	{% endifnotequal %}
    </tr>
    {% for day in week %}
    <tr>
        <td id='date'>{{ day.date }}</td>
        {% for dezurni in day.dezurni %}
           {% if dezurni.name %}
               <td id='dezurni{{ forloop.counter }}'>
               	<a href="/intranet/diarys/{{ dezurni.admin_id }}/">
               		{{ dezurni.name }}
               	</a>
<!--               	<a href="/intranet/dezuranje/view/{{ dezurni.admin_id }}">{{ dezurni.name }}</a> -->
               </td>
           {% else %}
               <td id='dezurni{{ forloop.counter }}' class="free">
               	<a href="javascript:;" onclick="formExplode(this, '{{ dezurni.unique }}')">
               		Vpiši
               	</a>
               </td>
           {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
    </table>
</div>
<div id="dnevnikForm">
    <form action="/intranet/dezurni/add/" method="post" name="dnevnikForm" class="dnevnikForm">
       <h3>Med dežuranjem sem počel naslednje stvari:</h3>
          <input type="hidden" name="uniqueSpot" value="" />
          <textarea name="log_formal" id="log_f" rows="10"></textarea>
       <h3>Random stuff:</h3>
          <textarea name="log_informal" id="log_if" rows="5"></textarea>
          <input type="submit" value="Vnesi" />
          <input type="reset" value="Obupaj" onclick="formImplode(this)"/>
</div>
<p><br></p>
{% for object in log_list %}
	<div class="module">
        <h2><a href="/intranet/diarys/{{ object.id }}" class="h2">
        {{ object.author }}: {{ object.date|date:"D d.m.Y" }},
        	{{ object.task }} ({{ object.length }})</A></h2>
      {% if object.log_formal %}
          <h5><b>Dnevnik:</b></h5>
          <p><br />{{ object.log_formal|linebreaks }}</p>
      {% endif %}
      {% if object.log_informal %}
          <h5><b>Blog:</b></h5>
          <p><br />
          {{ object.log_informal|linebreaks }}</p>
      {% endif %}
	</div>
{% endfor %}

{% endblock %}

{% block content-related-right %}
  <div class="module" id="recent-actions-module">
    <h2>Dogodki tedna</h2>
  	 <ul class="actionlist">
	    {% box_list Event "start_date__gte=start_date,start_date__lte=end_date" "template=org/list_event.html,order_by=start_date" %}
	    </ul>
  </div>
{% endblock %}

