{% extends "org/base_2col.html" %}
{% block extrahead %}
       <link rel="alternate" type="application/rss+xml" title="Events RSS Feed" href="/intranet/feeds/events/" />
{% endblock %}
{% block title %}Dogodki{% endblock %}
{% load box %}
{% block toplinks %}
    <div class="breadcrumbs">
    <ul id="breadcrumbs">
        <li>Leta:</li>
        {% for year in years %}
            <li><a href="arhiv/{{ year }}/">{{ year }}</a></li>
        {% endfor %}
    </ul>
    </div>
{% endblock %}

{% block heading %}
    <h1>Aktualni dogodki <a href="/intranet/feeds/events/"><img src="{{ media_url }}/img/rss.gif" alt="event rss" /></a></h1>
{% endblock %}

{% block content-related-left %}
  <div class="module" id="recent-actions-module">
    <h2>Urejanje</h2>
        <ul class="actionlist">
            <li><a href="create/">Dodajanje</a></li>
            <li>Potrebuje snemanje: <img src="{{ media_url }}img/camera.png" alt="video" /></li>
            <li>Ima tehnika: <img src="{{ media_url }}img/tools.png" alt="tech" /></li>
            <li>Manjka tehnik: <img src="{{ media_url }}img/help.png" alt="help" /></li>
        </ul>
  </div>

  <div class="module" id="recent-actions-module">
    <h2>Filtriranje</h2>
  <form action="" method="post">
  {{ filter.as_p }}
  <input type="submit">
  </form>
  </div>
{% endblock %}

{% block content-main %}


{% if filtered %}
<div class="module" style="background:#ffccff">
    <h2>Eventi</h2>
       {% for log in events %}
                {% print_event log %}
        {% endfor %}
</div>
<br/>
{% else %}
{% if event_last %}
<div class="module">
    <h2>Prejšnji teden</h2>
       {% for log in event_last %}  
                {% print_event log %}
        {% endfor %}
</div>
<br/>
{% endif %}

{% if event_this %}
<div class="module" style="background:#ffccff">
    <h2>Ta teden</h2>
       {% for log in event_this %}
                {% print_event log %}
        {% endfor %}
</div>
<br/>
{% endif %}



{% if event_next %}
<div class="module">
    <h2>Naslednji teden</h2>
       {% for log in event_next %}  
                {% print_event log %}
        {% endfor %}
</div>
<br/>
{% endif %}

{% if event_next2 %}
<div class="module">
    <h2>Čez 2 tedna</h2>
       {% for log in event_next2 %}
                {% print_event log %}
        {% endfor %}
</div>
<br/>
{% endif %}
{% endif %}

{% endblock %}
