  <p>
    <label for="id_title">Naslov:</label>
    {{ form.title }}
    {% if form.title.errors %}
      *** {{ form.title.errors|join:", " }}
    {% endif %}
  </p>
<p>
    <label for="id_category">m3c kategorija:</label>
    {{ form.category }}
    {% if form.category.errors %}
      *** {{ form.category.errors|join:", " }}
    {% endif %}
<!--    <a href="/intranet/admin/auth/user/add/" class="add-another" id="add_id_responsible" onclick="return showAddAnotherPopup(this);"> <img src="/media/img/admin/icon_addlink.gif" width="10" height="10" alt="Add Another"/></a
-->
    </p>
 <p>
    <label for="id_project">Projekt:</label>
    {{ form.project }}
    {% if form.project.errors %}
      *** {{ form.project.errors|join:", " }}
    {% endif %}
    <br />
    <label for="id_responsible">Odgovorni:</label>
    {{ form.responsible }}
    {% if form.responsible.errors %}
      *** {{ form.responsible.errors|join:", " }}
    {% endif %}
</p>
<hr>
   <p>
    <label for="id_start_date">Začetni datum:</label>
    {{ form.start_date_date }}
    {% if form.start_date_date.errors %}
      *** {{ form.start_date_date.errors|join:", " }}
    {% endif %}
    <br />
    <label for="id_start_date_time">Ura začetka:</label>
    {{ form.start_date_time }}
    {% if form.start_date_time.errors %}
      *** {{ form.start_date_time.errors|join:", " }}
    {% endif %}
    <br />
    <label for="id_length">Dolžina:</label>
   	<select selected name="length" size="1">   	   
            <option {% ifequal form.data.length '01:00:00' %}selected {% endifequal %}>1</option>
            <option {% if not form.data.length%}selected{%endif%}{% ifequal form.data.length '02:00:00' %}selected {% endifequal %}>2</option>
            <option {% ifequal form.data.length '03:00:00' %}selected {% endifequal %}>3</option>
            <option {% ifequal form.data.length '04:00:00' %}selected {% endifequal %}>4</option>
            <option {% ifequal form.data.length '05:00:00' %}selected {% endifequal %}>5</option>
            <option {% ifequal form.data.length '06:00:00' %}selected {% endifequal%}>6</option>
            <option {% ifequal form.data.length '07:00:00' %}selected {% endifequal %}>7</option>
            <option {% ifequal form.data.length '08:00:00' %}selected {% endifequal %}>8</option>
            <option {% ifequal form.data.length '09:00:00' %}selected {% endifequal %}>9</option>
            <option {% ifequal form.data.length '10:00:00' %}selected {% endifequal %}>10</option>
            <option {% ifequal form.data.length '11:00:00' %}selected {% endifequal %}>11</option>
            <option {% ifequal form.data.length '12:00:00' %}selected {% endifequal%}>12</option>
        </select>
        ur
   </p>
<hr>
  <p>
    <label for="id_require_technician">Dogodek potrebuje tehnika:</label>
    {{ form.require_technician }}
    {% if form.require_technician.errors %}
      *** {{ form.require_technician.errors|join:", " }}
    {% endif %}
    <label for="id_technician">Tehnik:</label>
    {{ form.technician }}
    {% if form.technician.errors %}
      *** {{ form.technician.errors|join:", " }}
    {% endif %}  </p>
  <p>
    <label for="id_require_video">Dogodek je sneman:</label>
    {{ form.require_video }}
    {% if form.require_video.errors %}
      *** {{ form.require_video.errors|join:", " }}
    {% endif %}
  </p>
  <p>
    <label for="id_place">Potrebuje prostore:</label>
    {{ form.place}}
    {% if form.place.errors %}
      *** {{ form.place.errors|join:", " }}
    {% endif %}
    </p>
<hr>
 <p>
    <label for="id_announce">Uradna najava:</label>
    {{ form.announce }}
    {% if form.announce.errors %}
      *** {{ form.announce.errors|join:", " }}
    {% endif %}
  </p>
  
   <p>
    <label for="id_short_announce">Kratka najava:</label>
    {{ form.short_announce }}
    {% if form.short_announce.errors %}
      *** {{ form.short_announce.errors|join:", " }}
    {% endif %}
  </p>

<hr>

  <p>
    <label for="id_note">Opombe:</label>
    {{ form.note }}
    {% if form.note.errors %}
      *** {{ form.note.errors|join:", " }}
    {% endif %}
  </p>
