{% extends "org/base_3col.html" %}
{% block extrahead %}
{% endblock %}
{% load box %}

{% block content-related-left %}
  <div class="module" id="recent-actions-module">
  </div>
{% endblock %}

{% block content-main %}
<div class="module">
<form method="POST" action="/intranet/events/{{ event.id }}/edit/">
    <h2>Dodaj dogodek v koledar</h2>
{% if form.has_errors %}
    <h3>Please correct the following error{{ form.error_dict|pluralize }}:</h3>
{% endif %}
    {% form_event form %}

</div>
{% endblock %}

{% block content-related-right %}

<div style="position: fixed;">
<br /><input type="submit" value="Popravi" />
</div>

</form>
{% endblock %}
