{% extends "org/base_3col.html" %}

{% block title %}Imenik{% endblock %}

{% block heading %}
    <h1>Kdo je kdo</h1>
{% endblock %}

{% block content-related-left %}
  <div>
  <div class="module" id="recent-actions-module">
  <h2>Spreminjanje LDAP passworda</h2>
  {% if change_pass_message %}
    <em>{{ change_pass_message }}</em>
  {% endif %}
  <form method="post" action=".">
  {{ change_pass.as_p }}
  <input type="submit">
  </form>
  </div>
  <div class="module" id="recent-actions-module">
    <h2>Filter</h2>
  <form method="post" action="">
  {{ filter.as_p }}
  <input type="submit">
  </form>
  </div>
  <div class="module" id="recent-actions-module">
    <h2>Moj Profil</h2>
    <form method="post" action=".">
    {{ pipec_form.as_p }}
    <input type="submit">
    </form>
    </div>
  </div>
{% endblock %}

{% block content-main %}
        {% for profile in object_list %}
        {% if profile.user.get_profile.is_active %}
<div class="module">
    <h2><a name="{{ profile.user.username }}">{{ profile.user.first_name }} "{{ profile.user.username }}" {{ profile.user.last_name }}</a></h2>
        <div class="user">
            <ul>
                {% if profile %}
                <li>E-pošta: <a href="mailto:{{ profile.muser.email }}">{{ profile.user.email }}</a></li>
                <li>Telefon: {{ profile.mobile }}</li>
                {% if profile.im %}
                <li>IM: {{ profile.im|linebreaksbr }}</li>
                {% endif %}
                {% for project in profile.project.all %}
                <li>Projekt: {{ project }}</li>
                {% endfor %}
                {% endif %}
            </ul>
        </div>
</div>
        {% endif %}
        {% endfor %}
        <br><br><br>not active users:<br>
        {% for profile in object_list %}
        {% if not profile.user.get_profile.is_active %}
<div class="module">
    <h2><a name="{{ profile.user.username }}">{{ profile.user.first_name }} "{{ profile.user.username }}" {{ profile.user.last_name }}</a></h2>
        <div class="user">
            <ul>
                <li>E-pošta: <a href="mailto:{{ profile.user.email }}">{{ profile.user.email }}</a></li>
                {% if profile.user.get_profile %}
                <li>Telefon: {{ profile.user.get_profile.mobile }}</li>
                {% if profile.im %}
                <li>IM: {{ profile.im|linebreaksbr }}</li>
                {% endif %}
                {% endif %}
                {% for project in profile.project.all %}
                <li>Projekt: {{ project }}</li>
                {% endfor %}
            </ul>
        </div>
</div>
        {% endif %}
        {% endfor %}
{% endblock %}

{% block content-related-right %}
<div class="module">
    <h2>Kazalo</h2>
    <ul>
    {% for profile in object_list %}
        {% if profile.is_active %}
        <li><a href="#{{ profile.user.username }}">{{ profile.user.username }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
</div>
{% endblock %}
