{% extends "org/base_3col.html" %}

{% block extrahead %}
<!--
<script src="{{ media_url }}/MochiKit/MochiKit.js" type="text/javascript"></script>
<script src="{{ media_url }}/MochiKit/Position.js" type="text/javascript"></script>
<script src="{{ media_url }}/MochiKit/Visual.js" type="text/javascript"></script>
-->
{% endblock %}

{% block title %}Osnovni pregled{% endblock %}

{% load box %}

{% block heading %}
        <h1>Nadzorna plošča</h1>
{% endblock %}

{% block content-related-left %}
  <div class="module">
    <h2 class="expand"><img src="{{ media_url }}/img/expand.gif" alt="expand diary" />Dodaj dnevnik</h2>
    <div id="diary_box" class="hideMe">{% box_add Diary %}</div>
  </div>

  <div class="module">
    <h2 class="expand"><img src="{{ media_url }}/img/expand.gif" alt="expand bug" />Dodaj hrošča</h2>
    <div id="bug_box" class="hideMe">{% box_add Bug %}</div>
  </div>

  <div class="module">
    <h2 class="expand"><img src="{{ media_url }}/img/expand.gif" alt="expand lends" />Posodi opremo</h2>
    <div id="lend_box" class="hideMe">{% box_add Lend %}</div>
  </div>
  
  <div class="module">
    <h2>Kracarka</h2>
    <div id="scratchpad">{% box_scratchpad user.id %}</div>
  </div>

  <script type="text/javascript" charset="utf-8">
  // <![CDATA[
  function makeVisible(elem) {
      removeElementClass(elem, "invisible");
  }

  function isVisible(elem) {
      return !hasElementClass(elem, "invisible");
  };
      
  var i = null;
  box_list = new Object();
    box_list.diary_box = $("diary_box")
    box_list.bug_box =  $("bug_box")
    box_list.lend_box =  $("lend_box")
        
  slide = function(e) {
      for (var b in box_list){
        if (box_list[b].parentNode == e.src() ){
          box_div = box_list[b];
        }
      }
      foo = box_div;
      if (isVisible(foo) == false){
        makeVisible(foo);
      };
  }  
  for (var box in box_list){
    connect(box_list[box].parentNode, 'onclick', slide);
    log(box);
  }
  // ]]>
  </script>

{% endblock %}

{% block content-main %}
  <div class="module" id="messages-module">
    <h2><a href="/intranet/admin/org/stickynote">Obvestila</a></h2>
    {% box_list StickyNote "due_date__gte=today" "template=org/list_sticky.html" %}
  </div>

  <div class="module">
    <h2>
        <a href="/intranet/feeds/todos/{{ user }}">
            <img src="{{ media_url }}/img/rss.gif" alt="rss responsibilities" />
        </a>
        Moje odgovornosti
    </h2>
    <h4>Moji hrošči: <a href="/intranet/feeds/userbugs/{{ user }}"><img src="{{ media_url }}/img/rss.gif" alt="rss bugs" /></a></h4>
    {% box_list Bug "assign__exact=user.id, resolution__isnull=True" "template=org/list_my_bugs.html" %}

    <h4>Bugi mojim projektom:</h4>
    <ul>
    {% for i in project_bugs %}
        <li><a href="{{ i.get_absolute_url }}">{{ i }}</a></li>
    {% endfor %}
    </ul>

    <h4>Hrošči, ki sem jih jaz objavil:</h4>
    {% box_list Bug "author__exact=user.id, resolution__isnull=True" "template=org/list_bugs.html" %}
    <h4>Sem posodil:</h4>
    {% box_list Lend "from_who__exact=user.id, returned__exact=False" "template=org/list_lend.html" %}
    <h4>Moji dogodki:</h4>
    {% box_list Event "responsible__exact=user.id, start_date__gte=start_date" "template=org/list_my_event.html" %}
    {% box_list Event "technician__exact=user.id, start_date__gte=start_date" "template=org/list_my_event.html" %}
    <h4>Moje želje po nakupih</h4>
        {% box_list Shopping "author__exact=user.id, bought__exact=False" "template=org/list_shopping.html" %}
  </div>
{% endblock %}

{% block content-related-right %}
  <div class="module">
    <h2>
        <a href="/intranet/feeds/events/">
            <img src="{{ media_url }}/img/rss.gif" alt="rss events" />
        </a>
        Aktualni <a href="/intranet/events/">dogodki</a>
    </h2>

     <ul class="actionlist">

      {% box_list Event "start_date__gte=start_date,start_date__lte=end_date" "template=org/list_event.html,order_by=start_date" %}

      </ul>

  </div>
{% endblock %}
