{% extends "org/base_2col.html" %}

{% block title %}Baza znanja{% endblock %}

{% block heading %}
        <h1>Zbirka znanja - dodajanje</h1>
<form method="POST" action=".">
{% endblock %}

{% block extrahead %}
    <script type="text/javascript" src="{{ media_url }}tiny_mce/tiny_mce.js"></script>
    <script type="text/javascript" src="{{ media_url }}textareas.js"></script>

{% endblock %}

{% block content-related-left %}
  <div class="module" id="recent-actions-module">
    <h2>Urejanje</h2>
  <p>
    <label for="id_title">Naslov:</label>
    {{ form.title }}
    {% if form.title.errors %}
      *** {{ form.title.errors|join:", " }}
    {% endif %}
  </p>
  <p>
    <label for="id_category">Kategorije:</label>
    {{ form.category }}
    {% if form.category.errors %}
      *** {{ form.category.errors|join:", " }}
    {% endif %}
  </p>
  <p>
    <label for="id_project">Projekti:</label>
    {{ form.project }}
    {% if form.project.errors %}
      *** {{ form.project.errors|join:", " }}
    {% endif %}
  </p>
  <p>
    <label for="id_task">Opravila:</label>
    {{ form.task }}
    {% if form.task.errors %}
      *** {{ form.task.errors|join:", " }}
    {% endif %}
  </p>

</div>
{% endblock %}

{% block content-main %}
<div class="module">
    <h2>Objavi članek</h2>
  <p>
    <label for="id_content">Vsebina:</label>
    {{ form.content }}
    {% if form.content.errors %}
      *** {{ form.content.errors|join:", " }}
    {% endif %}
  </p>
  <input type="submit" value="Shrani" />
</form>
</div>
{% endblock %}

