{% extends "org/base_2col.html" %}

{% block title %}Baza znanja{% endblock %}

{% block heading %}
        <h1>OBSOLETE  use <a href="/intranet/wiki/">wiki</a> instead</h1>
{% endblock %}

{% block content-related-left %}
  <div class="module" id="recent-actions-module">
    <h2>Urejanje</h2>
    <ul>
        <li><a href="add/">Dodajanje</a></li>
        <li><a href="/intranet/admin/org/kbcategory/">Uredi kategorije</a></li>
    </ul>
</div>
{% endblock %}

{% block content-main %}
    <div class="module">
    <h2>Članki</h2>
    <ul>
{% for category in object_list %}
    <h3>{{ category }}</h3>
    <ul>
    {% for article in category.kb_set.all %}
    <li><i><a href="{{ article.get_absolute_url }}">{{ article }}</a></li>
    {% endfor %}
    </ul>
{% endfor %}
    </div>
{% endblock %}
