{% extends "org/base_2col.html" %}
{% block title %}Mercenaries{% endblock %}

{% load math %}

{% block heading %}
        <h1>Pipa's mercenaries</h1>
{% endblock %}

{% block content-related-left %}
    <a href="{{ add_link }}">Dodaj novega</a>
    {% comment %}<form method="post" action="">
    <table>{{ form }}</table>
    <input type="submit" />
    </form>{% endcomment %}

{% endblock %} 

{% block content-main %}
        <a href="{% ifequal month "1" %}../../{{ year|sub:"1" }}/12/{% else %}../../{{ year }}/{{ month|sub:"1" }}/{% endifequal %}">&lt;&lt;</a>
        {{ year }} -- {{ month }}
        <a href="{% ifequal month "12" %}../../{{ year|add:"1" }}/1/{% else %}../../{{ year }}/{{ month|add:"1" }}/{% endifequal %}">&gt;&gt;</a>
    {% for mercenary, amount in mercenaries.items %}
        <div class="module">
        {{ mercenary }} {{ amount }} &nbsp; <a href="{{ mercenary.id }}/placa">Obrazec</a>
        </div>
    {% endfor %}
{% endblock %}
