{% extends "org/base.html" %}
{% block extrahead %}
<script type="text/javascript" src="{{ media_url }}js/jquery.highlightFade.js" ></script>
<script src="{{ media_url }}/js/ui.datepicker.js"></script>

<script type="text/javascript">
function addFormField() {
    var id = document.getElementById("id").value;
    $("#divTxt").append("<p id=\"row" + id + "\"><label for=\"id_author\">Avtor(ji?): </label><input type=\"text\" class=\"input_author\" name=\"author\" id=\"id_author\" /><label for=\"id_tip\"></label><select name=\"tip\" id=\"id_tip\">{% for t in tipi %}<option value=\"{{ t.id }}\">{{ t }}</option>{% endfor %}</select><a href='#' onClick='removeFormField(\"#row" + id + "\"); return false;'>Remove</a></p>");

    
    $('#row' + id).highlightFade({
        speed:1000
    });
    
    id = (id - 1) + 2;
    document.getElementById("id").value = id;
}

function removeFormField(id) {
    $(id).remove();
}
</script>

  <script>
  $(document).ready(function(){
//$('#id_start_date').datepicker({firstDay: 1, dateFormat: 'yy-mm-dd'}); //XXX
  });
  </script>

  <link rel="stylesheet" href="{{ media_url }}/css/flora.datepicker.css" type="text/css" media="screen" title="Flora (Default)">

{% endblock %}
{% block title %}Dogodki{% endblock %}
{% load markup %}

{% load box %}

{% block content %}
<div id="content" class="colMS">
    <h2>Ponavljanje</h2>
    <form method="POST" action=""> 
    <div id="content-related" class="sidebar">
    <div  class="module" id="recent-actions-module">
		{% box_reccurings form %}
	<h3> <input type="submit" value="Vpiši" /></h3>
    </div>
    </div>

    <div id="content-full" class="flex">
    <div class="module">
	<h2>Dodaj dogodek v koledar</h2>
{% if form.has_errors %}
	<h3>Please correct the following error{{ form.error_dict|pluralize }}:</h3>
{% endif %}
  <p>
    <label for="id_title">Naslov:</label>
    {{ form.title }}
    {% if form.title.errors %}
      *** {{ form.title.errors|join:", " }}
    {% endif %}
  </p>
	<p>
<a href="#" onClick="addFormField(); return false;">Add</a></p>
    {% if sodelovanja %}
<input type="hidden" id="id" value="{{ sodelovanja.count|add:"1"}}"> <!-- XXX -->
<div id="divTxt">
        {% for sodelovanje in sodelovanja %}
<p id="row{{ forloop.counter }}">        <label for="id_author">Avtor(ji?): </label>
             <input type="text" name="author" class="input_author" id="id_author" value="{{ sodelovanje.person }}" />
        <label for="id_tip"></label>

             <select name="tip" id="id_tip">
              {% for t in tipi %}              
                <option {% ifequal t sodelovanje.tip %}selected="selected"{% endifequal %} value="{{ t.id }}">{{ t }}</option>
            {% endfor %}
                
                </select> 
                <a href='#' onClick='removeFormField("#row{{ forloop.counter }}"); return false;'>Remove</a>
</p>
        {% endfor %}
</div>
    {% else %}
<input type="hidden" id="id" value="2">
<div id="divTxt">
        <p id="row1"><label for="id_author">Avtor(ji?): </label>
             <input type="text" name="author" class="input_author" id="id_author" />
        <label for="id_tip"></label>

             <select name="tip" id="id_tip">
              {% for t in tipi %}              
                <option {% ifequal t tip %}selected="selected"{% endifequal %} value="{{ t.id }}">{{ t }}</option>
            {% endfor %}
                
                </select> 
    <a href='#' onClick='removeFormField("#row1"); return false;'>Remove</a>
                </p>
                </div>
    {% endif %}  

<p>
    <label for="id_category">m3c kategorija:</label>
    {{ form.category }}
    {% if form.category.errors %}
      *** {{ form.category.errors|join:", " }}
    {% endif %}
<!--    <a href="/intranet/admin/auth/user/add/" class="add-another" id="add_id_responsible" onclick="return showAddAnotherPopup(this);"> <img src="/media/img/admin/icon_addlink.gif" width="10" height="10" alt="Add Another"/></a
-->
    </p>
 <p>
    <label for="id_project">Projekt:</label>
    {{ form.project }}
    {% if form.project.errors %}
      *** {{ form.project.errors|join:", " }}
    {% endif %}
    <br />
    <label for="id_responsible">Odgovorni:</label>
    {{ form.responsible }}
    {% if form.responsible.errors %}
      *** {{ form.responsible.errors|join:", " }}
    {% endif %}
</p>
<hr>
   <p>
    <label for="id_start_date">Začetni datum:</label>
    {{ form.start_date }}
    {% comment %}<input type="text" name="start_date" id="id_start_date" />{% endcomment %}

    {% if form.start_date.errors %}
      *** {{ form.start_date.errors|join:", " }}
    {% endif %}
    <br />
     {% comment %}<label for="id_start_date_time">Ura začetka:</label>
    {{ form.start_date_time }}
    {% if form.start_date_time.errors %}
      *** {{ form.start_date_time.errors|join:", " }}
    {% endif %}  {% endcomment %}
    <br /> 
    <label for="id_length">Dolžina:</label>
   	{% comment %}<select selected name="length" size="1">   	   
            <option {% ifequal form.data.length '01:00:00' %}selected {% endifequal %}>1</option>
            <option {% if not form.data.length%}selected{%endif%}{% ifequal form.data.length '02:00:00' %}selected {% endifequal %}>2</option>
            <option {% ifequal form.data.length '03:00:00' %}selected {% endifequal %}>3</option>
            <option {% ifequal form.data.length '04:00:00' %}selected {% endifequal %}>4</option>
            <option {% ifequal form.data.length '05:00:00' %}selected {% endifequal %}>5</option>
            <option {% ifequal form.data.length '06:00:00' %}selected {% endifequal%}>6</option>
            <option {% ifequal form.data.length '07:00:00' %}selected {% endifequal %}>7</option>
            <option {% ifequal form.data.length '08:00:00' %}selected {% endifequal %}>8</option>
            <option {% ifequal form.data.length '09:00:00' %}selected {% endifequal %}>9</option>
            <option {% ifequal form.data.length '10:00:00' %}selected {% endifequal %}>10</option>
            <option {% ifequal form.data.length '11:00:00' %}selected {% endifequal %}>11</option>
            <option {% ifequal form.data.length '12:00:00' %}selected {% endifequal%}>12</option>
        </select>
        ur {% endcomment %}
				{{ form.length }}
   </p>
<hr>
  <p>
    <label for="id_require_technician">Dogodek potrebuje tehnika:</label>
    {{ form.require_technician }}
    {% if form.require_technician.errors %}
      *** {{ form.require_technician.errors|join:", " }}
    {% endif %}
    <label for="id_technician">Tehnik:</label>
    {{ form.technician }}
    {% if form.technician.errors %}
      *** {{ form.technician.errors|join:", " }}
    {% endif %}  </p>
  <p>
    <label for="id_require_video">Dogodek je sneman:</label>
    {{ form.require_video }}
    {% if form.require_video.errors %}
      *** {{ form.require_video.errors|join:", " }}
    {% endif %}
  </p>
  <p>
    <label for="id_place">Potrebuje prostore:</label>
    {{ form.place}}
    {% if form.place.errors %}
      *** {{ form.place.errors|join:", " }}
    {% endif %}
    </p>
<hr>
 <p>
    <label for="id_announce">Uradna najava:</label>
    {{ form.announce }}
    {% if form.announce.errors %}
      *** {{ form.announce.errors|join:", " }}
    {% endif %}
  </p>
  
   <p>
    <label for="id_short_announce">Kratka najava:</label>
    {{ form.short_announce }}
    {% if form.short_announce.errors %}
      *** {{ form.short_announce.errors|join:", " }}
    {% endif %}
  </p>

<hr>

  <p>
    <label for="id_note">Opombe:</label>
    {{ form.note }}
    {% if form.note.errors %}
      *** {{ form.note.errors|join:", " }}
    {% endif %}
  </p>
  </div>
  </div>
	</form>
</div>
{% endblock %}
