<div class="module">
            <h2><a class="h2" href="/intranet/shopping/{{ object.id }}/">{{ object.name }}</a>
            {% if object.bought %}
                - Že kupljeno!
            {% endif %}
            </h2>
        <ul>
            <li>Predlagal: {{ object.author }}</li>
            <li>Rešuje: {{ object.responsible }}</li>
            <li>Predvidena cena: {{ object.cost }}</li>
            <li>Potrebujemo za:
            {% if object.project.all %}
                {% for p in object.project.all %}
                    {{ p }},
                {% endfor %}
            {% endif %}
            {% if object.task.all %}
                {% for p in object.task.all %}
                    {{ p }},
                {% endfor %}
            {% endif %}
            </li>
            <li>Predlog podpirajo:
            {% if object.supporters.all %}
                {% for p in object.supporters.all %}
                    {{ p }},
                {% endfor %}
            {% endif %}
            </li>
        </ul>
        <p>{{ object.explanation|escape|linebreaks }}</p>
</div>
