{% extends "org/base_3col.html" %}
{% block title %}Nakupi{% endblock %}

{% block extrahead %}
{% endblock %}
{% load box %}
{% block heading %}
        <h1>Seznam za nakupe</h1>
{% endblock %}

{% block content-related-left %}
  <div class="module" id="recent-actions-module">
      <h2>Vpisi željo</h2>
        {% include "org/content/shopping_form.html" %}
  </div>
{% endblock %}

{% block content-main %}
    <div class="module">
    <h2>Predlogi za nakupe</h2>
    <table>
    <tr><th>Avtor</th><th>Kaj</th><th>Cena</th></tr>
    {% for wish in wishes %}
    <tr><td>{{ wish.author }}</td><td><a href="{{ wish.get_absolute_url }}"> {{ wish }}</a></td><td>{{ wish.cost }}</td></tr>
    {% endfor %}
    </table>

    </div>
{% endblock %}

{% block content-related-right %}

  {% comment %} <div class="module">
  <h2>Filtri</h2>
    <h2>Po ceni</h2>
        <ul class="actionlist">
            <li><a href="/intranet/shopping/cost/1/">0 - 1000</a></li>
            <li><a href="/intranet/shopping/cost/2/">1k - 10k</a></li>
            <li><a href="/intranet/shopping/cost/3/">10k - 20k</a></li>
            <li><a href="/intranet/shopping/cost/4/">20k - 50k</a></li>
            <li><a href="/intranet/shopping/cost/5/">50k -> </a></li>
        </ul>
</div> {% endcomment %}
{% endblock %}
