{% extends "org/base_3col.html" %}
{% block title %}Nakupi{% endblock %}

{% block extrahead %}
{% load box %}
{% endblock %}

{% block heading %}
        <h1>Želja</h1>
{% endblock %}

{% block content-related-left %}
  <div class="module" id="recent-actions-module">
    <h2>Urejanje</h2>
        <ul>
            <li><a href="edit/">Uredi podatke</a></li>
            {% if not object.bought %}
            <li><a href="buy/">Označi kot kupljeno</a></li>
            {% endif %}
            <li>
            <form action = "support/" method="post" name="SupportShoppingForm">
                <input name="support" type="submit" value="Podpri"/> ali
                <input name="comment" type="submit" value="Komentiraj"/> predlog:
                <textarea name="note" id="note" rows="5" cols="20"></textarea>
            </form>
            </li>
        </ul>
  </div>
{% endblock %}

{% block content-main %}
    {% print_shopping object %}
{% endblock %}

{% block content-related-right %}
  <div class="module" id="recent-actions-module">
    <h2>Željeni predmeti</h2>
       <ul class="actionlist">
        {% box_list Shopping "bought=False" "template=org/list_shopping.html" %}
    </ul>
</div>
{% endblock %}
