
	<div class="module">
	{% load comments %}
	{% get_comment_list for org.bug object.id as comment_list %}
  {% if comment_list %}
	  <h2 id="comments">Komentarji</h2>
  {% for comment in comment_list %}
          <div class="comment" id="c{{ comment.id }}">
                  <p><b>{{ comment.user }}</b> commented, on {{ comment.submit_date|date:"F j, Y" }} at {{ comment.submit_date|date:"P" }}:</p>
                  {{ comment.comment|escape|urlizetrunc:40|linebreaks }}
          </div>
  {% endfor %}
  {% endif %}

  <h2>Dodaj komentar</h2>
  {% if user.is_authenticated %}
    {% comment_form for org.bug object.id %}
	{% endif %}
</div>
