{% extends "org/base_2col.html" %}
{% block title %}Sodelovanja{% endblock %}

{% block heading %}
        <h1>sodelovanja</h1>
{% endblock %}

{% block content-related-left %}
    <a href="{{ add_link }}">Dodaj novega</a>
    <form method="post" action="">
    <table>{{ form }}</table>
    <input type="submit" />
    </form>

{% endblock %} 

{% block content-main %}
    {% for sodelovanje in sodelovanja %}
        <div class="module">
            <h2>{{ sodelovanje }}</h2>

            <p>Event: {{ sodelovanje.event }}</p>
            <p>Osebek: {{ sodelovanje.person }}</p>
            <p>Tip Sodelovanja: {{ sodelovanje.tip }}</p>
        </div>
        <br>
    {% endfor %}
{% endblock %}
