{% extends "org/base.html" %}

{% block extrahead %}
<script src="http://simile.mit.edu/timeline/api/timeline-api.js" type="text/javascript"></script>
{% endblock %}

{% block extrabody %}<body onload="onLoad();" onresize="onResize();">
{% endblock %}

{% block content %}
<script>
var tl;
function onLoad() {
  var eventSource = new Timeline.DefaultEventSource();
  var bandInfos = [
    Timeline.createBandInfo({
        eventSource:    eventSource,
        date:           "Jun 28 2006 00:00:00 GMT",
        width:          "70%", 
        intervalUnit:   Timeline.DateTime.DAY, 
        intervalPixels: 200
    }),
    Timeline.createBandInfo({
        showEventText:  false,
        trackHeight:    0.5,
        trackGap:       0.2,
        eventSource:    eventSource,
        date:           "Jun 28 2006 00:00:00 GMT",
        width:          "30%", 
        intervalUnit:   Timeline.DateTime.MONTH, 
        intervalPixels: 200
    })
  ];
  bandInfos[1].syncWith = 0;
  bandInfos[1].highlight = true;
  tl = Timeline.create(document.getElementById("casovnica"), bandInfos);
  Timeline.loadXML("source.xml", function(xml, url) { eventSource.loadXML(xml, url); });
}

var resizeTimerID = null;
function onResize() {
    if (resizeTimerID == null) {
        resizeTimerID = window.setTimeout(function() {
            resizeTimerID = null;
            tl.layout();
        }, 500);
    }
}
</script>
<div id="casovnica" style="height: 200px; border: 1px solid #aaa;font-size: 8pt; font-family: Trebuchet MS, Helvetica, Arial, sans serif;"></div>
{% endblock %}

