{% extends "www/base.html" %}
{% load i18n %}

{% block content %}
    <h2>{% trans "Search results:" %} {{ query }}</h2>

    {% for result in page.object_list %}
    <div class="row">
        <div class="span3">
            {% if result.object.event_image %}
                <img src="{{ result.object.event_image.image.url }}" width="250"/>
            {% else %}
                <img src="{{ settings.MEDIA_URL }}events/2010/04/POT___.gif" />
            {% endif %}
            {% if result.object.flickr_set_id %}
                <i class="icon-camera"></i>
                <a href="{{ result.object.get_absolute_url }}#gallery" title="{% trans "Pictures of event" %}" >
                    {% trans "gallery" %}
                </a>&nbsp;
            {% endif %}
            {% if result.object.get_video_urls %}
                <i class="icon-facetime-video"></i>
                <a href="{{ result.object.get_absolute_url }}#video" title="{% trans "Videos of event" %}" >
                    {% trans "videos" %}
                </a>
            {% endif %}
        </div>
        <div class="span9">
            <div><a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a> (<i>{{ result.object.start_date }}</i>)</div>
            {% for sodelovanje in result.object.sodelovanje_set.all %}
                {% if forloop.first %}<strong>{% trans "Collaborators:" %}</strong>{% endif %}
                <i>{{ sodelovanje.person }} ({{ sodelovanje.tip }})</i>{% if not forloop.last %},{% endif %}
            {% endfor %}
            <p>{{ result.object.announce|safe }}</p>
        </div>
    </div>
    <br />
    {% empty %}
        <p>{% trans "No results found" %}.</p>
    {% endfor %}

    {% if page.has_previous or page.has_next %}
    <div class="row">
        <div class="span12 offset6">
            {% if page.has_previous %}
                <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">
            {% endif %}
            &laquo; {% trans "Previous" %}
            {% if page.has_previous %}</a>{% endif %}
            |
            {% if page.has_next %}
                <a href="?q={{ query }}&amp;page={{ page.next_page_number }}">
            {% endif %}
            {% trans "Next" %} &raquo;
            {% if page.has_next %}</a>{% endif %}
        </div>
    </div>
    {% endif %}
{% endblock %}
