{% load url from future %}

{% if no_tech %}
<h2 style="color:red">Dogodki potrebujejo tehnika:</h2>
<ul>
    {% for event in no_tech %}
        <li> <a href="{% url 'event_edit' event.id %}">{{ event }}</a> </li>
    {% endfor %}
</ul>
{% endif %}

{% if no_responsible %}
<h2 style="color:red">Dogodki potrebujejo dežurnega:</h2>
<ul>
    {% for event in no_responsible %}
        <li> <a href="{% url 'event_edit' event.id %}">{{ event }}</a> </li>
    {% endfor %}
</ul>
{% endif %}

<h2>Dnevniki</h2>
{% for diary in diaries %}
<strong>{{ diary.date }} - {{ diary.author }} - {{ diary.task }} - {{ diary.length }}</strong>
<p>{{ diary.log_formal|safe|urlize }}</p>
{% if diary.log_informal %}
<br />
<strong>neuradni del:</strong>
<p>{{ diary.log_informal|safe|urlize }}</p>
{% endif %}
{% endfor %}

<h2>Kracarka</h2>

<pre>{{ scratchpad }}</pre>

<h2>Preteceni reverzi</h2>

{% for lend in lends %}
<p>{{ lend.what }} - {{ lend.to_who }} posodil {{ lend.from_who }} (vrni čez {{ lend.days_due.days }} dni)</p>
{% endfor %}
