Zdravo  :)

Glede na to, da si sedaj uradno med nami, potrebuješ dostop do vseh storitev.

Isto geslo se uporablja za dostop do vseh storitev (to nam omogoča tehnologija LDAP, o kateri boš verjetno kdaj še slišal/slisala v Kiberpipi).

Uporabniško ime: {{ username }}
Geslo: {{ password }}

Na kratko, najbolj relavantne so naslednje storitve:

- https://wiki.kiberpipa.org - Naša interna baza znanja
-  email naslov - uporabnisko_ime@kiberpipa.org 
    ( https://wiki.kiberpipa.org/sys/storitve/e-posta )
- https://dev.kiberpipa.org/ - Issue tracker. 
    Tu beležimo VSE napake/pripombe glede spletne strani, intraneta ter infrastrukture (sepravi strezniki, itd)
- http://www.kiberpipa.org/ - naša javna spletna stran
- http://www.kiberpipa.org/intranet/ - prej omenjeni intranet
- IRC - streznik: irc.sioff.net kanal: #kiberpipa
    http://chat.mibbit.com/?channel=%23kiberpipa&server=irc.sioff.net

V vse storitve se prijavis z uporabniskim imenom razen v email, kjer moras napisati email naslov kot uporabnisko ime.

Stvari, ki jih moras narediti:

1) Izpolni Imenik v Intranetu ter si zamenjaj LDAP geslo: https://www.kiberpipa.org/intranet/addressbook/

2) V kolikor se nisi seznanjen/seznanjena z prostori v katerih gosti kiberpipa, priporocam da pocukas kaksnega pipca/pipko (kiberpipci), da ti razkaze prostore.

2) V kiberpipi locujemo odpadke. 
Povprasaj pipce glede tega, drugace imas na vsakem kosu napis za katero vrsto odpadkov gre, nad kosem ali v bliznji okolici pa imas se nalepljen list. 
Na katerem pise kaksne vrste odpadkov spadajo v kaksen kos.

3) Kiberpipini zapisniki se nahajajo v https://wiki.kiberpipa.org/ .

4) V kolikor v kiberpipi, za kiberpipo karkoli delas napisi to v dnevnik na https://www.kiberpipa.org/intranet/diarys/, to nam omogoca pregled ur, ki jih je posameznik naredil, kar nam pomaga pri razpisih. 
Tedensko/dnevno se poslje email, ki poroca o tvojem dnevniku celotni notranji listi.
Tako imamo neko avtomatizirano kordinacijo.

Good luck young padawan/ master jedi

P.S. V kolikor se ti zdi da manjka kaksna informacija, nam to prosim sporoci.
Saj je to osnutek sporocila za nove pipce. :D
