	#navigation{
		text-align:center;
		margin-left:62px;
	}
		#navigation ul{
			margin-left:55px !important;
			margin-left:35px;
		}
			#navigation li{
				float:left;
				margin:0 20px;
				background-color:#EEE;
			}
				#navigation a{
					color:#933;
					font-weight:bolder;
					text-decoration:none;
				}
	
#sections{
	overflow:hidden;
	clear:left;
}
	
	#sections ul{
		width:3660px;
	}
	
		#sections li{
			float:left;
		}
			#sections p{
				width:550px;
				font-size:85%;
				line-height:1.4em;
			}
			
			#sections h2{
				font-size: 16px; font-weight: bold; margin: 0 0 10px 0; text-decoration: underline;
			}
			#sections a{
				color:#777;
				font-weight:bolder;
				text-decoration:none;
			}

.clear{
	clear:both;
	width:0;
	height:0;
}

